openapi: 3.1.0
info:
  title: Svix Application Event Type API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.84.0
  x-logo:
    altText: Svix Logo
    url: https://www.svix.com/static/img/brand-padded.svg
servers:
- url: https://api.eu.svix.com/
  description: The Svix EU region
- url: https://api.us.svix.com/
  description: The Svix US region
- url: https://api.ca.svix.com/
  description: The Svix Canada region
- url: https://api.au.svix.com/
  description: The Svix Australia region
- url: https://api.in.svix.com/
  description: The Svix India region
tags:
- name: Event Type
  description: Event types are identifiers denoting the type of message being sent. Event types are primarily used to decide which events are sent to which endpoint.
paths:
  /api/v1/event-type:
    get:
      tags:
      - Event Type
      summary: List Event Types
      description: Return the list of event types.
      operationId: v1.event-type.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
          example: user.signup
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      - in: query
        name: include_archived
        description: When `true` archived (deleted but not expunged) items are included in the response.
        schema:
          description: When `true` archived (deleted but not expunged) items are included in the response.
          default: false
          type: boolean
        style: form
      - in: query
        name: with_content
        description: When `true` the full item (including the schema) is included in the response.
        schema:
          description: When `true` the full item (including the schema) is included in the response.
          default: false
          type: boolean
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EventTypeOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.eventType.list();
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.eventType.list();
      - label: Python
        lang: Python
        source: response = svix.event_type.list()
      - label: Python (Async)
        lang: Python
        source: response = await svix.event_type.list()
      - label: Go
        lang: Go
        source: response, err := svix.EventType.List(ctx, nil)
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.eventType.list()
      - label: Java
        lang: Java
        source: var response = svix.getEventType().list();
      - label: Ruby
        lang: Ruby
        source: response = svix.event_type.list
      - label: Rust
        lang: Rust
        source: let response = svix.event_type().list(None).await?;
      - label: C#
        lang: C#
        source: var response = svix.EventType.List();
      - label: PHP
        lang: PHP
        source: $response = $svix->eventType->list();
      - label: CLI
        lang: Shell
        source: svix event-type list
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/event-type' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Event Type
      summary: Create Event Type
      description: 'Create new or unarchive existing event type.


        Unarchiving an event type will allow endpoints to filter on it and messages to be sent with it.

        Endpoints filtering on the event type before archival will continue to filter on it.

        This operation does not preserve the description and schemas.'
      operationId: v1.event-type.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTypeIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.eventType.create({\n  archived: true,\n  deprecated: true,\n  description: \"A user has signed up\",\n  featureFlags: [\"cool-new-feature\"],\n  groupName: \"user\",\n  name: \"user.signup\",\n  schemas: {\n    \"1\": {\n      description: \"An invoice was paid by a user\",\n      properties: {\n        invoiceId: { description: \"The invoice id\", type: \"string\" },\n        userId: { description: \"The user id\", type: \"string\" },\n      },\n      required: [\"invoiceId\", \"userId\"],\n      title: \"Invoice Paid Event\",\n      type: \"object\",\n    },\n  },\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.eventType.create({\n  archived: true,\n  deprecated: true,\n  description: \"A user has signed up\",\n  featureFlags: [\"cool-new-feature\"],\n  groupName: \"user\",\n  name: \"user.signup\",\n  schemas: {\n    \"1\": {\n      description: \"An invoice was paid by a user\",\n      properties: {\n        invoiceId: { description: \"The invoice id\", type: \"string\" },\n        userId: { description: \"The user id\", type: \"string\" },\n      },\n      required: [\"invoiceId\", \"userId\"],\n      title: \"Invoice Paid Event\",\n      type: \"object\",\n    },\n  },\n});"
      - label: Python
        lang: Python
        source: "response = svix.event_type.create(\n    EventTypeIn(\n        archived=True,\n        deprecated=True,\n        description=\"A user has signed up\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        group_name=\"user\",\n        name=\"user.signup\",\n        schemas={\n            \"1\": {\n                \"description\": \"An invoice was paid by a user\",\n                \"properties\": {\n                    \"invoiceId\": {\"description\": \"The invoice id\", \"type\": \"string\"},\n                    \"userId\": {\"description\": \"The user id\", \"type\": \"string\"},\n                },\n                \"required\": [\"invoiceId\", \"userId\"],\n                \"title\": \"Invoice Paid Event\",\n                \"type\": \"object\",\n            }\n        },\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.event_type.create(\n    EventTypeIn(\n        archived=True,\n        deprecated=True,\n        description=\"A user has signed up\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        group_name=\"user\",\n        name=\"user.signup\",\n        schemas={\n            \"1\": {\n                \"description\": \"An invoice was paid by a user\",\n                \"properties\": {\n                    \"invoiceId\": {\"description\": \"The invoice id\", \"type\": \"string\"},\n                    \"userId\": {\"description\": \"The user id\", \"type\": \"string\"},\n                },\n                \"required\": [\"invoiceId\", \"userId\"],\n                \"title\": \"Invoice Paid Event\",\n                \"type\": \"object\",\n            }\n        },\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.EventType.Create(\n\tctx,\n\tEventTypeIn{\n\t\tArchived:     new(true),\n\t\tDeprecated:   new(true),\n\t\tDescription:  \"A user has signed up\",\n\t\tFeatureFlags: []string{\"cool-new-feature\"},\n\t\tGroupName:    new(\"user\"),\n\t\tName:         \"user.signup\",\n\t\tSchemas:      nil,\n\t},\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.eventType.create(\n        EventTypeIn(\n            archived = true,\n            deprecated = true,\n            description = \"A user has signed up\",\n            featureFlags = setOf(\"cool-new-feature\"),\n            groupName = \"user\",\n            name = \"user.signup\",\n            schemas = mapOf(),\n        )\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getEventType()\n        .create(new EventTypeIn()\n            .archived(true)\n            .deprecated(true)\n            .description(\"A user has signed up\")\n            .featureFlags(Set.of(\"cool-new-feature\"))\n            .groupName(\"user\")\n            .name(\"user.signup\")\n            .schemas(Map.of()));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .event_type\n  .create(\n    {\n      archived: true,\n      deprecated: true,\n      description: \"A user has signed up\",\n      featureFlags: [\"cool-new-feature\"],\n      groupName: \"user\",\n      name: \"user.signup\",\n      schemas: {}\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .event_type()\n    .create(\n        EventTypeIn {\n            archived: Some(true),\n            deprecated: Some(true),\n            description: \"A user has signed up\".to_string(),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n            group_name: Some(\"user\".to_string()),\n            name: \"user.signup\".to_string(),\n            schemas: Some(\n                serde_json::json!(\n                    { \"1\" : { \"description\" : \"An invoice was paid by a user\",\n                    \"properties\" : { \"invoiceId\" : { \"description\" :\n                    \"The invoice id\", \"type\" : \"string\" }, \"userId\" : { \"description\"\n                    : \"The user id\", \"type\" : \"string\" } }, \"required\" :\n                    [\"invoiceId\", \"userId\"], \"title\" : \"Invoice Paid Event\", \"type\" :\n                    \"object\" } }\n                ),\n            ),\n        },\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.EventType.Create(\n    new EventTypeIn\n    {\n        Archived = true,\n        Deprecated = true,\n        Description = \"A user has signed up\",\n        FeatureFlags = [\"cool-new-feature\"],\n        GroupName = \"user\",\n        Name = \"user.signup\",\n        Schemas = new Dictionary<string, string> { },\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->eventType->create(\n    EventTypeIn::create(\n        description: \"A user has signed up\",\n        name: \"user.signup\"\n    )\n    ->withArchived(true)\n    ->withDeprecated(true)\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withGroupName(\"user\")\n);"
      - label: CLI
        lang: Shell
        source: "svix event-type create '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"A user has signed up\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"groupName\": \"user\",\n    \"name\": \"user.signup\",\n    \"schemas\": {\n      \"1\": {\n        \"description\": \"An invoice was paid by a user\",\n        \"properties\": {\n          \"invoiceId\": {\n            \"description\": \"The invoice id\",\n            \"type\": \"string\"\n          },\n          \"userId\": {\n            \"description\": \"The user id\",\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"invoiceId\",\n          \"userId\"\n        ],\n        \"title\": \"Invoice Paid Event\",\n        \"type\": \"object\"\n      }\n    }\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/event-type' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"A user has signed up\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"groupName\": \"user\",\n    \"name\": \"user.signup\",\n    \"schemas\": {\n      \"1\": {\n        \"description\": \"An invoice was paid by a user\",\n        \"properties\": {\n          \"invoiceId\": {\n            \"description\": \"The invoice id\",\n            \"type\": \"string\"\n          },\n          \"userId\": {\n            \"description\": \"The user id\",\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"invoiceId\",\n          \"userId\"\n        ],\n        \"title\": \"Invoice Paid Event\",\n        \"type\": \"object\"\n      }\n    }\n  }'"
  /api/v1/event-type/import/openapi:
    post:
      tags:
      - Event Type
      summary: Event Type Import From Openapi
      description: 'Given an OpenAPI spec, create new or update existing event types.


        If an existing `archived` event type is updated, it will be unarchived.

        The importer will convert all webhooks found in the either the `webhooks` or `x-webhooks`

        top-level.'
      operationId: v1.event-type.import-openapi
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        description: 'Import a list of event types from webhooks defined in an OpenAPI spec.


          The OpenAPI spec can be specified as either `spec` given the spec as a JSON object, or as `specRaw` (a `string`) which will be parsed as YAML or JSON by the server. Sending neither or both is invalid, resulting in a `400` **Bad Request**.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTypeImportOpenApiIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeImportOpenApiOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.eventType.importOpenapi({\n  dryRun: true,\n  replaceAll: true,\n  spec: {\n    info: { title: \"Webhook Example\", version: \"1.0.0\" },\n    openapi: \"3.1.0\",\n    webhooks: {\n      \"pet.new\": {\n        post: {\n          requestBody: {\n            content: {\n              \"application/json\": {\n                schema: {\n                  properties: {\n                    id: { format: \"int64\", type: \"integer\" },\n                    name: { type: \"string\" },\n                    tag: { type: \"string\" },\n                  },\n                  required: [\"id\", \"name\"],\n                },\n              },\n            },\n            description: \"Information about a new pet in the system\",\n          },\n          responses: {\n            \"200\": {\n              description:\n                \"Return a 200 status to indicate that the data was received successfully\",\n            },\n          },\n        },\n      },\n    },\n  },\n  specRaw: \"sample string\",\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.eventType.importOpenapi({\n  dryRun: true,\n  replaceAll: true,\n  spec: {\n    info: { title: \"Webhook Example\", version: \"1.0.0\" },\n    openapi: \"3.1.0\",\n    webhooks: {\n      \"pet.new\": {\n        post: {\n          requestBody: {\n            content: {\n              \"application/json\": {\n                schema: {\n                  properties: {\n                    id: { format: \"int64\", type: \"integer\" },\n                    name: { type: \"string\" },\n                    tag: { type: \"string\" },\n                  },\n                  required: [\"id\", \"name\"],\n                },\n              },\n            },\n            description: \"Information about a new pet in the system\",\n          },\n          responses: {\n            \"200\": {\n              description:\n                \"Return a 200 status to indicate that the data was received successfully\",\n            },\n          },\n        },\n      },\n    },\n  },\n  specRaw: \"sample string\",\n});"
      - label: Python
        lang: Python
        source: "response = svix.event_type.import_openapi(\n    EventTypeImportOpenApiIn(\n        dry_run=True,\n        replace_all=True,\n        spec={\n            \"info\": {\"title\": \"Webhook Example\", \"version\": \"1.0.0\"},\n            \"openapi\": \"3.1.0\",\n            \"webhooks\": {\n                \"pet.new\": {\n                    \"post\": {\n                        \"requestBody\": {\n                            \"content\": {\n                                \"application/json\": {\n                                    \"schema\": {\n                                        \"properties\": {\n                                            \"id\": {\n                                                \"format\": \"int64\",\n                                                \"type\": \"integer\",\n                                            },\n                                            \"name\": {\"type\": \"string\"},\n                                            \"tag\": {\"type\": \"string\"},\n                                        },\n                                        \"required\": [\"id\", \"name\"],\n                                    }\n                                }\n                            },\n                            \"description\": \"Information about a new pet in the system\",\n                        },\n                        \"responses\": {\n                            \"200\": {\n                                \"description\": \"Return a 200 status to indicate that the data was received successfully\"\n                            }\n                        },\n                    }\n                }\n            },\n        },\n        spec_raw=\"sample string\",\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.event_type.import_openapi(\n    EventTypeImportOpenApiIn(\n        dry_run=True,\n        replace_all=True,\n        spec={\n            \"info\": {\"title\": \"Webhook Example\", \"version\": \"1.0.0\"},\n            \"openapi\": \"3.1.0\",\n            \"webhooks\": {\n                \"pet.new\": {\n                    \"post\": {\n                        \"requestBody\": {\n                            \"content\": {\n                                \"application/json\": {\n                                    \"schema\": {\n                                        \"properties\": {\n                                            \"id\": {\n                                                \"format\": \"int64\",\n                                                \"type\": \"integer\",\n                                            },\n                                            \"name\": {\"type\": \"string\"},\n                                            \"tag\": {\"type\": \"string\"},\n                                        },\n                                        \"required\": [\"id\", \"name\"],\n                                    }\n                                }\n                            },\n                            \"description\": \"Information about a new pet in the system\",\n                        },\n                        \"responses\": {\n                            \"200\": {\n                                \"description\": \"Return a 200 status to indicate that the data was received successfully\"\n                            }\n                        },\n                    }\n                }\n            },\n        },\n        spec_raw=\"sample string\",\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.EventType.ImportOpenapi(\n\tctx,\n\tEventTypeImportOpenApiIn{\n\t\tDryRun:     new(true),\n\t\tReplaceAll: new(true),\n\t\tSpec:       nil,\n\t\tSpecRaw:    new(\"sample string\"),\n\t},\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.eventType.importOpenapi(\n        EventTypeImportOpenApiIn(\n            dryRun = true,\n            replaceAll = true,\n            spec = mapOf(),\n            specRaw = \"sample string\",\n        )\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getEventType()\n        .importOpenapi(new EventTypeImportOpenApiIn()\n            .dryRun(true)\n            .replaceAll(true)\n            .spec(Map.of())\n            .specRaw(\"sample string\"));"
      - label: Ruby
        lang: Ruby
        source: 'response = svix.event_type.import_openapi({dryRun: true, replaceAll: true, spec: {}, specRaw: "sample string"})'
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .event_type()\n    .import_openapi(\n        EventTypeImportOpenApiIn {\n            dry_run: Some(true),\n            replace_all: Some(true),\n            spec: Some(\n                serde_json::json!(\n                    { \"info\" : { \"title\" : \"Webhook Example\", \"version\" : \"1.0.0\" },\n                    \"openapi\" : \"3.1.0\", \"webhooks\" : { \"pet.new\" : { \"post\" : {\n                    \"requestBody\" : { \"content\" : { \"application/json\" : { \"schema\" :\n                    { \"properties\" : { \"id\" : { \"format\" : \"int64\", \"type\" :\n                    \"integer\" }, \"name\" : { \"type\" : \"string\" }, \"tag\" : { \"type\" :\n                    \"string\" } }, \"required\" : [\"id\", \"name\"] } } }, \"description\" :\n                    \"Information about a new pet in the system\" }, \"responses\" : {\n                    \"200\" : { \"description\" :\n                    \"Return a 200 status to indicate that the data was received successfully\"\n                    } } } } } }\n                ),\n            ),\n            spec_raw: Some(\"sample string\".to_string()),\n        },\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.EventType.ImportOpenapi(\n    new EventTypeImportOpenApiIn\n    {\n        DryRun = true,\n        ReplaceAll = true,\n        Spec = new Dictionary<string, string> { },\n        SpecRaw = \"sample string\",\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->eventType->importOpenapi(\n    EventTypeImportOpenApiIn::create()\n    ->withDryRun(true)\n    ->withReplaceAll(true)\n    ->withSpecRaw(\"sample string\")\n);"
      - label: CLI
        lang: Shell
        source: "svix event-type import-openapi '{\n    \"dryRun\": true,\n    \"replaceAll\": true,\n    \"spec\": {\n      \"info\": {\n        \"title\": \"Webhook Example\",\n        \"version\": \"1.0.0\"\n      },\n      \"openapi\": \"3.1.0\",\n      \"webhooks\": {\n        \"pet.new\": {\n          \"post\": {\n            \"requestBody\": {\n              \"content\": {\n                \"application/json\": {\n                  \"schema\": {\n                    \"properties\": {\n                      \"id\": {\n                        \"format\": \"int64\",\n                        \"type\": \"integer\"\n                      },\n                      \"name\": {\n                        \"type\": \"string\"\n                      },\n                      \"tag\": {\n                        \"type\": \"string\"\n                      }\n                    },\n                    \"required\": [\n                      \"id\",\n                      \"name\"\n                    ]\n                  }\n                }\n              },\n              \"description\": \"Information about a new pet in the system\"\n            },\n            \"responses\": {\n              \"200\": {\n                \"description\": \"Return a 200 status to indicate that the data was received successfully\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"specRaw\": \"sample string\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/event-type/import/openapi' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"dryRun\": true,\n    \"replaceAll\": true,\n    \"spec\": {\n      \"info\": {\n        \"title\": \"Webhook Example\",\n        \"version\": \"1.0.0\"\n      },\n      \"openapi\": \"3.1.0\",\n      \"webhooks\": {\n        \"pet.new\": {\n          \"post\": {\n            \"requestBody\": {\n              \"content\": {\n                \"application/json\": {\n                  \"schema\": {\n                    \"properties\": {\n                      \"id\": {\n                        \"format\": \"int64\",\n                        \"type\": \"integer\"\n                      },\n                      \"name\": {\n                        \"type\": \"string\"\n                      },\n                      \"tag\": {\n                        \"type\": \"string\"\n                      }\n                    },\n                    \"required\": [\n                      \"id\",\n                      \"name\"\n                    ]\n                  }\n                }\n              },\n              \"description\": \"Information about a new pet in the system\"\n            },\n            \"responses\": {\n              \"200\": {\n                \"description\": \"Return a 200 status to indicate that the data was received successfully\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"specRaw\": \"sample string\"\n  }'"
  /api/v1/event-type/{event_type_name}:
    get:
      tags:
      - Event Type
      summary: Get Event Type
      description: Get an event type.
      operationId: v1.event-type.get
      parameters:
      - in: path
        name: event_type_name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.eventType.get("user.signup");
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.eventType.get("user.signup");
      - label: Python
        lang: Python
        source: "response = svix.event_type.get(\n    \"user.signup\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.event_type.get(\n    \"user.signup\",\n)"
      - label: Go
        lang: Go
        source: response, err := svix.EventType.Get(ctx, "user.signup")
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.eventType.get("user.signup")
      - label: Java
        lang: Java
        source: var response = svix.getEventType().get("user.signup");
      - label: Ruby
        lang: Ruby
        source: response = svix.event_type.get("user.signup")
      - label: Rust
        lang: Rust
        source: let response = svix.event_type().get("user.signup".to_string()).await?;
      - label: C#
        lang: C#
        source: var response = svix.EventType.Get("user.signup");
      - label: PHP
        lang: PHP
        source: "$response = $svix->eventType->get(\n    \"user.signup\"\n);"
      - label: CLI
        lang: Shell
        source: svix event-type get "user.signup"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/event-type/user.signup' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Event Type
      summary: Update Event Type
      description: Update an event type.
      operationId: v1.event-type.update
      parameters:
      - in: path
        name: event_type_name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTypeUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.eventType.update(\"user.signup\", {\n  archived: true,\n  deprecated: true,\n  description: \"A user has signed up\",\n  featureFlags: [\"cool-new-feature\"],\n  groupName: \"user\",\n  schemas: {\n    \"1\": {\n      description: \"An invoice was paid by a user\",\n      properties: {\n        invoiceId: { description: \"The invoice id\", type: \"string\" },\n        userId: { description: \"The user id\", type: \"string\" },\n      },\n      required: [\"invoiceId\", \"userId\"],\n      title: \"Invoice Paid Event\",\n      type: \"object\",\n    },\n  },\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.eventType.update(\"user.signup\", {\n  archived: true,\n  deprecated: true,\n  description: \"A user has signed up\",\n  featureFlags: [\"cool-new-feature\"],\n  groupName: \"user\",\n  schemas: {\n    \"1\": {\n      description: \"An invoice was paid by a user\",\n      properties: {\n        invoiceId: { description: \"The invoice id\", type: \"string\" },\n        userId: { description: \"The user id\", type: \"string\" },\n      },\n      required: [\"invoiceId\", \"userId\"],\n      title: \"Invoice Paid Event\",\n      type: \"object\",\n    },\n  },\n});"
      - label: Python
        lang: Python
        source: "response = svix.event_type.update(\n    \"user.signup\",\n    EventTypeUpdate(\n        archived=True,\n        deprecated=True,\n        description=\"A user has signed up\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        group_name=\"user\",\n        schemas={\n            \"1\": {\n                \"description\": \"An invoice was paid by a user\",\n                \"properties\": {\n                    \"invoiceId\": {\"description\": \"The invoice id\", \"type\": \"string\"},\n                    \"userId\": {\"description\": \"The user id\", \"type\": \"string\"},\n                },\n                \"required\": [\"invoiceId\", \"userId\"],\n                \"title\": \"Invoice Paid Event\",\n                \"type\": \"object\",\n            }\n        },\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.event_type.update(\n    \"user.signup\",\n    EventTypeUpdate(\n        archived=True,\n        deprecated=True,\n        description=\"A user has signed up\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        group_name=\"user\",\n        schemas={\n            \"1\": {\n                \"description\": \"An invoice was paid by a user\",\n                \"properties\": {\n                    \"invoiceId\": {\"description\": \"The invoice id\", \"type\": \"string\"},\n                    \"userId\": {\"description\": \"The user id\", \"type\": \"string\"},\n                },\n                \"required\": [\"invoiceId\", \"userId\"],\n                \"title\": \"Invoice Paid Event\",\n                \"type\": \"object\",\n            }\n        },\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.EventType.Update(\n\tctx,\n\t\"user.signup\",\n\tEventTypeUpdate{\n\t\tArchived:     new(true),\n\t\tDeprecated:   new(true),\n\t\tDescription:  \"A user has signed up\",\n\t\tFeatureFlags: []string{\"cool-new-feature\"},\n\t\tGroupName:    new(\"user\"),\n\t\tSchemas:      nil,\n\t},\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.eventType.update(\n        \"user.signup\",\n        EventTypeUpdate(\n            archived = true,\n            deprecated = true,\n            description = \"A user has signed up\",\n            featureFlags = setOf(\"cool-new-feature\"),\n            groupName = \"user\",\n            schemas = mapOf(),\n        ),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getEventType()\n        .update(\n            \"user.signup\",\n            new EventTypeUpdate()\n                .archived(true)\n                .deprecated(true)\n                .description(\"A user has signed up\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .groupName(\"user\")\n                .schemas(Map.of()));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .event_type\n  .update(\n    \"user.signup\",\n    {\n      archived: true,\n      deprecated: true,\n      description: \"A user has signed up\",\n      featureFlags: [\"cool-new-feature\"],\n      groupName: \"user\",\n      schemas: {}\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .event_type()\n    .update(\n        \"user.signup\".to_string(),\n        EventTypeUpdate {\n            archived: Some(true),\n            deprecated: Some(true),\n            description: \"A user has signed up\".to_string(),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n            group_name: Some(\"user\".to_string()),\n            schemas: Some(\n                serde_json::json!(\n                    { \"1\" : { \"description\" : \"An invoice was paid by a user\",\n                    \"properties\" : { \"invoiceId\" : { \"description\" :\n                    \"The invoice id\", \"type\" : \"string\" }, \"userId\" : { \"description\"\n                    : \"The user id\", \"type\" : \"string\" } }, \"required\" :\n                    [\"invoiceId\", \"userId\"], \"title\" : \"Invoice Paid Event\", \"type\" :\n                    \"object\" } }\n                ),\n            ),\n        },\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.EventType.Update(\n    \"user.signup\",\n    new EventTypeUpdate\n    {\n        Archived = true,\n        Deprecated = true,\n        Description = \"A user has signed up\",\n        FeatureFlags = [\"cool-new-feature\"],\n        GroupName = \"user\",\n        Schemas = new Dictionary<string, string> { },\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->eventType->update(\n    \"user.signup\",\n    EventTypeUpdate::create(\n        description: \"A user has signed up\"\n    )\n    ->withArchived(true)\n    ->withDeprecated(true)\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withGroupName(\"user\")\n);"
      - label: CLI
        lang: Shell
        source: "svix event-type update \"user.signup\" '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"A user has signed up\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"groupName\": \"user\",\n    \"schemas\": {\n      \"1\": {\n        \"description\": \"An invoice was paid by a user\",\n        \"properties\": {\n          \"invoiceId\": {\n            \"description\": \"The invoice id\",\n            \"type\": \"string\"\n          },\n          \"userId\": {\n            \"description\": \"The user id\",\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"invoiceId\",\n          \"userId\"\n        ],\n        \"title\": \"Invoice Paid Event\",\n        \"type\": \"object\"\n      }\n    }\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/event-type/user.signup' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"A user has signed up\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"groupName\": \"user\",\n    \"schemas\": {\n      \"1\": {\n        \"description\": \"An invoice was paid by a user\",\n        \"properties\": {\n          \"invoiceId\": {\n            \"description\": \"The invoice id\",\n            \"type\": \"string\"\n          },\n          \"userId\": {\n            \"description\": \"The user id\",\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"invoiceId\",\n          \"userId\"\n        ],\n        \"title\": \"Invoice Paid Event\",\n        \"type\": \"object\"\n      }\n    }\n  }'"
    delete:
      tags:
      - Event Type
      summary: Delete Event Type
      description: 'Archive an event type.


        Endpoints already configured to filter on an event type will continue to do so after archival.

        However, new messages can not be sent with it and endpoints can not filter on it.

        An event type can be unarchived with the

        [create operation](#operation/create_event_type_api_v1_event_type__post).'
      operationId: v1.event-type.delete
      parameters:
      - in: path
        name: event_type_name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      - in: query
        name: expunge
        description: By default event types are archived when "deleted". Passing this to `true` deletes them entirely.
        schema:
          description: By default event types are archived when "deleted". Passing this to `true` deletes them entirely.
          default: false
          type: boolean
        style: form
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: await svix.eventType.delete("user.signup");
      - label: TypeScript
        lang: TypeScript
        source: await svix.eventType.delete("user.signup");
      - label: Python
        lang: Python
        source: "svix.event_type.delete(\n    \"user.signup\",\n)"
      - label: Python (Async)
        lang: Python
        source: "await svix.event_type.delete(\n    \"user.signup\",\n)"
      - label: Go
        lang: Go
        source: err := svix.EventType.Delete(ctx, "user.signup", nil)
      - label: Kotlin
        lang: Kotlin
        source: "svix.eventType.delete(\n    \"user.signup\"\n)"
      - label: Java
        lang: Java
        source: svix.getEventType().delete("user.signup");
      - label: Ruby
        lang: Ruby
        source: response = svix.event_type.delete("user.signup")
      - label: Rust
        lang: Rust
        source: svix.event_type().delete("user.signup".to_string(), None).await?;
      - label: C#
        lang: C#
        source: var response = svix.EventType.Delete("user.signup");
      - label: PHP
        lang: PHP
        source: "$svix->eventType->delete(\n    \"user.signup\"\n);"
      - label: CLI
        lang: Shell
        source: svix event-type delete "user.signup"
      - label: cURL
        lang: Shell
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/event-type/user.signup' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Event Type
      summary: Patch Event Type
      description: Partially update an event type.
      operationId: v1.event-type.patch
      parameters:
      - in: path
        name: event_type_name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTypePatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.eventType.patch(\"user.signup\", {\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  groupName: \"user\",\n  schemas: {\n    description: \"An invoice was paid by a user\",\n    properties: {\n      invoiceId: { description: \"The invoice id\", type: \"string\" },\n      userId: { description: \"The user id\", type: \"string\" },\n    },\n    required: [\"invoiceId\", \"userId\"],\n    title: \"Invoice Paid Event\",\n    type: \"object\",\n  },\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.eventType.patch(\"user.signup\", {\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  groupName: \"user\",\n  schemas: {\n    description: \"An invoice was paid by a user\",\n    properties: {\n      invoiceId: { description: \"The invoice id\", type: \"string\" },\n      userId: { description: \"The user id\", type: \"string\" },\n    },\n    required: [\"invoiceId\", \"userId\"],\n    title: \"Invoice Paid Event\",\n    type: \"object\",\n  },\n});"
      - label: Python
        lang: Python
        source: "response = svix.event_type.patch(\n    \"user.signup\",\n    EventTypePatch(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        group_name=\"user\",\n        schemas={\n            \"description\": \"An invoice was paid by a user\",\n            \"properties\": {\n                \"invoiceId\": {\"description\": \"The invoice id\", \"type\": \"string\"},\n                \"userId\": {\"description\": \"The user id\", \"type\": \"string\"},\n            },\n            \"required\": [\"invoiceId\", \"userId\"],\n            \"title\": \"Invoice Paid Event\",\n            \"type\": \"object\",\n        },\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.event_type.patch(\n    \"user.signup\",\n    EventTypePatch(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        group_name=\"user\",\n        schemas={\n            \"description\": \"An invoice was paid by a user\",\n            \"properties\": {\n                \"invoiceId\": {\"description\": \"The invoice id\", \"type\": \"string\"},\n                \"userId\": {\"description\": \"The user id\", \"type\": \"string\"},\n            },\n            \"required\": [\"invoiceId\", \"userId\"],\n            \"title\": \"Invoice Paid Event\",\n            \"type\": \"object\",\n        },\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.EventType.Patch(\n\tctx,\n\t\"user.signup\",\n\tEventTypePatch{\n\t\tArchived:     new(true),\n\t\tDeprecated:   new(true),\n\t\tDescription:  new(\"sample string\"),\n\t\tFeatureFlags: NewNullable([]string{\"cool-new-feature\"}),\n\t\tGroupName:    NewNullable(\"user\"),\n\t\tSchemas:      NewUnsetNullable[map[string]any](),\n\t},\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.eventType.patch(\n        \"user.signup\",\n        EventTypePatch(\n            archived = true,\n            deprecated = true,\n            description = \"sample string\",\n            featureFlags = MaybeUnset.Present(setOf(\"cool-new-feature\")),\n            groupName = MaybeUnset.Present(\"user\"),\n            schemas = MaybeUnset.Present(mapOf()),\n        ),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getEventType()\n        .patch(\n            \"user.signup\",\n            new EventTypePatch()\n                .archived(true)\n                .deprecated(true)\n                .description(\"sample string\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .groupName(\"user\")\n                .schemas(Map.of()));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .event_type\n  .patch(\n    \"user.signup\",\n    {\n      archived: true,\n      deprecated: true,\n      description: \"sample string\",\n      featureFlags: [\"cool-new-feature\"],\n      groupName: \"user\",\n      schemas: {}\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .event_type()\n    .patch(\n        \"user.signup\".to_string(),\n        EventTypePatch {\n            archived: Some(true),\n            deprecated: Some(true),\n            description: Some(\"sample string\".to_string()),\n            feature_flags: js_option::JsOption::Some(\n                vec![\"cool-new-feature\".to_string()],\n            ),\n            group_name: js_option::JsOption::Some(\"user\".to_string()),\n            schemas: js_option::JsOption::Some(\n                serde_json::json!(\n                    { \"description\" : \"An invoice was paid by a user\", \"properties\" :\n                    { \"invoiceId\" : { \"description\" : \"The invoice id\", \"type\" :\n                    \"string\" }, \"userId\" : { \"description\" : \"The user id\", \"type\" :\n                    \"string\" } }, \"required\" : [\"invoiceId\", \"userId\"], \"title\" :\n                    \"Invoice Paid Event\", \"type\" : \"object\" }\n                ),\n            ),\n        },\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.EventType.Patch(\n    \"user.signup\",\n    new EventTypePatch\n    {\n        Archived = true,\n        Deprecated = true,\n        Description = \"sample string\",\n        FeatureFlags = MaybeUnset<List<string>?>.Set([\"cool-new-feature\"]),\n        GroupName = \"user\",\n        Schemas = new Dictionary<string, string> { },\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->eventType->patch(\n    \"user.signup\",\n    EventTypePatch::create()\n    ->withArchived(true)\n    ->withDeprecated(true)\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withGroupName(\"user\")\n);"
      - label: CLI
        lang: Shell
        source: "svix event-type patch \"user.signup\" '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"groupName\": \"user\",\n    \"schemas\": {\n      \"description\": \"An invoice was paid by a user\",\n      \"properties\": {\n        \"invoiceId\": {\n          \"description\": \"The invoice id\",\n          \"type\": \"string\"\n        },\n        \"userId\": {\n          \"description\": \"The user id\",\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"invoiceId\",\n        \"userId\"\n      ],\n      \"title\": \"Invoice Paid Event\",\n      \"type\": \"object\"\n    }\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/event-type/user.signup' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"groupName\": \"user\",\n    \"schemas\": {\n      \"description\": \"An invoice was paid by a user\",\n      \"properties\": {\n        \"invoiceId\": {\n          \"description\": \"The invoice id\",\n          \"type\": \"string\"\n        },\n        \"userId\": {\n          \"description\": \"The user id\",\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"invoiceId\",\n        \"userId\"\n      ],\n      \"title\": \"Invoice Paid Event\",\n      \"type\": \"object\"\n    }\n  }'"
components:
  schemas:
    EventTypeImportOpenApiOutData:
      type: object
      required:
      - modified
      properties:
        modified:
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
        to_modify:
          type: array
          items:
            $ref: '#/components/schemas/EventTypeFromOpenApi'
          nullable: true
    HTTPValidationError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
    EventTypeFromOpenApi:
      type: object
      required:
      - deprecated
      - description
      - name
      properties:
        deprecated:
          type: boolean
        description:
          type: string
        featureFlag:
          description: Deprecated, use `featureFlags` instead.
          deprecated: true
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
        featureFlags:
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          nullable: true
        groupName:
          description: The event type group's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user
          nullable: true
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        schemas:
          type: object
          example:
            description: An invoice was paid by a user
            properties:
              invoiceId:
                description: The invoice id
                type: string
              userId:
                description: The user id
                type: string
            required:
            - invoiceId
            - userId
            title: Invoice Paid Event
            type: object
          nullable: true
    EventTypeImportOpenApiIn:
      description: 'Import a list of event types from webhooks defined in an OpenAPI spec.


        The OpenAPI spec can be specified as either `spec` given the spec as a JSON object, or as `specRaw` (a `string`) which will be parsed as YAML or JSON by the server. Sending neither or both is invalid, resulting in a `400` **Bad Request**.'
      type: object
      properties:
        dryRun:
          description: If `true`, return the event types that would be modified without actually modifying them.
          default: false
          type: boolean
        replaceAll:
          description: If `true`, all existing event types that are not in the spec will be archived.
          default: false
          type: boolean
        spec:
          description: A pre-parsed JSON spec.
          type: object
          example:
            info:
              title: Webhook Example
              version: 1.0.0
            openapi: 3.1.0
            webhooks:
              pet.new:
                post:
                  requestBody:
                    content:
                      application/json:
                        schema:
                          properties:
                            id:
                              format: int64
                              type: integer
                            name:
                              type: string
                            tag:
                              type: string
                          required:
                          - id
                          - name
                    description: Information about a new pet in the system
                  responses:
                    '200':
                      description: Return a 200 status to indicate that the data was received successfully
          nullable: true
        specRaw:
          description: A string, parsed by the server as YAML or JSON.
          type: string
          example: "\n# Both YAML and JSON are supported\nopenapi: 3.1.0\ninfo:\n  title: Webhook Example\n  version: 1.0.0\n# Since OAS 3.1.0 the paths element isn't necessary. Now a valid OpenAPI Document can describe only paths, webhooks, or even only reusable components\nwebhooks:\n  # Each webhook needs a name\n  \"pet.new\":\n    # This is a Path Item Object, the only difference is that the request is initiated by the API provider\n    post:\n      requestBody:\n        description: Information about a new pet in the system\n        content:\n          application/json:\n            schema:\n              $ref: \"#/components/schemas/Pet\"\n      responses:\n        \"200\":\n          description: Return a 200 status to indicate that the data was received successfully\n\ncomponents:\n  schemas:\n    Pet:\n      required:\n        - id\n        - name\n      properties:\n        id:\n          type: integer\n          format: int64\n        name:\n          type: string\n        tag:\n          type: string\n"
          nullable: true
    EventTypeOut:
      type: object
      required:
      - createdAt
      - deprecated
      - description
      - name
      - updatedAt
      properties:
        archived:
          default: false
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
        deprecated:
          type: boolean
        description:
          type: string
          example: A user has signed up
        featureFlag:
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
        featureFlags:
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        groupName:
          description: The event type group's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user
          nullable: true
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        schemas:
          description: The schema for the event type for a specific version as a JSON schema.
          type: object
          example:
            '1':
              description: An invoice was paid by a user
              properties:
                invoiceId:
                  description: The invoice id
                  type: string
                userId:
                  description: The user id
                  type: string
              required:
              - invoiceId
              - userId
              title: Invoice Paid Event
              type: object
          nullable: true
        updatedAt:
          type: string
          format: date-time
    EventTypePatch:
      type: object
      properties:
        archived:
          type: boolean
        deprecated:
          type: boolean
        description:
          type: string
        featureFlag:
          description: Deprecated, use `featureFlags` instead.
          deprecated: true
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
        featureFlags:
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          minItems: 1
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        groupName:
          description: The event type group's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user
          nullable: true
        schemas:
          type: object
          example:
            description: An invoice was paid by a user
            properties:
              invoiceId:
                description: The invoice id
                type: string
              userId:
                description: The user id
                type: string
            required:
            - invoiceId
            - userId
            title: Invoice Paid Event
            type: object
          nullable: true
    ListResponse_EventTypeOut_:
      type: object
      required:
      - data
      - done
      - iterator
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventTypeOut'
        done:
          type: boolean
        iterator:
          type: string
          example: iterator
          nullable: true
        prevIterator:
          type: string
          example: -iterator
          nullable: true
    EventTypeUpdate:
      type: object
      required:
      - description
      properties:
        archived:
          default: false
          type: boolean
          example: false
        deprecated:
          default: false
          type: boolean
        description:
          type: string
          example: A user has signed up
        featureFlag:
          description: Deprecated, use `featureFlags` instead.
          default: null
          deprecated: true
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
        featureFlags:
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          minItems: 1
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        groupName:
          description: The event type group's name
          default: null
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user
          nullable: true
        schemas:
          description: The schema for the event type for a specific version as a JSON schema.
          type: object
          example:
            '1':
              description: An invoice was paid by a user
              properties:
                invoiceId:
                  description: The invoice id
                  type: string
                userId:
                  description: The user id
                  type: string
              required:
              - invoiceId
              - userId
              title: Invoice Paid Event
              type: object
          nullable: true
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    EventTypeIn:
      type: object
      required:
      - description
      - name
      properties:
        archived:
          default: false
          type: boolean
          example: false
        deprecated:
          default: false
          type: boolean
        description:
          type: string
          example: A user has signed up
        featureFlag:
          description: Deprecated, use `featureFlags` instead.
          default: null
          deprecated: true
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
        featureFlags:
          default: null
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          minItems: 1
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        groupName:
          description: The event type group's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user
          nullable: true
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        schemas:
          description: The schema for the event type for a specific version as a JSON schema.
          type: object
          example:
            '1':
              description: An invoice was paid by a user
              properties:
                invoiceId:
                  description: The invoice id
                  type: string
                userId:
                  description: The user id
                  type: string
              required:
              - invoiceId
              - userId
              title: Invoice Paid Event
              type: object
          nullable: true
    EventTypeImportOpenApiOut:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/EventTypeImportOpenApiOutData'
    HttpErrorOut:
      title: HttpError
      type: object
      required:
      - code
      - detail
      properties:
        code:
          type: string
        detail:
          type: string
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  background_task.finished:
    post:
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            example:
              data:
                data:
                  appStats:
                  - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
                    messageDestinations: 343
                status: finished
                task: application.stats
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: background_task.finished
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: background_task.finished
      tags:
      - Webhook
  endpoint.created:
    post:
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.created
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.deleted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.disabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.enabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.updated
      tags:
      - Webhook
      x-svix-group-name: dispatch
  ingest.endpoint.disabled:
    post:
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                trigger: automatic
              type: ingest.endpoint.disabled
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.endpoint.disabled
      tags:
      - Webhook
  ingest.message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.exhausted
      tags:
      - Webhook
  ingest.message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.failing
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.failing
      tags:
      - Webhook
  ingest.message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.recovered
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.recovered
      tags:
      - Webhook
  message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.exhausted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.failing
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.failing
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.log:
    post:
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            example:
              data:
              - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                attemptCount: 1
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                attemptStart: '2022-11-06T15:04:06Z'
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                eventType: user.signup
                msgCreated: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                status: 0
              type: message.attempt.log
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.log
      tags:
      - Webhook
      x-internal: true
      x-svix-feature-flags:
      - attempt_log
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.recovered
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.recovered
      tags:
      - Webhook
      x-svix-group-name: dispatch
