openapi: 3.2.0
info:
  title: Svix Endpoint API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.922.0
  x-logo:
    url: https://www.svix.com/static/img/brand-padded.svg
    altText: Svix Logo
servers:
- url: https://api.eu.svix.com
  description: The Svix EU region
- url: https://api.us.svix.com
  description: The Svix US region
- url: https://api.ca.svix.com
  description: The Svix Canada region
- url: https://api.au.svix.com
  description: The Svix Australia region
- url: https://api.in.svix.com
  description: The Svix India region
tags:
- name: Endpoint
  description: Endpoints are the URLs messages will be sent to. Each message sent to an application will be sent to all its endpoints (unless they are not subscribed to the sent event type).
paths:
  /api/v1/app/{app_id}/endpoint:
    get:
      tags:
      - Endpoint
      summary: List Endpoints
      description: List the application's endpoints.
      operationId: v1.endpoint.list
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 30
          minLength: 30
          pattern: ^ep_[A-Za-z0-9]{27}$
          nullable: true
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EndpointOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.endpoint.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.endpoint.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: Python
        label: Python
        source: "response = svix.endpoint.list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Endpoint.List(ctx, "app_1srOrx2ZWZBpBUvZwXKQmoEYga2", nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.endpoint.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2")
      - lang: Java
        label: Java
        source: var response = svix.getEndpoint().list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: Ruby
        label: Ruby
        source: response = svix.endpoint.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(), None)\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.Endpoint.List("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - lang: Shell
        label: CLI
        source: svix endpoint list "app_1srOrx2ZWZBpBUvZwXKQmoEYga2"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Endpoint
      summary: Create Endpoint
      description: 'Create a new endpoint for the application.


        When `secret` is `null` the secret is automatically generated (recommended).'
      operationId: v1.endpoint.create
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.endpoint.create(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  url: \"https://example.com/webhook/\",\n  description: \"An example endpoint name\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n  headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  disabled: true,\n  filterTypes: [\"user.signup\", \"user.deleted\"],\n  channels: [\"project_123\", \"group_2\"],\n  secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n  metadata: {},\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.endpoint.create(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  url: \"https://example.com/webhook/\",\n  description: \"An example endpoint name\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n  headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  disabled: true,\n  filterTypes: [\"user.signup\", \"user.deleted\"],\n  channels: [\"project_123\", \"group_2\"],\n  secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n  metadata: {},\n});"
      - lang: Python
        label: Python
        source: "response = svix.endpoint.create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    EndpointIn(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n        disabled=True,\n        filter_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n        secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        metadata={},\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    EndpointIn(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n        disabled=True,\n        filter_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n        secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        metadata={},\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Endpoint.Create(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tEndpointIn{\n\t\tUrl:          \"https://example.com/webhook/\",\n\t\tDescription:  new(\"An example endpoint name\"),\n\t\tThrottleRate: new(uint16(1)),\n\t\tUid:          new(\"unique-identifier\"),\n\t\tHeaders:      &map[string]string{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n\t\tDisabled:     new(true),\n\t\tFilterTypes:  []string{\"user.signup\", \"user.deleted\"},\n\t\tChannels:     []string{\"project_123\", \"group_2\"},\n\t\tSecret:       new(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"),\n\t\tMetadata:     nil,\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.endpoint.create(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        EndpointIn(\n            url = \"https://example.com/webhook/\",\n            description = \"An example endpoint name\",\n            throttleRate = 1u,\n            uid = \"unique-identifier\",\n            headers = mapOf(\"X-Example\" to \"123\", \"X-Foobar\" to \"Bar\"),\n            disabled = true,\n            filterTypes = setOf(\"user.signup\", \"user.deleted\"),\n            channels = setOf(\"project_123\", \"group_2\"),\n            secret = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n            metadata = mapOf(),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getEndpoint()\n        .create(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new EndpointIn()\n                .url(URI.create(\"https://example.com/webhook/\"))\n                .description(\"An example endpoint name\")\n                .throttleRate(1L)\n                .uid(\"unique-identifier\")\n                .headers(Map.ofEntries(Map.entry(\"X-Example\", \"123\"), Map.entry(\"X-Foobar\", \"Bar\")))\n                .disabled(true)\n                .filterTypes(Set.of(\"user.signup\", \"user.deleted\"))\n                .channels(Set.of(\"project_123\", \"group_2\"))\n                .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n                .metadata(Map.of()));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .endpoint\n  .create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    {\n      url: \"https://example.com/webhook/\",\n      description: \"An example endpoint name\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      headers: {:\"X-Example\" => \"123\", :\"X-Foobar\" => \"Bar\"},\n      disabled: true,\n      filterTypes: [\"user.signup\", \"user.deleted\"],\n      channels: [\"project_123\", \"group_2\"],\n      secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n      metadata: {}\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .create(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        EndpointIn {\n            url: \"https://example.com/webhook/\".to_string(),\n            description: Some(\"An example endpoint name\".to_string()),\n            throttle_rate: Some(1),\n            uid: Some(\"unique-identifier\".to_string()),\n            headers: Some(\n                HashMap::from([\n                    (\"X-Example\".to_string(), \"123\".to_string()),\n                    (\"X-Foobar\".to_string(), \"Bar\".to_string()),\n                ]),\n            ),\n            disabled: Some(true),\n            filter_types: Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            channels: Some(vec![\"project_123\".to_string(), \"group_2\".to_string()]),\n            secret: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n            metadata: Some(HashMap::new()),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.Create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new EndpointIn\n    {\n        Url = \"https://example.com/webhook/\",\n        Description = \"An example endpoint name\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n        Headers = new() { { \"X-Example\", \"123\" }, { \"X-Foobar\", \"Bar\" } },\n        Disabled = true,\n        FilterTypes = [\"user.signup\", \"user.deleted\"],\n        Channels = [\"project_123\", \"group_2\"],\n        Secret = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        Metadata = [],\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    EndpointIn::create(\n        url: \"https://example.com/webhook/\"\n    )\n    ->withDescription(\"An example endpoint name\")\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n    ->withHeaders([\"X-Example\" => \"123\", \"X-Foobar\" => \"Bar\"])\n    ->withDisabled(true)\n    ->withFilterTypes([\"user.signup\",\"user.deleted\"])\n    ->withChannels([\"project_123\",\"group_2\"])\n    ->withSecret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix endpoint create \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    },\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ],\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"metadata\": {}\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    },\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ],\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"metadata\": {}\n  }'"
  /api/v1/app/{app_id}/endpoint/{endpoint_id}:
    get:
      tags:
      - Endpoint
      summary: Get Endpoint
      description: Get an endpoint.
      operationId: v1.endpoint.get
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.endpoint.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.endpoint.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.endpoint.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Endpoint.Get(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.endpoint.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
      - lang: Java
        label: Java
        source: "var response =\n        svix.getEndpoint().get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.endpoint.get("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .get(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.Get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix endpoint get "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Endpoint
      summary: Upsert Endpoint
      description: Create or update an endpoint.
      operationId: v1.endpoint.update
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.endpoint.update(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    url: \"https://example.com/webhook/\",\n    description: \"An example endpoint name\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    metadata: {},\n    disabled: true,\n    filterTypes: [\"user.signup\", \"user.deleted\"],\n    channels: [\"project_123\", \"group_2\"],\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.endpoint.update(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    url: \"https://example.com/webhook/\",\n    description: \"An example endpoint name\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    metadata: {},\n    disabled: true,\n    filterTypes: [\"user.signup\", \"user.deleted\"],\n    channels: [\"project_123\", \"group_2\"],\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.endpoint.update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointUpdate(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        metadata={},\n        disabled=True,\n        filter_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointUpdate(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        metadata={},\n        disabled=True,\n        filter_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Endpoint.Update(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tEndpointUpdate{\n\t\tUrl:          \"https://example.com/webhook/\",\n\t\tDescription:  new(\"An example endpoint name\"),\n\t\tThrottleRate: new(uint16(1)),\n\t\tUid:          new(\"unique-identifier\"),\n\t\tMetadata:     nil,\n\t\tDisabled:     new(true),\n\t\tFilterTypes:  []string{\"user.signup\", \"user.deleted\"},\n\t\tChannels:     []string{\"project_123\", \"group_2\"},\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.endpoint.update(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n        EndpointUpdate(\n            url = \"https://example.com/webhook/\",\n            description = \"An example endpoint name\",\n            throttleRate = 1u,\n            uid = \"unique-identifier\",\n            metadata = mapOf(),\n            disabled = true,\n            filterTypes = setOf(\"user.signup\", \"user.deleted\"),\n            channels = setOf(\"project_123\", \"group_2\"),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getEndpoint()\n        .update(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new EndpointUpdate()\n                .url(URI.create(\"https://example.com/webhook/\"))\n                .description(\"An example endpoint name\")\n                .throttleRate(1L)\n                .uid(\"unique-identifier\")\n                .metadata(Map.of())\n                .disabled(true)\n                .filterTypes(Set.of(\"user.signup\", \"user.deleted\"))\n                .channels(Set.of(\"project_123\", \"group_2\")));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .endpoint\n  .update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    {\n      url: \"https://example.com/webhook/\",\n      description: \"An example endpoint name\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      metadata: {},\n      disabled: true,\n      filterTypes: [\"user.signup\", \"user.deleted\"],\n      channels: [\"project_123\", \"group_2\"]\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .update(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        EndpointUpdate {\n            url: \"https://example.com/webhook/\".to_string(),\n            description: Some(\"An example endpoint name\".to_string()),\n            throttle_rate: Some(1),\n            uid: Some(\"unique-identifier\".to_string()),\n            metadata: Some(HashMap::new()),\n            disabled: Some(true),\n            filter_types: Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            channels: Some(vec![\"project_123\".to_string(), \"group_2\".to_string()]),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.Update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new EndpointUpdate\n    {\n        Url = \"https://example.com/webhook/\",\n        Description = \"An example endpoint name\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n        Metadata = [],\n        Disabled = true,\n        FilterTypes = [\"user.signup\", \"user.deleted\"],\n        Channels = [\"project_123\", \"group_2\"],\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointUpdate::create(\n        url: \"https://example.com/webhook/\"\n    )\n    ->withDescription(\"An example endpoint name\")\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n    ->withMetadata([])\n    ->withDisabled(true)\n    ->withFilterTypes([\"user.signup\",\"user.deleted\"])\n    ->withChannels([\"project_123\",\"group_2\"])\n);"
      - lang: Shell
        label: CLI
        source: "svix endpoint update \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"metadata\": {},\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ]\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"metadata\": {},\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ]\n  }'"
    delete:
      tags:
      - Endpoint
      summary: Delete Endpoint
      description: Delete an endpoint.
      operationId: v1.endpoint.delete
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.endpoint.delete(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.endpoint.delete(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "svix.endpoint.delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.endpoint.delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: "err := svix.Endpoint.Delete(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.endpoint.delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Java
        label: Java
        source: svix.getEndpoint().delete("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: Ruby
        label: Ruby
        source: response = svix.endpoint.delete("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "svix.endpoint()\n    .delete(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.Delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: PHP
        label: PHP
        source: "$svix->endpoint->delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix endpoint delete "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Endpoint
      summary: Patch Endpoint
      description: Partially update an endpoint.
      operationId: v1.endpoint.patch
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointPatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.endpoint.patch(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    description: \"sample string\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    url: \"sample string\",\n    metadata: {},\n    disabled: true,\n    filterTypes: [],\n    channels: [],\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.endpoint.patch(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    description: \"sample string\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    url: \"sample string\",\n    metadata: {},\n    disabled: true,\n    filterTypes: [],\n    channels: [],\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.endpoint.patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointPatch(\n        description=\"sample string\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        url=\"sample string\",\n        metadata={},\n        disabled=True,\n        filter_types=[],\n        channels=[],\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointPatch(\n        description=\"sample string\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        url=\"sample string\",\n        metadata={},\n        disabled=True,\n        filter_types=[],\n        channels=[],\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Endpoint.Patch(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tEndpointPatch{\n\t\tDescription:  new(\"sample string\"),\n\t\tThrottleRate: NewNullable(uint16(1)),\n\t\tUid:          NewNullable(\"unique-identifier\"),\n\t\tUrl:          new(\"sample string\"),\n\t\tMetadata:     nil,\n\t\tDisabled:     new(true),\n\t\tFilterTypes:  NewNullable([]string{}),\n\t\tChannels:     NewNullable([]string{}),\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.endpoint.patch(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n        EndpointPatch(\n            description = \"sample string\",\n            throttleRate = MaybeUnset.Present(1u),\n            uid = MaybeUnset.Present(\"unique-identifier\"),\n            url = \"https://example.com/\",\n            metadata = mapOf(),\n            disabled = true,\n            filterTypes = MaybeUnset.Present(setOf()),\n            channels = MaybeUnset.Present(setOf()),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getEndpoint()\n        .patch(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new EndpointPatch()\n                .description(\"sample string\")\n                .throttleRate(1L)\n                .uid(\"unique-identifier\")\n                .url(URI.create(\"https://example.com/\"))\n                .metadata(Map.of())\n                .disabled(true)\n                .filterTypes(Set.of())\n                .channels(Set.of()));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .endpoint\n  .patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    {\n      description: \"sample string\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      url: \"sample string\",\n      metadata: {},\n      disabled: true,\n      filterTypes: [],\n      channels: []\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .patch(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        EndpointPatch {\n            description: Some(\"sample string\".to_string()),\n            throttle_rate: js_option::JsOption::Some(1),\n            uid: js_option::JsOption::Some(\"unique-identifier\".to_string()),\n            url: Some(\"sample string\".to_string()),\n            metadata: Some(HashMap::new()),\n            disabled: Some(true),\n            filter_types: js_option::JsOption::Some(vec![]),\n            channels: js_option::JsOption::Some(vec![]),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.Patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new EndpointPatch\n    {\n        Description = \"sample string\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n        Url = \"sample string\",\n        Metadata = [],\n        Disabled = true,\n        FilterTypes = MaybeUnset<List<string>?>.Set([]),\n        Channels = MaybeUnset<List<string>?>.Set([]),\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointPatch::create()\n    ->withDescription(\"sample string\")\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n    ->withUrl(\"sample string\")\n    ->withMetadata([])\n    ->withDisabled(true)\n    ->withFilterTypes([])\n    ->withChannels([])\n);"
      - lang: Shell
        label: CLI
        source: "svix endpoint patch \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"description\": \"sample string\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"sample string\",\n    \"metadata\": {},\n    \"disabled\": true,\n    \"filterTypes\": [],\n    \"channels\": []\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"description\": \"sample string\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"sample string\",\n    \"metadata\": {},\n    \"disabled\": true,\n    \"filterTypes\": [],\n    \"channels\": []\n  }'"
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/connector:
    get:
      tags:
      - Endpoint
      summary: Get Endpoint Connector
      description: Get the connector associated with an endpoint.
      operationId: v1.endpoint.get_connector
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/sink:
    get:
      tags:
      - Endpoint
      summary: List Sinks
      description: List the application's sinks.
      operationId: v1.sink.list
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 30
          minLength: 30
          pattern: ^ep_[A-Za-z0-9]{27}$
          nullable: true
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SinkOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
    post:
      tags:
      - Endpoint
      summary: Create Sink
      description: Create a new sink for the application.
      operationId: v1.sink.create
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SinkIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinkOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/sink/{sink_id}:
    get:
      tags:
      - Endpoint
      summary: Get Sink
      description: Get a sink.
      operationId: v1.sink.get
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinkOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/cancel-msgs:
    post:
      tags:
      - Endpoint
      summary: Cancel Msgs
      description: 'Cancel any pending messages created before the specified timestamp.


        Cancellation is not immediate. This API will succeed when the information that no more messages

        before the given date should be sent has been persisted, cancelled message attempts may take

        some time to show up if there is a large backlog of unsent messages from before the cutoff.'
      operationId: v1.endpoint.cancel-msgs
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelMsgsIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/secret:
    get:
      tags:
      - Endpoint
      summary: Get Endpoint Secret
      description: 'Get the endpoint''s signing secret.


        This is used to verify the authenticity of the webhook.

        For more information please refer to [the consuming webhooks docs](https://docs.svix.com/consuming-webhooks/).'
      operationId: v1.endpoint.get-secret
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointSecretOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.endpoint.getSecret(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.endpoint.getSecret(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.endpoint.get_secret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.get_secret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Endpoint.GetSecret(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.endpoint.getSecret(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
      - lang: Java
        label: Java
        source: "var response = svix.getEndpoint()\n        .getSecret(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.endpoint.get_secret("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .get_secret(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.GetSecret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->getSecret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix endpoint get-secret "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/secret' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/secret/rotate:
    post:
      tags:
      - Endpoint
      summary: Rotate Endpoint Secret Handler
      description: 'Rotates the endpoint''s signing secret.


        The previous secret will remain valid for the specified grace period (default 24 hours).'
      operationId: v1.endpoint.rotate-secret
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointSecretRotateIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.endpoint.rotateSecret(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    gracePeriodSeconds: 1,\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.endpoint.rotateSecret(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    gracePeriodSeconds: 1,\n  }\n);"
      - lang: Python
        label: Python
        source: "svix.endpoint.rotate_secret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointSecretRotateIn(\n        key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        grace_period_seconds=1,\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.endpoint.rotate_secret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointSecretRotateIn(\n        key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        grace_period_seconds=1,\n    ),\n)"
      - lang: Go
        label: Go
        source: "err := svix.Endpoint.RotateSecret(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tEndpointSecretRotateIn{\n\t\tKey:                new(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"),\n\t\tGracePeriodSeconds: new(uint32(1)),\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.endpoint.rotateSecret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointSecretRotateIn(key = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\", gracePeriodSeconds = 1),\n)"
      - lang: Java
        label: Java
        source: "svix.getEndpoint()\n        .rotateSecret(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new EndpointSecretRotateIn()\n                .key(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n                .gracePeriodSeconds(1));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .endpoint\n  .rotate_secret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    {key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\", gracePeriodSeconds: 1}\n  )"
      - lang: Rust
        label: Rust
        source: "svix.endpoint()\n    .rotate_secret(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        EndpointSecretRotateIn {\n            key: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n            grace_period_seconds: Some(1),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.RotateSecret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new EndpointSecretRotateIn\n    {\n        Key = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        GracePeriodSeconds = 1,\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$svix->endpoint->rotateSecret(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointSecretRotateIn::create()\n    ->withKey(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n    ->withGracePeriodSeconds(1)\n);"
      - lang: Shell
        label: CLI
        source: "svix endpoint rotate-secret \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"gracePeriodSeconds\": 1\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/secret/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"gracePeriodSeconds\": 1\n  }'"
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/headers:
    get:
      tags:
      - Endpoint
      summary: Get Endpoint Headers
      description: Get the additional headers to be sent with the webhook.
      operationId: v1.endpoint.get-headers
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: 'The value of the headers is returned in the `headers` field.


            Sensitive headers that have been redacted are returned in the sensitive field.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointHeadersOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.endpoint.getHeaders(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.endpoint.getHeaders(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.endpoint.get_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.get_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Endpoint.GetHeaders(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.endpoint.getHeaders(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
      - lang: Java
        label: Java
        source: "var response = svix.getEndpoint()\n        .getHeaders(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.endpoint.get_headers("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .get_headers(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.GetHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->getHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix endpoint get-headers "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Endpoint
      summary: Set Endpoint Headers
      description: Set the additional headers to be sent with the webhook.
      operationId: v1.endpoint.update-headers
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointHeadersIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.endpoint.updateHeaders(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.endpoint.updateHeaders(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  }\n);"
      - lang: Python
        label: Python
        source: "svix.endpoint.update_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.endpoint.update_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n    ),\n)"
      - lang: Go
        label: Go
        source: "err := svix.Endpoint.UpdateHeaders(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tEndpointHeadersIn{Headers: map[string]string{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.endpoint.updateHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersIn(headers = mapOf(\"X-Example\" to \"123\", \"X-Foobar\" to \"Bar\")),\n)"
      - lang: Java
        label: Java
        source: "svix.getEndpoint()\n        .updateHeaders(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new EndpointHeadersIn()\n                .headers(\n                    Map.ofEntries(Map.entry(\"X-Example\", \"123\"), Map.entry(\"X-Foobar\", \"Bar\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .endpoint\n  .update_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    {headers: {:\"X-Example\" => \"123\", :\"X-Foobar\" => \"Bar\"}}\n  )"
      - lang: Rust
        label: Rust
        source: "svix.endpoint()\n    .update_headers(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        EndpointHeadersIn {\n            headers: HashMap::from([\n                (\"X-Example\".to_string(), \"123\".to_string()),\n                (\"X-Foobar\".to_string(), \"Bar\".to_string()),\n            ]),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.UpdateHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new EndpointHeadersIn\n    {\n        Headers = new() { { \"X-Example\", \"123\" }, { \"X-Foobar\", \"Bar\" } },\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$svix->endpoint->updateHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersIn::create(\n        headers: [\"X-Example\" => \"123\", \"X-Foobar\" => \"Bar\"]\n    )\n\n);"
      - lang: Shell
        label: CLI
        source: "svix endpoint update-headers \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    }\n  }'"
    patch:
      tags:
      - Endpoint
      summary: Patch Endpoint Headers
      description: Partially set the additional headers to be sent with the webhook.
      operationId: v1.endpoint.patch-headers
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointHeadersPatchIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.endpoint.patchHeaders(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n    deleteHeaders: [],\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.endpoint.patchHeaders(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n    deleteHeaders: [],\n  }\n);"
      - lang: Python
        label: Python
        source: "svix.endpoint.patch_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersPatchIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n        delete_headers=[],\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.endpoint.patch_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersPatchIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n        delete_headers=[],\n    ),\n)"
      - lang: Go
        label: Go
        source: "err := svix.Endpoint.PatchHeaders(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tEndpointHeadersPatchIn{\n\t\tHeaders:       map[string]string{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n\t\tDeleteHeaders: []string{},\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.endpoint.patchHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersPatchIn(\n        headers = mapOf(\"X-Example\" to \"123\", \"X-Foobar\" to \"Bar\"),\n        deleteHeaders = listOf(),\n    ),\n)"
      - lang: Java
        label: Java
        source: "svix.getEndpoint()\n        .patchHeaders(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new EndpointHeadersPatchIn()\n                .headers(Map.ofEntries(Map.entry(\"X-Example\", \"123\"), Map.entry(\"X-Foobar\", \"Bar\")))\n                .deleteHeaders(List.of()));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .endpoint\n  .patch_headers(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    {headers: {:\"X-Example\" => \"123\", :\"X-Foobar\" => \"Bar\"}, deleteHeaders: []}\n  )"
      - lang: Rust
        label: Rust
        source: "svix.endpoint()\n    .patch_headers(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        EndpointHeadersPatchIn {\n            headers: HashMap::from([\n                (\"X-Example\".to_string(), \"123\".to_string()),\n                (\"X-Foobar\".to_string(), \"Bar\".to_string()),\n            ]),\n            delete_headers: Some(vec![]),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.PatchHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new EndpointHeadersPatchIn\n    {\n        Headers = new() { { \"X-Example\", \"123\" }, { \"X-Foobar\", \"Bar\" } },\n        DeleteHeaders = [],\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$svix->endpoint->patchHeaders(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    EndpointHeadersPatchIn::create(\n        headers: [\"X-Example\" => \"123\", \"X-Foobar\" => \"Bar\"]\n    )\n    ->withDeleteHeaders([])\n);"
      - lang: Shell
        label: CLI
        source: "svix endpoint patch-headers \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    },\n    \"deleteHeaders\": []\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    },\n    \"deleteHeaders\": []\n  }'"
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/transformation:
    get:
      tags:
      - Endpoint
      summary: Get Endpoint Transformation
      description: Get the transformation code associated with this endpoint.
      operationId: v1.endpoint.transformation-get
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointTransformationOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.endpoint.transformationGet(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.endpoint.transformationGet(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.endpoint.transformation_get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.endpoint.transformation_get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Endpoint.TransformationGet(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.endpoint.transformationGet(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getEndpoint()\n        .transformationGet(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.endpoint.transformation_get("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .endpoint()\n    .transformation_get(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Endpoint.TransformationGet(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->endpoint->transformationGet(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix endpoint transformation-get "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/transformation' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    patch:
      tags:
      - Endpoint
      summary: Patch Endpoint Transformation
      description: Set or unset the transformation code associated with this endpoint.
      operationId: v1.endpoint.patch-transformation
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointTransformationPatch'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
[...]
