openapi: 3.2.0
info:
  title: Svix Connector API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.922.0
  x-logo:
    url: https://www.svix.com/static/img/brand-padded.svg
    altText: Svix Logo
servers:
- url: https://api.eu.svix.com
  description: The Svix EU region
- url: https://api.us.svix.com
  description: The Svix US region
- url: https://api.ca.svix.com
  description: The Svix Canada region
- url: https://api.au.svix.com
  description: The Svix Australia region
- url: https://api.in.svix.com
  description: The Svix India region
tags:
- name: Connector
  description: Connectors allow you to connect applications to external services.
paths:
  /api/v1/connector:
    get:
      tags:
      - Connector
      summary: List Connectors
      description: List all connectors for an application.
      operationId: v1.connector.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 34
          minLength: 34
          pattern: ^trtmpl_[A-Za-z0-9]{27}$
          nullable: true
          example: trtmpl_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      - in: query
        name: product_type
        schema:
          $ref: '#/components/schemas/ConnectorProduct'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ConnectorOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.connector.list();
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.connector.list();
      - lang: Python
        label: Python
        source: response = svix.connector.list()
      - lang: Python
        label: Python (Async)
        source: response = await svix.connector.list()
      - lang: Go
        label: Go
        source: response, err := svix.Connector.List(ctx, nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.connector.list()
      - lang: Java
        label: Java
        source: var response = svix.getConnector().list();
      - lang: Ruby
        label: Ruby
        source: response = svix.connector.list
      - lang: Rust
        label: Rust
        source: let response = svix.connector().list(None).await?;
      - lang: C#
        label: C#
        source: var response = svix.Connector.List();
      - lang: PHP
        label: PHP
        source: $response = $svix->connector->list();
      - lang: Shell
        label: CLI
        source: svix connector list
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/connector' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Connector
      summary: Create Connector
      description: Create a new connector.
      operationId: v1.connector.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.connector.create({\n  name: \"My first connector\",\n  uid: \"unique-identifier\",\n  logo: \"https://example.com/logo.png\",\n  description: \"Example connector description\",\n  kind: ConnectorKind.Custom,\n  instructions: \"Markdown-formatted instructions\",\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  transformation: \"function handler(webhook) { /* ... */ }\",\n  featureFlags: [],\n  productType: ConnectorProduct.Dispatch,\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.connector.create({\n  name: \"My first connector\",\n  uid: \"unique-identifier\",\n  logo: \"https://example.com/logo.png\",\n  description: \"Example connector description\",\n  kind: ConnectorKind.Custom,\n  instructions: \"Markdown-formatted instructions\",\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  transformation: \"function handler(webhook) { /* ... */ }\",\n  featureFlags: [],\n  productType: ConnectorProduct.Dispatch,\n});"
      - lang: Python
        label: Python
        source: "response = svix.connector.create(\n    ConnectorIn(\n        name=\"My first connector\",\n        uid=\"unique-identifier\",\n        logo=\"https://example.com/logo.png\",\n        description=\"Example connector description\",\n        kind=ConnectorKind.CUSTOM,\n        instructions=\"Markdown-formatted instructions\",\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        transformation=\"function handler(webhook) { /* ... */ }\",\n        feature_flags=[],\n        product_type=ConnectorProduct.DISPATCH,\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.connector.create(\n    ConnectorIn(\n        name=\"My first connector\",\n        uid=\"unique-identifier\",\n        logo=\"https://example.com/logo.png\",\n        description=\"Example connector description\",\n        kind=ConnectorKind.CUSTOM,\n        instructions=\"Markdown-formatted instructions\",\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        transformation=\"function handler(webhook) { /* ... */ }\",\n        feature_flags=[],\n        product_type=ConnectorProduct.DISPATCH,\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Connector.Create(\n\tctx,\n\tConnectorIn{\n\t\tName:              \"My first connector\",\n\t\tUid:               new(\"unique-identifier\"),\n\t\tLogo:              new(\"https://example.com/logo.png\"),\n\t\tDescription:       new(\"Example connector description\"),\n\t\tKind:              new(CONNECTORKIND_CUSTOM),\n\t\tInstructions:      new(\"Markdown-formatted instructions\"),\n\t\tAllowedEventTypes: []string{\"user.signup\", \"user.deleted\"},\n\t\tTransformation:    \"function handler(webhook) { /* ... */ }\",\n\t\tFeatureFlags:      []string{},\n\t\tProductType:       new(CONNECTORPRODUCT_DISPATCH),\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.connector.create(\n        ConnectorIn(\n            name = \"My first connector\",\n            uid = \"unique-identifier\",\n            logo = \"https://example.com/logo.png\",\n            description = \"Example connector description\",\n            kind = ConnectorKind.CUSTOM,\n            instructions = \"Markdown-formatted instructions\",\n            allowedEventTypes = setOf(\"user.signup\", \"user.deleted\"),\n            transformation = \"function handler(webhook) { /* ... */ }\",\n            featureFlags = setOf(),\n            productType = ConnectorProduct.DISPATCH,\n        )\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getConnector()\n        .create(new ConnectorIn()\n            .name(\"My first connector\")\n            .uid(\"unique-identifier\")\n            .logo(URI.create(\"https://example.com/logo.png\"))\n            .description(\"Example connector description\")\n            .kind(ConnectorKind.CUSTOM)\n            .instructions(\"Markdown-formatted instructions\")\n            .allowedEventTypes(Set.of(\"user.signup\", \"user.deleted\"))\n            .transformation(\"function handler(webhook) { /* ... */ }\")\n            .featureFlags(Set.of())\n            .productType(ConnectorProduct.DISPATCH));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .connector\n  .create(\n    {\n      name: \"My first connector\",\n      uid: \"unique-identifier\",\n      logo: \"https://example.com/logo.png\",\n      description: \"Example connector description\",\n      kind: ConnectorKind::CUSTOM,\n      instructions: \"Markdown-formatted instructions\",\n      allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n      transformation: \"function handler(webhook) { /* ... */ }\",\n      featureFlags: [],\n      productType: ConnectorProduct::DISPATCH\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .connector()\n    .create(\n        ConnectorIn {\n            name: \"My first connector\".to_string(),\n            uid: Some(\"unique-identifier\".to_string()),\n            logo: Some(\"https://example.com/logo.png\".to_string()),\n            description: Some(\"Example connector description\".to_string()),\n            kind: Some(ConnectorKind::Custom),\n            instructions: Some(\"Markdown-formatted instructions\".to_string()),\n            allowed_event_types: Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            transformation: \"function handler(webhook) { /* ... */ }\".to_string(),\n            feature_flags: Some(vec![]),\n            product_type: Some(ConnectorProduct::Dispatch),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Connector.Create(\n    new ConnectorIn\n    {\n        Name = \"My first connector\",\n        Uid = \"unique-identifier\",\n        Logo = \"https://example.com/logo.png\",\n        Description = \"Example connector description\",\n        Kind = ConnectorKind.Custom,\n        Instructions = \"Markdown-formatted instructions\",\n        AllowedEventTypes = [\"user.signup\", \"user.deleted\"],\n        Transformation = \"function handler(webhook) { /* ... */ }\",\n        FeatureFlags = [],\n        ProductType = ConnectorProduct.Dispatch,\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->connector->create(\n    ConnectorIn::create(\n        name: \"My first connector\",\n        transformation: \"function handler(webhook) { /* ... */ }\"\n    )\n    ->withUid(\"unique-identifier\")\n    ->withLogo(\"https://example.com/logo.png\")\n    ->withDescription(\"Example connector description\")\n    ->withKind(ConnectorKind::CUSTOM)\n    ->withInstructions(\"Markdown-formatted instructions\")\n    ->withAllowedEventTypes([\"user.signup\",\"user.deleted\"])\n    ->withFeatureFlags([])\n    ->withProductType(ConnectorProduct::DISPATCH)\n);"
      - lang: Shell
        label: CLI
        source: "svix connector create '{\n    \"name\": \"My first connector\",\n    \"uid\": \"unique-identifier\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"description\": \"Example connector description\",\n    \"kind\": \"Custom\",\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"transformation\": \"function handler(webhook) { /* ... */ }\",\n    \"featureFlags\": [],\n    \"productType\": \"Dispatch\"\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/connector' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"My first connector\",\n    \"uid\": \"unique-identifier\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"description\": \"Example connector description\",\n    \"kind\": \"Custom\",\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"transformation\": \"function handler(webhook) { /* ... */ }\",\n    \"featureFlags\": [],\n    \"productType\": \"Dispatch\"\n  }'"
  /api/v1/connector/{connector_id}:
    get:
      tags:
      - Connector
      summary: Get Connector
      description: Get a connector.
      operationId: v1.connector.get
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.connector.get("connector_id");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.connector.get("connector_id");
      - lang: Python
        label: Python
        source: "response = svix.connector.get(\n    \"connector_id\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.connector.get(\n    \"connector_id\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Connector.Get(ctx, "connector_id")
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.connector.get("connector_id")
      - lang: Java
        label: Java
        source: var response = svix.getConnector().get("connector_id");
      - lang: Ruby
        label: Ruby
        source: response = svix.connector.get("connector_id")
      - lang: Rust
        label: Rust
        source: let response = svix.connector().get("connector_id".to_string()).await?;
      - lang: C#
        label: C#
        source: var response = svix.Connector.Get("connector_id");
      - lang: PHP
        label: PHP
        source: "$response = $svix->connector->get(\n    \"connector_id\"\n);"
      - lang: Shell
        label: CLI
        source: svix connector get "connector_id"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Connector
      summary: Upsert Connector
      description: Create or update a connector.
      operationId: v1.connector.update
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.connector.update(\"connector_id\", {\n  name: \"My first connector\",\n  logo: \"https://example.com/logo.png\",\n  description: \"Example connector description\",\n  kind: ConnectorKind.Custom,\n  instructions: \"Markdown-formatted instructions\",\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  transformation: \"function handler(webhook) { /* ... */ }\",\n  featureFlags: [\"cool-new-feature\"],\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.connector.update(\"connector_id\", {\n  name: \"My first connector\",\n  logo: \"https://example.com/logo.png\",\n  description: \"Example connector description\",\n  kind: ConnectorKind.Custom,\n  instructions: \"Markdown-formatted instructions\",\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  transformation: \"function handler(webhook) { /* ... */ }\",\n  featureFlags: [\"cool-new-feature\"],\n});"
      - lang: Python
        label: Python
        source: "response = svix.connector.update(\n    \"connector_id\",\n    ConnectorUpdate(\n        name=\"My first connector\",\n        logo=\"https://example.com/logo.png\",\n        description=\"Example connector description\",\n        kind=ConnectorKind.CUSTOM,\n        instructions=\"Markdown-formatted instructions\",\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        transformation=\"function handler(webhook) { /* ... */ }\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.connector.update(\n    \"connector_id\",\n    ConnectorUpdate(\n        name=\"My first connector\",\n        logo=\"https://example.com/logo.png\",\n        description=\"Example connector description\",\n        kind=ConnectorKind.CUSTOM,\n        instructions=\"Markdown-formatted instructions\",\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        transformation=\"function handler(webhook) { /* ... */ }\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Connector.Update(\n\tctx,\n\t\"connector_id\",\n\tConnectorUpdate{\n\t\tName:              new(\"My first connector\"),\n\t\tLogo:              new(\"https://example.com/logo.png\"),\n\t\tDescription:       new(\"Example connector description\"),\n\t\tKind:              new(CONNECTORKIND_CUSTOM),\n\t\tInstructions:      new(\"Markdown-formatted instructions\"),\n\t\tAllowedEventTypes: []string{\"user.signup\", \"user.deleted\"},\n\t\tTransformation:    \"function handler(webhook) { /* ... */ }\",\n\t\tFeatureFlags:      []string{\"cool-new-feature\"},\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.connector.update(\n        \"connector_id\",\n        ConnectorUpdate(\n            name = \"My first connector\",\n            logo = \"https://example.com/logo.png\",\n            description = \"Example connector description\",\n            kind = ConnectorKind.CUSTOM,\n            instructions = \"Markdown-formatted instructions\",\n            allowedEventTypes = setOf(\"user.signup\", \"user.deleted\"),\n            transformation = \"function handler(webhook) { /* ... */ }\",\n            featureFlags = setOf(\"cool-new-feature\"),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getConnector()\n        .update(\n            \"connector_id\",\n            new ConnectorUpdate()\n                .name(\"My first connector\")\n                .logo(URI.create(\"https://example.com/logo.png\"))\n                .description(\"Example connector description\")\n                .kind(ConnectorKind.CUSTOM)\n                .instructions(\"Markdown-formatted instructions\")\n                .allowedEventTypes(Set.of(\"user.signup\", \"user.deleted\"))\n                .transformation(\"function handler(webhook) { /* ... */ }\")\n                .featureFlags(Set.of(\"cool-new-feature\")));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .connector\n  .update(\n    \"connector_id\",\n    {\n      name: \"My first connector\",\n      logo: \"https://example.com/logo.png\",\n      description: \"Example connector description\",\n      kind: ConnectorKind::CUSTOM,\n      instructions: \"Markdown-formatted instructions\",\n      allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n      transformation: \"function handler(webhook) { /* ... */ }\",\n      featureFlags: [\"cool-new-feature\"]\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .connector()\n    .update(\n        \"connector_id\".to_string(),\n        ConnectorUpdate {\n            name: Some(\"My first connector\".to_string()),\n            logo: Some(\"https://example.com/logo.png\".to_string()),\n            description: Some(\"Example connector description\".to_string()),\n            kind: Some(ConnectorKind::Custom),\n            instructions: Some(\"Markdown-formatted instructions\".to_string()),\n            allowed_event_types: Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            transformation: \"function handler(webhook) { /* ... */ }\".to_string(),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Connector.Update(\n    \"connector_id\",\n    new ConnectorUpdate\n    {\n        Name = \"My first connector\",\n        Logo = \"https://example.com/logo.png\",\n        Description = \"Example connector description\",\n        Kind = ConnectorKind.Custom,\n        Instructions = \"Markdown-formatted instructions\",\n        AllowedEventTypes = [\"user.signup\", \"user.deleted\"],\n        Transformation = \"function handler(webhook) { /* ... */ }\",\n        FeatureFlags = [\"cool-new-feature\"],\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->connector->update(\n    \"connector_id\",\n    ConnectorUpdate::create(\n        transformation: \"function handler(webhook) { /* ... */ }\"\n    )\n    ->withName(\"My first connector\")\n    ->withLogo(\"https://example.com/logo.png\")\n    ->withDescription(\"Example connector description\")\n    ->withKind(ConnectorKind::CUSTOM)\n    ->withInstructions(\"Markdown-formatted instructions\")\n    ->withAllowedEventTypes([\"user.signup\",\"user.deleted\"])\n    ->withFeatureFlags([\"cool-new-feature\"])\n);"
      - lang: Shell
        label: CLI
        source: "svix connector update \"connector_id\" '{\n    \"name\": \"My first connector\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"description\": \"Example connector description\",\n    \"kind\": \"Custom\",\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"transformation\": \"function handler(webhook) { /* ... */ }\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ]\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"My first connector\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"description\": \"Example connector description\",\n    \"kind\": \"Custom\",\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"transformation\": \"function handler(webhook) { /* ... */ }\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ]\n  }'"
    delete:
      tags:
      - Connector
      summary: Delete Connector
      description: Delete a connector.
      operationId: v1.connector.delete
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: await svix.connector.delete("connector_id");
      - lang: TypeScript
        label: TypeScript
        source: await svix.connector.delete("connector_id");
      - lang: Python
        label: Python
        source: "svix.connector.delete(\n    \"connector_id\",\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.connector.delete(\n    \"connector_id\",\n)"
      - lang: Go
        label: Go
        source: err := svix.Connector.Delete(ctx, "connector_id")
      - lang: Kotlin
        label: Kotlin
        source: "svix.connector.delete(\n    \"connector_id\"\n)"
      - lang: Java
        label: Java
        source: svix.getConnector().delete("connector_id");
      - lang: Ruby
        label: Ruby
        source: response = svix.connector.delete("connector_id")
      - lang: Rust
        label: Rust
        source: svix.connector().delete("connector_id".to_string()).await?;
      - lang: C#
        label: C#
        source: var response = svix.Connector.Delete("connector_id");
      - lang: PHP
        label: PHP
        source: "$svix->connector->delete(\n    \"connector_id\"\n);"
      - lang: Shell
        label: CLI
        source: svix connector delete "connector_id"
      - lang: Shell
        label: cURL
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Connector
      summary: Patch Connector
      description: Partially update a connector.
      operationId: v1.connector.patch
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorPatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.connector.patch(\"connector_id\", {\n  name: \"sample string\",\n  logo: \"sample string\",\n  description: \"sample string\",\n  kind: ConnectorKind.Custom,\n  instructions: \"sample string\",\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  transformation: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.connector.patch(\"connector_id\", {\n  name: \"sample string\",\n  logo: \"sample string\",\n  description: \"sample string\",\n  kind: ConnectorKind.Custom,\n  instructions: \"sample string\",\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  transformation: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n});"
      - lang: Python
        label: Python
        source: "response = svix.connector.patch(\n    \"connector_id\",\n    ConnectorPatch(\n        name=\"sample string\",\n        logo=\"sample string\",\n        description=\"sample string\",\n        kind=ConnectorKind.CUSTOM,\n        instructions=\"sample string\",\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        transformation=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.connector.patch(\n    \"connector_id\",\n    ConnectorPatch(\n        name=\"sample string\",\n        logo=\"sample string\",\n        description=\"sample string\",\n        kind=ConnectorKind.CUSTOM,\n        instructions=\"sample string\",\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        transformation=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Connector.Patch(\n\tctx,\n\t\"connector_id\",\n\tConnectorPatch{\n\t\tName:              new(\"sample string\"),\n\t\tLogo:              NewNullable(\"sample string\"),\n\t\tDescription:       new(\"sample string\"),\n\t\tKind:              new(CONNECTORKIND_CUSTOM),\n\t\tInstructions:      new(\"sample string\"),\n\t\tAllowedEventTypes: NewNullable([]string{\"user.signup\", \"user.deleted\"}),\n\t\tTransformation:    new(\"sample string\"),\n\t\tFeatureFlags:      NewNullable([]string{\"cool-new-feature\"}),\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.connector.patch(\n        \"connector_id\",\n        ConnectorPatch(\n            name = \"sample string\",\n            logo = MaybeUnset.Present(\"https://example.com/\"),\n            description = \"sample string\",\n            kind = ConnectorKind.CUSTOM,\n            instructions = \"sample string\",\n            allowedEventTypes = MaybeUnset.Present(setOf(\"user.signup\", \"user.deleted\")),\n            transformation = \"sample string\",\n            featureFlags = MaybeUnset.Present(setOf(\"cool-new-feature\")),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getConnector()\n        .patch(\n            \"connector_id\",\n            new ConnectorPatch()\n                .name(\"sample string\")\n                .logo(URI.create(\"https://example.com/\"))\n                .description(\"sample string\")\n                .kind(ConnectorKind.CUSTOM)\n                .instructions(\"sample string\")\n                .allowedEventTypes(Set.of(\"user.signup\", \"user.deleted\"))\n                .transformation(\"sample string\")\n                .featureFlags(Set.of(\"cool-new-feature\")));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .connector\n  .patch(\n    \"connector_id\",\n    {\n      name: \"sample string\",\n      logo: \"sample string\",\n      description: \"sample string\",\n      kind: ConnectorKind::CUSTOM,\n      instructions: \"sample string\",\n      allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n      transformation: \"sample string\",\n      featureFlags: [\"cool-new-feature\"]\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .connector()\n    .patch(\n        \"connector_id\".to_string(),\n        ConnectorPatch {\n            name: Some(\"sample string\".to_string()),\n            logo: js_option::JsOption::Some(\"sample string\".to_string()),\n            description: Some(\"sample string\".to_string()),\n            kind: Some(ConnectorKind::Custom),\n            instructions: Some(\"sample string\".to_string()),\n            allowed_event_types: js_option::JsOption::Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            transformation: Some(\"sample string\".to_string()),\n            feature_flags: js_option::JsOption::Some(\n                vec![\"cool-new-feature\".to_string()],\n            ),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Connector.Patch(\n    \"connector_id\",\n    new ConnectorPatch\n    {\n        Name = \"sample string\",\n        Logo = \"sample string\",\n        Description = \"sample string\",\n        Kind = ConnectorKind.Custom,\n        Instructions = \"sample string\",\n        AllowedEventTypes = MaybeUnset<List<string>?>.Set([\"user.signup\", \"user.deleted\"]),\n        Transformation = \"sample string\",\n        FeatureFlags = MaybeUnset<List<string>?>.Set([\"cool-new-feature\"]),\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->connector->patch(\n    \"connector_id\",\n    ConnectorPatch::create()\n    ->withName(\"sample string\")\n    ->withLogo(\"sample string\")\n    ->withDescription(\"sample string\")\n    ->withKind(ConnectorKind::CUSTOM)\n    ->withInstructions(\"sample string\")\n    ->withAllowedEventTypes([\"user.signup\",\"user.deleted\"])\n    ->withTransformation(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n);"
      - lang: Shell
        label: CLI
        source: "svix connector patch \"connector_id\" '{\n    \"name\": \"sample string\",\n    \"logo\": \"sample string\",\n    \"description\": \"sample string\",\n    \"kind\": \"Custom\",\n    \"instructions\": \"sample string\",\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"transformation\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ]\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"sample string\",\n    \"logo\": \"sample string\",\n    \"description\": \"sample string\",\n    \"kind\": \"Custom\",\n    \"instructions\": \"sample string\",\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"transformation\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ]\n  }'"
  /api/v1/connector/{connector_id}/options:
    get:
      tags:
      - Connector
      summary: Get Connector Options
      description: Get connector options.
      operationId: v1.connector.options.get
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOptions'
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
    put:
      tags:
      - Connector
      summary: Set Connector Options
      description: Set connector options.
      operationId: v1.connector.options.set
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorOptions'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOptions'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/connector/simulate:
    post:
      tags:
      - Connector
      summary: Simulate
      description: Simulate running the transformation on the payload and code.
      operationId: v1.connector.simulate
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransformationSimulateIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformationSimulateOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/connector/oauth/slack:
    post:
      tags:
      - Connector
      summary: Authorize Slack
      description: Get Slack Incoming webhook URL.
      operationId: v1.connector.oauth.slack
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthPayloadIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingWebhookPayloadOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/connector/oauth/discord:
    post:
      tags:
      - Connector
      summary: Authorize Discord
      description: Get Discord Incoming webhook URL.
      operationId: v1.connector.oauth.discord
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthPayloadIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingWebhookPayloadOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/connector/oauth/hubspot:
    post:
      tags:
      - Connector
      summary: Authorize Hubspot
      description: Get Hubspot access token using authorization code.
      operationId: v1.connector.oauth.hubspot
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthPayloadIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthPayloadOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/connector/oauth/hubspot:
    put:
      tags:
      - Connector
      summary: Update Hubspot Oauth Config
      description: 'Create / update endpoint Hubspot OAuth configuration.


        Specific private endpoint just for us, to avoid exposing the Hubspot secret to the client.'
      operationId: v1.endpoint.update-hubspot-oauth-config
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HubspotOauthConfigIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
components:
  schemas:
    TransformationSimulateIn:
      type: object
      properties:
        code:
          type: string
          maxLength: 51200
          minLength: 10
        eventType:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        channels:
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:+]+$
            example: project_1337
          uniqueItems: true
          nullable: true
        payload:
          type: object
          additionalProperties: true
      required:
      - code
      - eventType
      - payload
    ConnectorAuthenticationMethod:
      type: string
      enum:
      - HttpBearer
      - HttpBasic
    ConnectorOut:
      type: object
      properties:
        id:
          description: The Connector's ID.
          type: string
          maxLength: 34
          minLength: 34
          pattern: ^trtmpl_[A-Za-z0-9]{27}$
          example: trtmpl_1srOrx2ZWZBpBUvZwXKQmoEYga2
        orgId:
          description: The Environment's ID.
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^org_[A-Za-z0-9]{27}$
          example: org_1srOrx2ZWZBpBUvZwXKQmoEYga2
        uid:
          description: The Connector's UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        kind:
          $ref: '#/components/schemas/ConnectorKind'
        name:
          type: string
        logo:
          type: string
          format: uri
          nullable: true
        description:
          type: string
        instructions:
          type: string
        allowedEventTypes:
          type: array
          nullable: true
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
        transformation:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        transformationUpdatedAt:
          type: string
          format: date-time
        featureFlags:
          type: array
          default: null
          nullable: true
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
        productType:
          $ref: '#/components/schemas/ConnectorProduct'
      required:
      - createdAt
      - description
      - id
      - instructions
      - kind
      - name
      - orgId
      - productType
      - transformation
      - transformationUpdatedAt
      - updatedAt
    ConnectorUpdate:
      type: object
      properties:
        name:
          type: string
          default: ''
          example: My first connector
        logo:
          type: string
          format: uri
          nullable: true
          example: https://example.com/logo.png
        description:
          type: string
          default: ''
          example: Example connector description
        kind:
          default: Custom
          $ref: '#/components/schemas/ConnectorKind'
          example: Slack
        instructions:
          type: string
          default: ''
          example: Markdown-formatted instructions
        allowedEventTypes:
          type: array
          nullable: true
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
        transformation:
          type: string
          minLength: 10
          maxLength: 51200
          example: function handler(webhook) { /* ... */ }
        featureFlags:
          type: array
          default: null
          nullable: true
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
      required:
      - transformation
    CustomConnectorOptions:
      type: object
      properties:
        authenticationMethod:
          $ref: '#/components/schemas/ConnectorAuthenticationMethod'
          nullable: true
        defaultUrl:
          type: string
          format: uri
          nullable: true
    TransformationHttpMethod:
      type: string
      enum:
      - POST
      - PUT
      - PATCH
    TransformationSimulateOut:
      type: object
      properties:
        url:
          type: string
          format: uri
          maxLength: 65536
          minLength: 1
        payload:
          type: string
        method:
          $ref: '#/components/schemas/TransformationHttpMethod'
          nullable: true
        cancel:
          type: boolean
      required:
      - cancel
      - payload
      - url
    HttpErrorOut:
      title: HttpError
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
      required:
      - code
      - detail
    OAuthPayloadOut:
      type: object
      properties:
        accessToken:
          type: string
          nullable: true
        refreshToken:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      required:
      - detail
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
      required:
      - loc
      - msg
      - type
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    ListResponse_ConnectorOut_:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorOut'
        iterator:
          type: string
          nullable: true
          example: iterator
        prevIterator:
          type: string
          nullable: true
          example: -iterator
        done:
          type: boolean
      required:
      - data
      - done
      - iterator
    HubspotOauthConfigIn:
      type: object
      properties:
        refresh_token:
          type: string
      required:
      - refresh_token
    ConnectorOptions:
      oneOf:
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Custom
          options:
            $ref: '#/components/schemas/CustomConnectorOptions'
        required:
        - kind
        - options
      - type: object
        properties:
          kind:
            type: string
            enum:
            - AgenticCommerceProtocol
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - CloseCRM
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - CustomerIO
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Discord
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Hubspot
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Inngest
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Loops
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Otel
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Resend
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Salesforce
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Segment
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Sendgrid
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Slack
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Teams
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - TriggerDev
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Windmill
        required:
        - kind
      - type: object
        properties:
          kind:
            type: string
            enum:
            - Zapier
        required:
        - kind
    ConnectorKind:
      type: string
      enum:
      - Custom
      - AgenticCommerceProtocol
      - CloseCRM
      - CustomerIO
      - Discord
      - Hubspot
      - Inngest
      - Loops
      - Otel
      - Resend
      - Salesforce
      - Segment
      - Sendgrid
      - Slack
      - Teams
      - TriggerDev
      - Windmill
      - Zapier
    ConnectorPatch:
      type: object
      properties:
        name:
          type: string
        logo:
          type: string
          format: uri
          nullable: true
        description:
          type: string
        kind:
          $ref: '#/components/schemas/ConnectorKind'
        instructions:
          type: string
        allowedEventTypes:
          type: array
          nullable: true
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
        transformation:
          type: string
          maxLength: 51200
          minLength: 10
        featureFlags:
          type: array
          nullable: true
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
    ConnectorIn:
      type: object
      properties:
        name:
          type: string
          example: My first connector
        uid:
          description: The Connector's UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        logo:
          type: string
          format: uri
          nullable: true
          example: https://example.com/logo.png
        description:
          type: string
          default: ''
          example: Example connector description
        kind:
          default: Custom
          $ref: '#/components/schemas/ConnectorKind'
          example: Slack
        instructions:
          type: string
          default: ''
          example: Markdown-formatted instructions
        allowedEventTypes:
          type: array
          nullable: true
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
        transformation:
          type: string
          minLength: 10
          maxLength: 51200
          example: function handler(webhook) { /* ... */ }
        featureFlags:
          type: array
          default: null
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          nullable: true
        productType:
          default: null
          $ref: '#/components/schemas/ConnectorProduct'
          nullable: true
      required:
      - name
      - transformation
    OAuthPayloadIn:
      type: object
      properties:
        code:
          type: string
        redirectUri:
          type: string
      required:
      - code
      - redirectUri
    ConnectorProduct:
      type: string
      enum:
      - Dispatch
      - Stream
    IncomingWebhookPayloadOut:
      type: object
      properties:
        error:
          type: string
          nullable: true
        incomingWebhookUrl:
          type: string
          format: uri
          nullable: true
        channel:
          type: string
          nullable: true
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  endpoint.created:
    post:
      tags:
      - Webhook
      summary: endpoint.created
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      tags:
      - Webhook
      summary: endpoint.deleted
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: endpoint.disabled
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      tags:
      - Webhook
      summary: endpoint.enabled
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      tags:
      - Webhook
      summary: endpoint.updated
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  background_task.finished:
    post:
      tags:
      - Webhook
      summary: background_task.finished
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
            example:
              data:
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
                task: application.stats
                status: finished
                data:
                  appStats:
                  - messageDestinations: 343
                    appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
              type: background_task.finished
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: ingest.endpoint.disabled
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: ingest.endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  message.attempt.log:
    post:
      tags:
      - Webhook
      summary: message.attempt.log
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
            example:
              data:
              - orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                msgCreated: '2022-11-06T15:04:05Z'
                attemptStart: '2022-11-06T15:04:06Z'
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                attemptCount: 1
                status: 0
                eventType: user.signup
              type: message.attempt.log
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
      x-svix-feature-flags:
      - attempt_log
      x-internal: true
