openapi: 3.2.0
info:
  title: Svix Sink API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.922.0
  x-logo:
    url: https://www.svix.com/static/img/brand-padded.svg
    altText: Svix Logo
servers:
- url: https://api.eu.svix.com
  description: The Svix EU region
- url: https://api.us.svix.com
  description: The Svix US region
- url: https://api.ca.svix.com
  description: The Svix Canada region
- url: https://api.au.svix.com
  description: The Svix Australia region
- url: https://api.in.svix.com
  description: The Svix India region
tags:
- name: Sink
paths:
  /api/v1/stream/{stream_id}/sink/{sink_id}/last-acked-event:
    get:
      tags:
      - Sink
      summary: Get Last Acked Event
      description: Get the latest event acked from the stream
      operationId: v1.streaming.sink.get-last-acked-event
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/stream/{stream_id}/sink/{sink_id}/next-event:
    get:
      tags:
      - Sink
      summary: Get Next Stream Sink Event
      description: Get the oldest event that has not been acked by the sink
      operationId: v1.streaming.sink.events.get-next-event
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/stream/{stream_id}/sink:
    get:
      tags:
      - Sink
      summary: List Sinks
      description: List of all the stream's sinks.
      operationId: v1.streaming.sink.list
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 27
          minLength: 26
          pattern: ^sink_[A-Za-z0-9]{21,22}$
          nullable: true
          example: sink_2yZwUhtgs5Ai8T9yRQJXA
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_StreamSinkOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.streaming.sink.list("strm_31Dc0DD72P5AddYUguyBd");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.streaming.sink.list("strm_31Dc0DD72P5AddYUguyBd");
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.list(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.list(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Streaming.Sink.List(ctx, "strm_31Dc0DD72P5AddYUguyBd", nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.streaming.sink.list("strm_31Dc0DD72P5AddYUguyBd")
      - lang: Java
        label: Java
        source: var response = svix.getStreaming().getSink().list("strm_31Dc0DD72P5AddYUguyBd");
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.sink.list("strm_31Dc0DD72P5AddYUguyBd")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .list(\"strm_31Dc0DD72P5AddYUguyBd\".to_string(), None)\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.Streaming.Sink.List("strm_31Dc0DD72P5AddYUguyBd");
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->list(\n    \"strm_31Dc0DD72P5AddYUguyBd\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming sink list "strm_31Dc0DD72P5AddYUguyBd"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Sink
      summary: Create Sink
      description: Creates a new sink.
      operationId: v1.streaming.sink.create
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSinkIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamSinkOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sink.create(\"strm_31Dc0DD72P5AddYUguyBd\", {\n  uid: \"unique-identifier\",\n  status: SinkStatusIn.Enabled,\n  batchSize: 100,\n  maxWaitSecs: 1,\n  eventTypes: [],\n  metadata: {},\n  type: \"azureBlobStorage\",\n  config: {\n    container: \"sample string\",\n    account: \"sample string\",\n    accessKey: \"sample string\",\n  },\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sink.create(\"strm_31Dc0DD72P5AddYUguyBd\", {\n  uid: \"unique-identifier\",\n  status: SinkStatusIn.Enabled,\n  batchSize: 100,\n  maxWaitSecs: 1,\n  eventTypes: [],\n  metadata: {},\n  type: \"azureBlobStorage\",\n  config: {\n    container: \"sample string\",\n    account: \"sample string\",\n    accessKey: \"sample string\",\n  },\n});"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.create(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    StreamSinkIn(\n        uid=\"unique-identifier\",\n        status=SinkStatusIn.ENABLED,\n        batch_size=100,\n        max_wait_secs=1,\n        event_types=[],\n        metadata={},\n        type=\"azureBlobStorage\",\n        config=AzureBlobStorageConfig(\n            container=\"sample string\",\n            account=\"sample string\",\n            access_key=\"sample string\",\n        ),\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.create(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    StreamSinkIn(\n        uid=\"unique-identifier\",\n        status=SinkStatusIn.ENABLED,\n        batch_size=100,\n        max_wait_secs=1,\n        event_types=[],\n        metadata={},\n        type=\"azureBlobStorage\",\n        config=AzureBlobStorageConfig(\n            container=\"sample string\",\n            account=\"sample string\",\n            access_key=\"sample string\",\n        ),\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.Sink.Create(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\tStreamSinkIn{\n\t\tUid:         new(\"unique-identifier\"),\n\t\tStatus:      new(SINKSTATUSIN_ENABLED),\n\t\tBatchSize:   new(uint16(100)),\n\t\tMaxWaitSecs: new(uint16(1)),\n\t\tEventTypes:  []string{},\n\t\tMetadata:    nil,\n\t\tConfig:      (AzureBlobStorageConfig{Container: \"sample string\", Account: \"sample string\", AccessKey: \"sample string\"}),\n\t\tType:        \"azureBlobStorage\",\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sink.create(\n        \"strm_31Dc0DD72P5AddYUguyBd\",\n        StreamSinkIn(\n            uid = \"unique-identifier\",\n            status = SinkStatusIn.ENABLED,\n            batchSize = 100u,\n            maxWaitSecs = 1u,\n            eventTypes = listOf(),\n            metadata = mapOf(),\n            config =\n                StreamSinkInConfig.AzureBlobStorage(\n                    AzureBlobStorageConfig(\n                        container = \"sample string\",\n                        account = \"sample string\",\n                        accessKey = \"sample string\",\n                    )\n                ),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getSink()\n        .create(\n            \"strm_31Dc0DD72P5AddYUguyBd\",\n            new StreamSinkIn()\n                .uid(\"unique-identifier\")\n                .status(SinkStatusIn.ENABLED)\n                .batchSize(100L)\n                .maxWaitSecs(1L)\n                .eventTypes(List.of())\n                .metadata(Map.of())\n                .config(new StreamSinkInConfig.AzureBlobStorage(new AzureBlobStorageConfig()\n                    .container(\"sample string\")\n                    .account(\"sample string\")\n                    .accessKey(\"sample string\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .sink\n  .create(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    {\n      uid: \"unique-identifier\",\n      status: SinkStatusIn::ENABLED,\n      batchSize: 100,\n      maxWaitSecs: 1,\n      eventTypes: [],\n      metadata: {},\n      config: {container: \"sample string\", account: \"sample string\", accessKey: \"sample string\"},\n      type: \"azureBlobStorage\"\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .create(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        StreamSinkIn {\n            uid: Some(\"unique-identifier\".to_string()),\n            status: Some(SinkStatusIn::Enabled),\n            batch_size: Some(100),\n            max_wait_secs: Some(1),\n            event_types: Some(vec![]),\n            metadata: Some(HashMap::new()),\n            config: StreamSinkInConfig::AzureBlobStorage(AzureBlobStorageConfig {\n                container: \"sample string\".to_string(),\n                account: \"sample string\".to_string(),\n                access_key: \"sample string\".to_string(),\n            }),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.Sink.Create(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    new StreamSinkIn\n    {\n        Uid = \"unique-identifier\",\n        Status = SinkStatusIn.Enabled,\n        BatchSize = 100,\n        MaxWaitSecs = 1,\n        EventTypes = [],\n        Metadata = [],\n        Config = StreamSinkInConfig.AzureBlobStorage(\n            (\n                new AzureBlobStorageConfig\n                {\n                    Container = \"sample string\",\n                    Account = \"sample string\",\n                    AccessKey = \"sample string\",\n                }\n            )\n        ),\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->create(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    StreamSinkIn::create()\n    ->withUid(\"unique-identifier\")\n    ->withStatus(SinkStatusIn::ENABLED)\n    ->withBatchSize(100)\n    ->withMaxWaitSecs(1)\n    ->withEventTypes([])\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming sink create \"strm_31Dc0DD72P5AddYUguyBd\" '{\n    \"uid\": \"unique-identifier\",\n    \"status\": \"enabled\",\n    \"batchSize\": 100,\n    \"maxWaitSecs\": 1,\n    \"eventTypes\": [],\n    \"metadata\": {},\n    \"type\": \"azureBlobStorage\",\n    \"config\": {\n      \"container\": \"sample string\",\n      \"account\": \"sample string\",\n      \"accessKey\": \"sample string\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"uid\": \"unique-identifier\",\n    \"status\": \"enabled\",\n    \"batchSize\": 100,\n    \"maxWaitSecs\": 1,\n    \"eventTypes\": [],\n    \"metadata\": {},\n    \"type\": \"azureBlobStorage\",\n    \"config\": {\n      \"container\": \"sample string\",\n      \"account\": \"sample string\",\n      \"accessKey\": \"sample string\"\n    }\n  }'"
  /api/v1/stream/{stream_id}/sink/{sink_id}:
    get:
      tags:
      - Sink
      summary: Get Sink
      description: Get a sink by id or uid.
      operationId: v1.streaming.sink.get
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamSinkOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sink.get(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sink.get(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.get(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.get(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.Sink.Get(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.streaming.sink.get("strm_31Dc0DD72P5AddYUguyBd", "sink_31Dc11sPYY9aLDkwPuGMa")
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getSink()\n        .get(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.sink.get("strm_31Dc0DD72P5AddYUguyBd", "sink_31Dc11sPYY9aLDkwPuGMa")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .get(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.Streaming.Sink.Get("strm_31Dc0DD72P5AddYUguyBd", "sink_31Dc11sPYY9aLDkwPuGMa");
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->get(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming sink get "strm_31Dc0DD72P5AddYUguyBd" "sink_31Dc11sPYY9aLDkwPuGMa"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Sink
      summary: Upsert Sink
      description: Create or update a sink.
      operationId: v1.streaming.sink.update
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSinkIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamSinkOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamSinkOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sink.update(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    uid: \"unique-identifier\",\n    status: SinkStatusIn.Enabled,\n    batchSize: 100,\n    maxWaitSecs: 1,\n    eventTypes: [],\n    metadata: {},\n    type: \"azureBlobStorage\",\n    config: {\n      container: \"sample string\",\n      account: \"sample string\",\n      accessKey: \"sample string\",\n    },\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sink.update(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    uid: \"unique-identifier\",\n    status: SinkStatusIn.Enabled,\n    batchSize: 100,\n    maxWaitSecs: 1,\n    eventTypes: [],\n    metadata: {},\n    type: \"azureBlobStorage\",\n    config: {\n      container: \"sample string\",\n      account: \"sample string\",\n      accessKey: \"sample string\",\n    },\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.update(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    StreamSinkIn(\n        uid=\"unique-identifier\",\n        status=SinkStatusIn.ENABLED,\n        batch_size=100,\n        max_wait_secs=1,\n        event_types=[],\n        metadata={},\n        type=\"azureBlobStorage\",\n        config=AzureBlobStorageConfig(\n            container=\"sample string\",\n            account=\"sample string\",\n            access_key=\"sample string\",\n        ),\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.update(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    StreamSinkIn(\n        uid=\"unique-identifier\",\n        status=SinkStatusIn.ENABLED,\n        batch_size=100,\n        max_wait_secs=1,\n        event_types=[],\n        metadata={},\n        type=\"azureBlobStorage\",\n        config=AzureBlobStorageConfig(\n            container=\"sample string\",\n            account=\"sample string\",\n            access_key=\"sample string\",\n        ),\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.Sink.Update(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\tStreamSinkIn{\n\t\tUid:         new(\"unique-identifier\"),\n\t\tStatus:      new(SINKSTATUSIN_ENABLED),\n\t\tBatchSize:   new(uint16(100)),\n\t\tMaxWaitSecs: new(uint16(1)),\n\t\tEventTypes:  []string{},\n\t\tMetadata:    nil,\n\t\tConfig:      (AzureBlobStorageConfig{Container: \"sample string\", Account: \"sample string\", AccessKey: \"sample string\"}),\n\t\tType:        \"azureBlobStorage\",\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sink.update(\n        \"strm_31Dc0DD72P5AddYUguyBd\",\n        \"sink_31Dc11sPYY9aLDkwPuGMa\",\n        StreamSinkIn(\n            uid = \"unique-identifier\",\n            status = SinkStatusIn.ENABLED,\n            batchSize = 100u,\n            maxWaitSecs = 1u,\n            eventTypes = listOf(),\n            metadata = mapOf(),\n            config =\n                StreamSinkInConfig.AzureBlobStorage(\n                    AzureBlobStorageConfig(\n                        container = \"sample string\",\n                        account = \"sample string\",\n                        accessKey = \"sample string\",\n                    )\n                ),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getSink()\n        .update(\n            \"strm_31Dc0DD72P5AddYUguyBd\",\n            \"sink_31Dc11sPYY9aLDkwPuGMa\",\n            new StreamSinkIn()\n                .uid(\"unique-identifier\")\n                .status(SinkStatusIn.ENABLED)\n                .batchSize(100L)\n                .maxWaitSecs(1L)\n                .eventTypes(List.of())\n                .metadata(Map.of())\n                .config(new StreamSinkInConfig.AzureBlobStorage(new AzureBlobStorageConfig()\n                    .container(\"sample string\")\n                    .account(\"sample string\")\n                    .accessKey(\"sample string\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .sink\n  .update(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    {\n      uid: \"unique-identifier\",\n      status: SinkStatusIn::ENABLED,\n      batchSize: 100,\n      maxWaitSecs: 1,\n      eventTypes: [],\n      metadata: {},\n      config: {container: \"sample string\", account: \"sample string\", accessKey: \"sample string\"},\n      type: \"azureBlobStorage\"\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .update(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        StreamSinkIn {\n            uid: Some(\"unique-identifier\".to_string()),\n            status: Some(SinkStatusIn::Enabled),\n            batch_size: Some(100),\n            max_wait_secs: Some(1),\n            event_types: Some(vec![]),\n            metadata: Some(HashMap::new()),\n            config: StreamSinkInConfig::AzureBlobStorage(AzureBlobStorageConfig {\n                container: \"sample string\".to_string(),\n                account: \"sample string\".to_string(),\n                access_key: \"sample string\".to_string(),\n            }),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.Sink.Update(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    new StreamSinkIn\n    {\n        Uid = \"unique-identifier\",\n        Status = SinkStatusIn.Enabled,\n        BatchSize = 100,\n        MaxWaitSecs = 1,\n        EventTypes = [],\n        Metadata = [],\n        Config = StreamSinkInConfig.AzureBlobStorage(\n            (\n                new AzureBlobStorageConfig\n                {\n                    Container = \"sample string\",\n                    Account = \"sample string\",\n                    AccessKey = \"sample string\",\n                }\n            )\n        ),\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->update(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    StreamSinkIn::create()\n    ->withUid(\"unique-identifier\")\n    ->withStatus(SinkStatusIn::ENABLED)\n    ->withBatchSize(100)\n    ->withMaxWaitSecs(1)\n    ->withEventTypes([])\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming sink update \"strm_31Dc0DD72P5AddYUguyBd\" \"sink_31Dc11sPYY9aLDkwPuGMa\" '{\n    \"uid\": \"unique-identifier\",\n    \"status\": \"enabled\",\n    \"batchSize\": 100,\n    \"maxWaitSecs\": 1,\n    \"eventTypes\": [],\n    \"metadata\": {},\n    \"type\": \"azureBlobStorage\",\n    \"config\": {\n      \"container\": \"sample string\",\n      \"account\": \"sample string\",\n      \"accessKey\": \"sample string\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"uid\": \"unique-identifier\",\n    \"status\": \"enabled\",\n    \"batchSize\": 100,\n    \"maxWaitSecs\": 1,\n    \"eventTypes\": [],\n    \"metadata\": {},\n    \"type\": \"azureBlobStorage\",\n    \"config\": {\n      \"container\": \"sample string\",\n      \"account\": \"sample string\",\n      \"accessKey\": \"sample string\"\n    }\n  }'"
    delete:
      tags:
      - Sink
      summary: Delete Sink
      description: Delete a sink.
      operationId: v1.streaming.sink.delete
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.streaming.sink.delete(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.streaming.sink.delete(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Python
        label: Python
        source: "svix.streaming.sink.delete(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.streaming.sink.delete(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Go
        label: Go
        source: "err := svix.Streaming.Sink.Delete(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.streaming.sink.delete(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Java
        label: Java
        source: "svix.getStreaming()\n        .getSink()\n        .delete(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.sink.delete("strm_31Dc0DD72P5AddYUguyBd", "sink_31Dc11sPYY9aLDkwPuGMa")
      - lang: Rust
        label: Rust
        source: "svix.streaming()\n    .sink()\n    .delete(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.Sink.Delete(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: PHP
        label: PHP
        source: "$svix->streaming->sink->delete(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming sink delete "strm_31Dc0DD72P5AddYUguyBd" "sink_31Dc11sPYY9aLDkwPuGMa"
      - lang: Shell
        label: cURL
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Sink
      summary: Patch Sink
      description: Partially update a sink.
      operationId: v1.streaming.sink.patch
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSinkPatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamSinkOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sink.patch(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    uid: \"unique-identifier\",\n    status: SinkStatusIn.Enabled,\n    batchSize: 100,\n    maxWaitSecs: 1,\n    eventTypes: [],\n    metadata: {},\n    type: \"azureBlobStorage\",\n    config: {\n      container: \"sample string\",\n      account: \"sample string\",\n      accessKey: \"sample string\",\n    },\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sink.patch(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    uid: \"unique-identifier\",\n    status: SinkStatusIn.Enabled,\n    batchSize: 100,\n    maxWaitSecs: 1,\n    eventTypes: [],\n    metadata: {},\n    type: \"azureBlobStorage\",\n    config: {\n      container: \"sample string\",\n      account: \"sample string\",\n      accessKey: \"sample string\",\n    },\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    StreamSinkPatch(\n        uid=\"unique-identifier\",\n        status=SinkStatusIn.ENABLED,\n        batch_size=100,\n        max_wait_secs=1,\n        event_types=[],\n        metadata={},\n        type=\"azureBlobStorage\",\n        config=AzureBlobStoragePatchConfig(\n            container=\"sample string\",\n            account=\"sample string\",\n            access_key=\"sample string\",\n        ),\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    StreamSinkPatch(\n        uid=\"unique-identifier\",\n        status=SinkStatusIn.ENABLED,\n        batch_size=100,\n        max_wait_secs=1,\n        event_types=[],\n        metadata={},\n        type=\"azureBlobStorage\",\n        config=AzureBlobStoragePatchConfig(\n            container=\"sample string\",\n            account=\"sample string\",\n            access_key=\"sample string\",\n        ),\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.Sink.Patch(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\tStreamSinkPatch{\n\t\tUid:         NewNullable(\"unique-identifier\"),\n\t\tStatus:      NewNullable(SINKSTATUSIN_ENABLED),\n\t\tBatchSize:   NewNullable(uint16(100)),\n\t\tMaxWaitSecs: NewNullable(uint16(1)),\n\t\tEventTypes:  []string{},\n\t\tMetadata:    nil,\n\t\tConfig:      (AzureBlobStoragePatchConfig{Container: new(\"sample string\"), Account: new(\"sample string\"), AccessKey: new(\"sample string\")}),\n\t\tType:        \"azureBlobStorage\",\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sink.patch(\n        \"strm_31Dc0DD72P5AddYUguyBd\",\n        \"sink_31Dc11sPYY9aLDkwPuGMa\",\n        StreamSinkPatch(\n            uid = MaybeUnset.Present(\"unique-identifier\"),\n            status = MaybeUnset.Present(SinkStatusIn.ENABLED),\n            batchSize = MaybeUnset.Present(100u),\n            maxWaitSecs = MaybeUnset.Present(1u),\n            eventTypes = listOf(),\n            metadata = mapOf(),\n            config =\n                StreamSinkPatchConfig.AzureBlobStorage(\n                    AzureBlobStoragePatchConfig(\n                        container = \"sample string\",\n                        account = \"sample string\",\n                        accessKey = \"sample string\",\n                    )\n                ),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getSink()\n        .patch(\n            \"strm_31Dc0DD72P5AddYUguyBd\",\n            \"sink_31Dc11sPYY9aLDkwPuGMa\",\n            new StreamSinkPatch()\n                .uid(\"unique-identifier\")\n                .status(SinkStatusIn.ENABLED)\n                .batchSize(100L)\n                .maxWaitSecs(1L)\n                .eventTypes(List.of())\n                .metadata(Map.of())\n                .config(new StreamSinkPatchConfig.AzureBlobStorage(new AzureBlobStoragePatchConfig()\n                    .container(\"sample string\")\n                    .account(\"sample string\")\n                    .accessKey(\"sample string\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .sink\n  .patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    {\n      uid: \"unique-identifier\",\n      status: SinkStatusIn::ENABLED,\n      batchSize: 100,\n      maxWaitSecs: 1,\n      eventTypes: [],\n      metadata: {},\n      config: {container: \"sample string\", account: \"sample string\", accessKey: \"sample string\"},\n      type: \"azureBlobStorage\"\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .patch(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        StreamSinkPatch {\n            uid: js_option::JsOption::Some(\"unique-identifier\".to_string()),\n            status: js_option::JsOption::Some(SinkStatusIn::Enabled),\n            batch_size: js_option::JsOption::Some(100),\n            max_wait_secs: js_option::JsOption::Some(1),\n            event_types: Some(vec![]),\n            metadata: Some(HashMap::new()),\n            config: StreamSinkPatchConfig::AzureBlobStorage(AzureBlobStoragePatchConfig {\n                container: Some(\"sample string\".to_string()),\n                account: Some(\"sample string\".to_string()),\n                access_key: Some(\"sample string\".to_string()),\n            }),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.Sink.Patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    new StreamSinkPatch\n    {\n        Uid = \"unique-identifier\",\n        Status = SinkStatusIn.Enabled,\n        BatchSize = 100,\n        MaxWaitSecs = 1,\n        EventTypes = [],\n        Metadata = [],\n        Config = StreamSinkPatchConfig.AzureBlobStorage(\n            (\n                new AzureBlobStoragePatchConfig\n                {\n                    Container = \"sample string\",\n                    Account = \"sample string\",\n                    AccessKey = \"sample string\",\n                }\n            )\n        ),\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    StreamSinkPatch::create()\n    ->withUid(\"unique-identifier\")\n    ->withStatus(SinkStatusIn::ENABLED)\n    ->withBatchSize(100)\n    ->withMaxWaitSecs(1)\n    ->withEventTypes([])\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming sink patch \"strm_31Dc0DD72P5AddYUguyBd\" \"sink_31Dc11sPYY9aLDkwPuGMa\" '{\n    \"uid\": \"unique-identifier\",\n    \"status\": \"enabled\",\n    \"batchSize\": 100,\n    \"maxWaitSecs\": 1,\n    \"eventTypes\": [],\n    \"metadata\": {},\n    \"type\": \"azureBlobStorage\",\n    \"config\": {\n      \"container\": \"sample string\",\n      \"account\": \"sample string\",\n      \"accessKey\": \"sample string\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"uid\": \"unique-identifier\",\n    \"status\": \"enabled\",\n    \"batchSize\": 100,\n    \"maxWaitSecs\": 1,\n    \"eventTypes\": [],\n    \"metadata\": {},\n    \"type\": \"azureBlobStorage\",\n    \"config\": {\n      \"container\": \"sample string\",\n      \"account\": \"sample string\",\n      \"accessKey\": \"sample string\"\n    }\n  }'"
  /api/v1/stream/{stream_id}/sink/{sink_id}/transformation:
    get:
      tags:
      - Sink
      summary: Get Sink Transformation
      description: Get the transformation code associated with this sink.
      operationId: v1.streaming.sink-transformation-get
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinkTransformationOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sinkTransformationGet(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sinkTransformationGet(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink_transformation_get(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink_transformation_get(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.SinkTransformationGet(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sinkTransformationGet(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\")"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .sinkTransformationGet(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.sink_transformation_get("strm_31Dc0DD72P5AddYUguyBd", "sink_31Dc11sPYY9aLDkwPuGMa")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink_transformation_get(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.SinkTransformationGet(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sinkTransformationGet(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming sink-transformation-get "strm_31Dc0DD72P5AddYUguyBd" "sink_31Dc11sPYY9aLDkwPuGMa"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa/transformation' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    patch:
      tags:
      - Sink
      summary: Set Sink Transformation
      description: Set or unset the transformation code associated with this sink.
      operationId: v1.streaming.sink.transformation-partial-update
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SinkTransformIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sink.transformationPartialUpdate(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    code: \"sample string\",\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sink.transformationPartialUpdate(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    code: \"sample string\",\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.transformation_partial_update(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    SinkTransformIn(\n        code=\"sample string\",\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.transformation_partial_update(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    SinkTransformIn(\n        code=\"sample string\",\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.Sink.TransformationPartialUpdate(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\tSinkTransformIn{Code: new(\"sample string\")},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sink.transformationPartialUpdate(\n        \"strm_31Dc0DD72P5AddYUguyBd\",\n        \"sink_31Dc11sPYY9aLDkwPuGMa\",\n        SinkTransformIn(code = \"sample string\"),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getSink()\n        .transformationPartialUpdate(\n            \"strm_31Dc0DD72P5AddYUguyBd\",\n            \"sink_31Dc11sPYY9aLDkwPuGMa\",\n            new SinkTransformIn().code(\"sample string\"));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .sink\n  .transformation_partial_update(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\", {code: \"sample string\"})"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .transformation_partial_update(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        SinkTransformIn {\n            code: Some(\"sample string\".to_string()),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.Sink.TransformationPartialUpdate(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    new SinkTransformIn { Code = \"sample string\" }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->transformationPartialUpdate(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    SinkTransformIn::create()\n    ->withCode(\"sample string\")\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming sink transformation-partial-update \"strm_31Dc0DD72P5AddYUguyBd\" \"sink_31Dc11sPYY9aLDkwPuGMa\" '{\n    \"code\": \"sample string\"\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa/transformation' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"code\": \"sample string\"\n  }'"
  /api/v1/stream/{stream_id}/sink/{sink_id}/secret:
    get:
      tags:
      - Sink
      summary: Get Sink Secret
      description: 'Get the sink''s signing secret (only supported for http sinks)


        This is used to verify the authenticity of the delivery.


        For more information please refer to [the consuming webhooks docs](https://docs.svix.com/consuming-webhooks/).'
      operationId: v1.streaming.sink.get-secret
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinkSecretOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sink.getSecret(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sink.getSecret(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.get_secret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.get_secret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.Sink.GetSecret(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sink.getSecret(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\")"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getSink()\n        .getSecret(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.sink.get_secret("strm_31Dc0DD72P5AddYUguyBd", "sink_31Dc11sPYY9aLDkwPuGMa")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .get_secret(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.Sink.GetSecret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->getSecret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming sink get-secret "strm_31Dc0DD72P5AddYUguyBd" "sink_31Dc11sPYY9aLDkwPuGMa"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa/secret' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/stream/{stream_id}/sink/{sink_id}/secret/rotate:
    post:
      tags:
      - Sink
      summary: Rotate Sink Secret
      description: Rotates the signing secret (only supported for http sinks).
      operationId: v1.streaming.sink.rotate-secret
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointSecretRotateIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sink.rotateSecret(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    gracePeriodSeconds: 1,\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sink.rotateSecret(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    gracePeriodSeconds: 1,\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink.rotate_secret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    EndpointSecretRotateIn(\n        key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        grace_period_seconds=1,\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink.rotate_secret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    EndpointSecretRotateIn(\n        key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        grace_period_seconds=1,\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.Sink.RotateSecret(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\tEndpointSecretRotateIn{\n\t\tKey:                new(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"),\n\t\tGracePeriodSeconds: new(uint32(1)),\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sink.rotateSecret(\n        \"strm_31Dc0DD72P5AddYUguyBd\",\n        \"sink_31Dc11sPYY9aLDkwPuGMa\",\n        EndpointSecretRotateIn(\n            key = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n            gracePeriodSeconds = 1,\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getSink()\n        .rotateSecret(\n            \"strm_31Dc0DD72P5AddYUguyBd\",\n            \"sink_31Dc11sPYY9aLDkwPuGMa\",\n            new EndpointSecretRotateIn()\n                .key(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n                .gracePeriodSeconds(1));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .sink\n  .rotate_secret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    {key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\", gracePeriodSeconds: 1}\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink()\n    .rotate_secret(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        EndpointSecretRotateIn {\n            key: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n            grace_period_seconds: Some(1),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.Sink.RotateSecret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    new EndpointSecretRotateIn\n    {\n        Key = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        GracePeriodSeconds = 1,\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sink->rotateSecret(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    EndpointSecretRotateIn::create()\n    ->withKey(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n    ->withGracePeriodSeconds(1)\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming sink rotate-secret \"strm_31Dc0DD72P5AddYUguyBd\" \"sink_31Dc11sPYY9aLDkwPuGMa\" '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"gracePeriodSeconds\": 1\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa/secret/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"gracePeriodSeconds\": 1\n  }'"
  /api/v1/stream/{stream_id}/sink/{sink_id}/headers:
    get:
      tags:
      - Sink
      summary: Get Sink Headers
      description: 'Get the HTTP sink headers.


        Only valid for `http` or `otelTracing` sinks.'
      operationId: v1.streaming.sink-headers-get
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: 'The value of the headers is returned in the `headers` field.


            Sensitive headers that have been redacted are returned in the sensitive field.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointHeadersOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sinkHeadersGet(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sinkHeadersGet(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink_headers_get(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink_headers_get(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.SinkHeadersGet(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sinkHeadersGet(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\")"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .sinkHeadersGet(\"strm_31Dc0DD72P5AddYUguyBd\", \"sink_31Dc11sPYY9aLDkwPuGMa\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.sink_headers_get("strm_31Dc0DD72P5AddYUguyBd", "sink_31Dc11sPYY9aLDkwPuGMa")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink_headers_get(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.SinkHeadersGet(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sinkHeadersGet(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming sink-headers-get "strm_31Dc0DD72P5AddYUguyBd" "sink_31Dc11sPYY9aLDkwPuGMa"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    patch:
      tags:
      - Sink
      summary: Patch Sink Headers
      description: 'Updates the Sink''s headers.


        Only valid for `http` or `otelTracing` sinks.'
      operationId: v1.streaming.sink-headers-patch
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpSinkHeadersPatchIn'
        required: true
      responses:
        '200':
          description: 'The value of the headers is returned in the `headers` field.


            Sensitive headers that have been redacted are returned in the sensitive field.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointHeadersOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.sinkHeadersPatch(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.sinkHeadersPatch(\n  \"strm_31Dc0DD72P5AddYUguyBd\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  {\n    headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.streaming.sink_headers_patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    HttpSinkHeadersPatchIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.sink_headers_patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    HttpSinkHeadersPatchIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.SinkHeadersPatch(\n\tctx,\n\t\"strm_31Dc0DD72P5AddYUguyBd\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\tHttpSinkHeadersPatchIn{Headers: map[string]string{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.sinkHeadersPatch(\n        \"strm_31Dc0DD72P5AddYUguyBd\",\n        \"sink_31Dc11sPYY9aLDkwPuGMa\",\n        HttpSinkHeadersPatchIn(headers = mapOf(\"X-Example\" to \"123\", \"X-Foobar\" to \"Bar\")),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .sinkHeadersPatch(\n            \"strm_31Dc0DD72P5AddYUguyBd\",\n            \"sink_31Dc11sPYY9aLDkwPuGMa\",\n            new HttpSinkHeadersPatchIn()\n                .headers(\n                    Map.ofEntries(Map.entry(\"X-Example\", \"123\"), Map.entry(\"X-Foobar\", \"Bar\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .sink_headers_patch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    {headers: {:\"X-Example\" => \"123\", :\"X-Foobar\" => \"Bar\"}}\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .sink_headers_patch(\n        \"strm_31Dc0DD72P5AddYUguyBd\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        HttpSinkHeadersPatchIn {\n            headers: HashMap::from([\n                (\"X-Example\".to_string(), \"123\".to_string()),\n                (\"X-Foobar\".to_string(), \"Bar\".to_string()),\n            ]),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.SinkHeadersPatch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    new HttpSinkHeadersPatchIn\n    {\n        Headers = new() { { \"X-Example\", \"123\" }, { \"X-Foobar\", \"Bar\" } },\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->sinkHeadersPatch(\n    \"strm_31Dc0DD72P5AddYUguyBd\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    HttpSinkHeadersPatchIn::create(\n        headers: [\"X-Example\" => \"123\", \"X-Foobar\" => \"Bar\"]\n    )\n\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming sink-headers-patch \"strm_31Dc0DD72P5AddYUguyBd\" \"sink_31Dc11sPYY9aLDkwPuGMa\" '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/stream/strm_31Dc0DD72P5AddYUguyBd/sink/sink_31Dc11sPYY9aLDkwPuGMa/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    }\n  }'"
  /api/v1/stream/{stream_id}/sink/{sink_id}/force-retry:
    post:
      tags:
      - Sink
      summary: Force Retry
      description: Forces a Sink to retry dispatch immediately (if the sink is retrying).
      operationId: v1.streaming.sink.force-retry
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/stream/{stream_id}/sink/{sink_id}/skip:
    post:
      tags:
      - Sink
      summary: Skip To Event
      description: Skip events for a sink by moving its consumer group position event *after* the specified iterator.
      operationId: v1.streaming.sink.skip
      parameters:
      - in: path
        name: stream_id
        description: The Stream's ID or UID.
        required: true
        schema:
          description: The Stream's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The StreamSink's ID or UID.
        required: true
        schema:
          description: The StreamSink's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: query
        name: iterator
        schema:
          type: string
          nullable: true
        style: form
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipParams'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
components:
  schemas:
    HttpPatchConfig:
      type: object
      properties:
        url:
          type: string
          format: uri
    RedshiftPatchConfig:
      type: object
      properties:
        accessKeyId:
          type: string
        secretAccessKey:
          type: string
        region:
          type: string
        dbName:
          description: 'Database name.


            Only required if not using transformations.'
          type: string
        schemaName:
          description: 'Schema name.


            Only used if not using transformations.'
          type: string
          nullable: true
        tableName:
          description: 'Table name.


            Only required if not using transformations.'
          type: string
    AmazonS3PatchConfig:
      type: object
      properties:
        bucket:
          type: string
        accessKeyId:
          type: string
        secretAccessKey:
          type: string
        region:
          type: string
        endpointUrl:
          type: string
          format: uri
    BigQueryConfig:
      description: Configuration for a Google Cloud BigQuery sink.
      type: object
      properties:
        projectId:
          type: string
        datasetId:
          type: string
        tableId:
          type: string
        credentials:
          description: Google Cloud Credentials JSON Object as a string.
          type: string
      required:
      - credentials
      - datasetId
      - projectId
      - tableId
    SnsConfig:
      description: Configuration for a SNS sink.
      type: object
      properties:
        topicArn:
          type: string
        region:
          type: string
        accessKeyId:
          type: string
        secretAccessKey:
          type: string
        endpointUrl:
          type: string
          format: uri
          nullable: true
      required:
      - accessKeyId
      - region
      - secretAccessKey
      - topicArn
    RabbitMqConfig:
      description: Configuration for a RabbitMq sink.
      type: object
      properties:
        uri:
          type: string
        routingKey:
          type: string
      required:
      - routingKey
      - uri
    SqsConfig:
      description: Configuration for an SQS sink.
      type: object
      properties:
        queueUrl:
          type: string
          format: uri
        region:
          type: string
        accessKeyId:
          type: string
        secretAccessKey:
          type: string
        endpointUrl:
          type: string
          format: uri
          nullable: true
      required:
      - accessKeyId
      - queueUrl
      - region
      - secretAccessKey
    SinkHttpConfig:
      type: object
      properties:
        url:
          type: string
          format: uri
        headers:
          type: object
          default: {}
          additionalProperties:
            type: string
        key:
          type: string
          default: null
          nullable: true
      required:
      - url
    StreamSinkOut:
      type: object
      properties:
        id:
          description: The sink's ID.
          type: string
          maxLength: 27
          minLength: 26
          pattern: ^sink_[A-Za-z0-9]{21,22}$
          example: sink_2yZwUhtgs5Ai8T9yRQJXA
        uid:
          description: The sink's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!sink_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        status:
          $ref: '#/components/schemas/SinkStatus'
        currentIterator:
          type: string
        failureReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        batchSize:
          type: integer
          format: int32
        maxWaitSecs:
          type: integer
          format: int32
        eventTypes:
          type: array
          default: []
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
        nextRetryAt:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - poller
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - azureBlobStorage
          config:
            $ref: '#/components/schemas/AzureBlobStorageConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - otelTracing
          config:
            $ref: '#/components/schemas/SinkOtelV1Config'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - http
          config:
            $ref: '#/components/schemas/SinkHttpConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - amazonS3
          config:
            $ref: '#/components/schemas/S3Config'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - googleCloudStorage
          config:
            $ref: '#/components/schemas/GoogleCloudStorageConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - googleCloudPubSub
          config:
            $ref: '#/components/schemas/GoogleCloudPubSubConfig'
        required:
        - config
        - type
      - type: object
        properties:
[...]
