openapi: 3.1.0
info:
  title: Svix Application Connector API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.84.0
  x-logo:
    altText: Svix Logo
    url: https://www.svix.com/static/img/brand-padded.svg
servers:
- url: https://api.eu.svix.com/
  description: The Svix EU region
- url: https://api.us.svix.com/
  description: The Svix US region
- url: https://api.ca.svix.com/
  description: The Svix Canada region
- url: https://api.au.svix.com/
  description: The Svix Australia region
- url: https://api.in.svix.com/
  description: The Svix India region
tags:
- name: Connector
  description: Connectors allow you to connect applications to external services.
paths:
  /api/v1/connector:
    get:
      tags:
      - Connector
      summary: List Connectors
      description: List all connectors for an application.
      operationId: v1.connector.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 34
          minLength: 34
          pattern: ^trtmpl_[A-Za-z0-9]{27}$
          nullable: true
          example: trtmpl_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      - in: query
        name: product_type
        schema:
          $ref: '#/components/schemas/ConnectorProduct'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ConnectorOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.connector.list();
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.connector.list();
      - label: Python
        lang: Python
        source: response = svix.connector.list()
      - label: Python (Async)
        lang: Python
        source: response = await svix.connector.list()
      - label: Go
        lang: Go
        source: response, err := svix.Connector.List(ctx, nil)
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.connector.list()
      - label: Java
        lang: Java
        source: var response = svix.getConnector().list();
      - label: Ruby
        lang: Ruby
        source: response = svix.connector.list
      - label: Rust
        lang: Rust
        source: let response = svix.connector().list(None).await?;
      - label: C#
        lang: C#
        source: var response = svix.Connector.List();
      - label: PHP
        lang: PHP
        source: $response = $svix->connector->list();
      - label: CLI
        lang: Shell
        source: svix connector list
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/connector' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Connector
      summary: Create Connector
      description: Create a new connector.
      operationId: v1.connector.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.connector.create({\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  description: \"Example connector description\",\n  featureFlags: [],\n  instructions: \"Markdown-formatted instructions\",\n  kind: ConnectorKind.Custom,\n  logo: \"https://example.com/logo.png\",\n  name: \"My first connector\",\n  productType: ConnectorProduct.Dispatch,\n  transformation: \"function handler(webhook) { /* ... */ }\",\n  uid: \"unique-identifier\",\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.connector.create({\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  description: \"Example connector description\",\n  featureFlags: [],\n  instructions: \"Markdown-formatted instructions\",\n  kind: ConnectorKind.Custom,\n  logo: \"https://example.com/logo.png\",\n  name: \"My first connector\",\n  productType: ConnectorProduct.Dispatch,\n  transformation: \"function handler(webhook) { /* ... */ }\",\n  uid: \"unique-identifier\",\n});"
      - label: Python
        lang: Python
        source: "response = svix.connector.create(\n    ConnectorIn(\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        description=\"Example connector description\",\n        feature_flags=[],\n        instructions=\"Markdown-formatted instructions\",\n        kind=ConnectorKind.CUSTOM,\n        logo=\"https://example.com/logo.png\",\n        name=\"My first connector\",\n        product_type=ConnectorProduct.DISPATCH,\n        transformation=\"function handler(webhook) { /* ... */ }\",\n        uid=\"unique-identifier\",\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.connector.create(\n    ConnectorIn(\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        description=\"Example connector description\",\n        feature_flags=[],\n        instructions=\"Markdown-formatted instructions\",\n        kind=ConnectorKind.CUSTOM,\n        logo=\"https://example.com/logo.png\",\n        name=\"My first connector\",\n        product_type=ConnectorProduct.DISPATCH,\n        transformation=\"function handler(webhook) { /* ... */ }\",\n        uid=\"unique-identifier\",\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Connector.Create(\n\tctx,\n\tConnectorIn{\n\t\tAllowedEventTypes: []string{\"user.signup\", \"user.deleted\"},\n\t\tDescription:       new(\"Example connector description\"),\n\t\tFeatureFlags:      []string{},\n\t\tInstructions:      new(\"Markdown-formatted instructions\"),\n\t\tKind:              new(CONNECTORKIND_CUSTOM),\n\t\tLogo:              new(\"https://example.com/logo.png\"),\n\t\tName:              \"My first connector\",\n\t\tProductType:       new(CONNECTORPRODUCT_DISPATCH),\n\t\tTransformation:    \"function handler(webhook) { /* ... */ }\",\n\t\tUid:               new(\"unique-identifier\"),\n\t},\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.connector.create(\n        ConnectorIn(\n            allowedEventTypes = setOf(\"user.signup\", \"user.deleted\"),\n            description = \"Example connector description\",\n            featureFlags = setOf(),\n            instructions = \"Markdown-formatted instructions\",\n            kind = ConnectorKind.CUSTOM,\n            logo = \"https://example.com/logo.png\",\n            name = \"My first connector\",\n            productType = ConnectorProduct.DISPATCH,\n            transformation = \"function handler(webhook) { /* ... */ }\",\n            uid = \"unique-identifier\",\n        )\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getConnector()\n        .create(new ConnectorIn()\n            .allowedEventTypes(Set.of(\"user.signup\", \"user.deleted\"))\n            .description(\"Example connector description\")\n            .featureFlags(Set.of())\n            .instructions(\"Markdown-formatted instructions\")\n            .kind(ConnectorKind.CUSTOM)\n            .logo(URI.create(\"https://example.com/logo.png\"))\n            .name(\"My first connector\")\n            .productType(ConnectorProduct.DISPATCH)\n            .transformation(\"function handler(webhook) { /* ... */ }\")\n            .uid(\"unique-identifier\"));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .connector\n  .create(\n    {\n      allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n      description: \"Example connector description\",\n      featureFlags: [],\n      instructions: \"Markdown-formatted instructions\",\n      kind: ConnectorKind::CUSTOM,\n      logo: \"https://example.com/logo.png\",\n      name: \"My first connector\",\n      productType: ConnectorProduct::DISPATCH,\n      transformation: \"function handler(webhook) { /* ... */ }\",\n      uid: \"unique-identifier\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .connector()\n    .create(\n        ConnectorIn {\n            allowed_event_types: Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            description: Some(\"Example connector description\".to_string()),\n            feature_flags: Some(vec![]),\n            instructions: Some(\"Markdown-formatted instructions\".to_string()),\n            kind: Some(ConnectorKind::Custom),\n            logo: Some(\"https://example.com/logo.png\".to_string()),\n            name: \"My first connector\".to_string(),\n            product_type: Some(ConnectorProduct::Dispatch),\n            transformation: \"function handler(webhook) { /* ... */ }\".to_string(),\n            uid: Some(\"unique-identifier\".to_string()),\n        },\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Connector.Create(\n    new ConnectorIn\n    {\n        AllowedEventTypes = [\"user.signup\", \"user.deleted\"],\n        Description = \"Example connector description\",\n        FeatureFlags = [],\n        Instructions = \"Markdown-formatted instructions\",\n        Kind = ConnectorKind.Custom,\n        Logo = \"https://example.com/logo.png\",\n        Name = \"My first connector\",\n        ProductType = ConnectorProduct.Dispatch,\n        Transformation = \"function handler(webhook) { /* ... */ }\",\n        Uid = \"unique-identifier\",\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->connector->create(\n    ConnectorIn::create(\n        name: \"My first connector\",\n        transformation: \"function handler(webhook) { /* ... */ }\"\n    )\n    ->withAllowedEventTypes([\"user.signup\",\"user.deleted\"])\n    ->withDescription(\"Example connector description\")\n    ->withFeatureFlags([])\n    ->withInstructions(\"Markdown-formatted instructions\")\n    ->withKind(ConnectorKind::CUSTOM)\n    ->withLogo(\"https://example.com/logo.png\")\n    ->withProductType(ConnectorProduct::DISPATCH)\n    ->withUid(\"unique-identifier\")\n);"
      - label: CLI
        lang: Shell
        source: "svix connector create '{\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"description\": \"Example connector description\",\n    \"featureFlags\": [],\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"kind\": \"Custom\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"name\": \"My first connector\",\n    \"productType\": \"Dispatch\",\n    \"transformation\": \"function handler(webhook) { /* ... */ }\",\n    \"uid\": \"unique-identifier\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/connector' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"description\": \"Example connector description\",\n    \"featureFlags\": [],\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"kind\": \"Custom\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"name\": \"My first connector\",\n    \"productType\": \"Dispatch\",\n    \"transformation\": \"function handler(webhook) { /* ... */ }\",\n    \"uid\": \"unique-identifier\"\n  }'"
  /api/v1/connector/{connector_id}:
    get:
      tags:
      - Connector
      summary: Get Connector
      description: Get a connector.
      operationId: v1.connector.get
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.connector.get("connector_id");
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.connector.get("connector_id");
      - label: Python
        lang: Python
        source: "response = svix.connector.get(\n    \"connector_id\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.connector.get(\n    \"connector_id\",\n)"
      - label: Go
        lang: Go
        source: response, err := svix.Connector.Get(ctx, "connector_id")
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.connector.get("connector_id")
      - label: Java
        lang: Java
        source: var response = svix.getConnector().get("connector_id");
      - label: Ruby
        lang: Ruby
        source: response = svix.connector.get("connector_id")
      - label: Rust
        lang: Rust
        source: let response = svix.connector().get("connector_id".to_string()).await?;
      - label: C#
        lang: C#
        source: var response = svix.Connector.Get("connector_id");
      - label: PHP
        lang: PHP
        source: "$response = $svix->connector->get(\n    \"connector_id\"\n);"
      - label: CLI
        lang: Shell
        source: svix connector get "connector_id"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Connector
      summary: Update Connector
      description: Update a connector.
      operationId: v1.connector.update
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.connector.update(\"connector_id\", {\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  description: \"Example connector description\",\n  featureFlags: [\"cool-new-feature\"],\n  instructions: \"Markdown-formatted instructions\",\n  kind: ConnectorKind.Custom,\n  logo: \"https://example.com/logo.png\",\n  name: \"My first connector\",\n  transformation: \"function handler(webhook) { /* ... */ }\",\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.connector.update(\"connector_id\", {\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  description: \"Example connector description\",\n  featureFlags: [\"cool-new-feature\"],\n  instructions: \"Markdown-formatted instructions\",\n  kind: ConnectorKind.Custom,\n  logo: \"https://example.com/logo.png\",\n  name: \"My first connector\",\n  transformation: \"function handler(webhook) { /* ... */ }\",\n});"
      - label: Python
        lang: Python
        source: "response = svix.connector.update(\n    \"connector_id\",\n    ConnectorUpdate(\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        description=\"Example connector description\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        instructions=\"Markdown-formatted instructions\",\n        kind=ConnectorKind.CUSTOM,\n        logo=\"https://example.com/logo.png\",\n        name=\"My first connector\",\n        transformation=\"function handler(webhook) { /* ... */ }\",\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.connector.update(\n    \"connector_id\",\n    ConnectorUpdate(\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        description=\"Example connector description\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        instructions=\"Markdown-formatted instructions\",\n        kind=ConnectorKind.CUSTOM,\n        logo=\"https://example.com/logo.png\",\n        name=\"My first connector\",\n        transformation=\"function handler(webhook) { /* ... */ }\",\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Connector.Update(\n\tctx,\n\t\"connector_id\",\n\tConnectorUpdate{\n\t\tAllowedEventTypes: []string{\"user.signup\", \"user.deleted\"},\n\t\tDescription:       new(\"Example connector description\"),\n\t\tFeatureFlags:      []string{\"cool-new-feature\"},\n\t\tInstructions:      new(\"Markdown-formatted instructions\"),\n\t\tKind:              new(CONNECTORKIND_CUSTOM),\n\t\tLogo:              new(\"https://example.com/logo.png\"),\n\t\tName:              new(\"My first connector\"),\n\t\tTransformation:    \"function handler(webhook) { /* ... */ }\",\n\t},\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.connector.update(\n        \"connector_id\",\n        ConnectorUpdate(\n            allowedEventTypes = setOf(\"user.signup\", \"user.deleted\"),\n            description = \"Example connector description\",\n            featureFlags = setOf(\"cool-new-feature\"),\n            instructions = \"Markdown-formatted instructions\",\n            kind = ConnectorKind.CUSTOM,\n            logo = \"https://example.com/logo.png\",\n            name = \"My first connector\",\n            transformation = \"function handler(webhook) { /* ... */ }\",\n        ),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getConnector()\n        .update(\n            \"connector_id\",\n            new ConnectorUpdate()\n                .allowedEventTypes(Set.of(\"user.signup\", \"user.deleted\"))\n                .description(\"Example connector description\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .instructions(\"Markdown-formatted instructions\")\n                .kind(ConnectorKind.CUSTOM)\n                .logo(URI.create(\"https://example.com/logo.png\"))\n                .name(\"My first connector\")\n                .transformation(\"function handler(webhook) { /* ... */ }\"));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .connector\n  .update(\n    \"connector_id\",\n    {\n      allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n      description: \"Example connector description\",\n      featureFlags: [\"cool-new-feature\"],\n      instructions: \"Markdown-formatted instructions\",\n      kind: ConnectorKind::CUSTOM,\n      logo: \"https://example.com/logo.png\",\n      name: \"My first connector\",\n      transformation: \"function handler(webhook) { /* ... */ }\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .connector()\n    .update(\n        \"connector_id\".to_string(),\n        ConnectorUpdate {\n            allowed_event_types: Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            description: Some(\"Example connector description\".to_string()),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n            instructions: Some(\"Markdown-formatted instructions\".to_string()),\n            kind: Some(ConnectorKind::Custom),\n            logo: Some(\"https://example.com/logo.png\".to_string()),\n            name: Some(\"My first connector\".to_string()),\n            transformation: \"function handler(webhook) { /* ... */ }\".to_string(),\n        },\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Connector.Update(\n    \"connector_id\",\n    new ConnectorUpdate\n    {\n        AllowedEventTypes = [\"user.signup\", \"user.deleted\"],\n        Description = \"Example connector description\",\n        FeatureFlags = [\"cool-new-feature\"],\n        Instructions = \"Markdown-formatted instructions\",\n        Kind = ConnectorKind.Custom,\n        Logo = \"https://example.com/logo.png\",\n        Name = \"My first connector\",\n        Transformation = \"function handler(webhook) { /* ... */ }\",\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->connector->update(\n    \"connector_id\",\n    ConnectorUpdate::create(\n        transformation: \"function handler(webhook) { /* ... */ }\"\n    )\n    ->withAllowedEventTypes([\"user.signup\",\"user.deleted\"])\n    ->withDescription(\"Example connector description\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withInstructions(\"Markdown-formatted instructions\")\n    ->withKind(ConnectorKind::CUSTOM)\n    ->withLogo(\"https://example.com/logo.png\")\n    ->withName(\"My first connector\")\n);"
      - label: CLI
        lang: Shell
        source: "svix connector update \"connector_id\" '{\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"description\": \"Example connector description\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"kind\": \"Custom\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"name\": \"My first connector\",\n    \"transformation\": \"function handler(webhook) { /* ... */ }\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"description\": \"Example connector description\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"instructions\": \"Markdown-formatted instructions\",\n    \"kind\": \"Custom\",\n    \"logo\": \"https://example.com/logo.png\",\n    \"name\": \"My first connector\",\n    \"transformation\": \"function handler(webhook) { /* ... */ }\"\n  }'"
    delete:
      tags:
      - Connector
      summary: Delete Connector
      description: Delete a connector.
      operationId: v1.connector.delete
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: await svix.connector.delete("connector_id");
      - label: TypeScript
        lang: TypeScript
        source: await svix.connector.delete("connector_id");
      - label: Python
        lang: Python
        source: "svix.connector.delete(\n    \"connector_id\",\n)"
      - label: Python (Async)
        lang: Python
        source: "await svix.connector.delete(\n    \"connector_id\",\n)"
      - label: Go
        lang: Go
        source: err := svix.Connector.Delete(ctx, "connector_id")
      - label: Kotlin
        lang: Kotlin
        source: "svix.connector.delete(\n    \"connector_id\"\n)"
      - label: Java
        lang: Java
        source: svix.getConnector().delete("connector_id");
      - label: Ruby
        lang: Ruby
        source: response = svix.connector.delete("connector_id")
      - label: Rust
        lang: Rust
        source: svix.connector().delete("connector_id".to_string()).await?;
      - label: C#
        lang: C#
        source: var response = svix.Connector.Delete("connector_id");
      - label: PHP
        lang: PHP
        source: "$svix->connector->delete(\n    \"connector_id\"\n);"
      - label: CLI
        lang: Shell
        source: svix connector delete "connector_id"
      - label: cURL
        lang: Shell
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Connector
      summary: Patch Connector
      description: Partially update a connector.
      operationId: v1.connector.patch
      parameters:
      - in: path
        name: connector_id
        description: The Connector's ID or UID.
        required: true
        schema:
          description: The Connector's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorPatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.connector.patch(\"connector_id\", {\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  instructions: \"sample string\",\n  kind: ConnectorKind.Custom,\n  logo: \"sample string\",\n  name: \"sample string\",\n  transformation: \"sample string\",\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.connector.patch(\"connector_id\", {\n  allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  instructions: \"sample string\",\n  kind: ConnectorKind.Custom,\n  logo: \"sample string\",\n  name: \"sample string\",\n  transformation: \"sample string\",\n});"
      - label: Python
        lang: Python
        source: "response = svix.connector.patch(\n    \"connector_id\",\n    ConnectorPatch(\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        instructions=\"sample string\",\n        kind=ConnectorKind.CUSTOM,\n        logo=\"sample string\",\n        name=\"sample string\",\n        transformation=\"sample string\",\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.connector.patch(\n    \"connector_id\",\n    ConnectorPatch(\n        allowed_event_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        instructions=\"sample string\",\n        kind=ConnectorKind.CUSTOM,\n        logo=\"sample string\",\n        name=\"sample string\",\n        transformation=\"sample string\",\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Connector.Patch(\n\tctx,\n\t\"connector_id\",\n\tConnectorPatch{\n\t\tAllowedEventTypes: NewNullable([]string{\"user.signup\", \"user.deleted\"}),\n\t\tDescription:       new(\"sample string\"),\n\t\tFeatureFlags:      NewNullable([]string{\"cool-new-feature\"}),\n\t\tInstructions:      new(\"sample string\"),\n\t\tKind:              new(CONNECTORKIND_CUSTOM),\n\t\tLogo:              NewNullable(\"sample string\"),\n\t\tName:              new(\"sample string\"),\n\t\tTransformation:    new(\"sample string\"),\n\t},\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.connector.patch(\n        \"connector_id\",\n        ConnectorPatch(\n            allowedEventTypes = MaybeUnset.Present(setOf(\"user.signup\", \"user.deleted\")),\n            description = \"sample string\",\n            featureFlags = MaybeUnset.Present(setOf(\"cool-new-feature\")),\n            instructions = \"sample string\",\n            kind = ConnectorKind.CUSTOM,\n            logo = MaybeUnset.Present(\"https://example.com/\"),\n            name = \"sample string\",\n            transformation = \"sample string\",\n        ),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getConnector()\n        .patch(\n            \"connector_id\",\n            new ConnectorPatch()\n                .allowedEventTypes(Set.of(\"user.signup\", \"user.deleted\"))\n                .description(\"sample string\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .instructions(\"sample string\")\n                .kind(ConnectorKind.CUSTOM)\n                .logo(URI.create(\"https://example.com/\"))\n                .name(\"sample string\")\n                .transformation(\"sample string\"));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .connector\n  .patch(\n    \"connector_id\",\n    {\n      allowedEventTypes: [\"user.signup\", \"user.deleted\"],\n      description: \"sample string\",\n      featureFlags: [\"cool-new-feature\"],\n      instructions: \"sample string\",\n      kind: ConnectorKind::CUSTOM,\n      logo: \"sample string\",\n      name: \"sample string\",\n      transformation: \"sample string\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .connector()\n    .patch(\n        \"connector_id\".to_string(),\n        ConnectorPatch {\n            allowed_event_types: js_option::JsOption::Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            description: Some(\"sample string\".to_string()),\n            feature_flags: js_option::JsOption::Some(\n                vec![\"cool-new-feature\".to_string()],\n            ),\n            instructions: Some(\"sample string\".to_string()),\n            kind: Some(ConnectorKind::Custom),\n            logo: js_option::JsOption::Some(\"sample string\".to_string()),\n            name: Some(\"sample string\".to_string()),\n            transformation: Some(\"sample string\".to_string()),\n        },\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Connector.Patch(\n    \"connector_id\",\n    new ConnectorPatch\n    {\n        AllowedEventTypes = MaybeUnset<List<string>?>.Set([\"user.signup\", \"user.deleted\"]),\n        Description = \"sample string\",\n        FeatureFlags = MaybeUnset<List<string>?>.Set([\"cool-new-feature\"]),\n        Instructions = \"sample string\",\n        Kind = ConnectorKind.Custom,\n        Logo = \"sample string\",\n        Name = \"sample string\",\n        Transformation = \"sample string\",\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->connector->patch(\n    \"connector_id\",\n    ConnectorPatch::create()\n    ->withAllowedEventTypes([\"user.signup\",\"user.deleted\"])\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withInstructions(\"sample string\")\n    ->withKind(ConnectorKind::CUSTOM)\n    ->withLogo(\"sample string\")\n    ->withName(\"sample string\")\n    ->withTransformation(\"sample string\")\n);"
      - label: CLI
        lang: Shell
        source: "svix connector patch \"connector_id\" '{\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"instructions\": \"sample string\",\n    \"kind\": \"Custom\",\n    \"logo\": \"sample string\",\n    \"name\": \"sample string\",\n    \"transformation\": \"sample string\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/connector/connector_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"allowedEventTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"instructions\": \"sample string\",\n    \"kind\": \"Custom\",\n    \"logo\": \"sample string\",\n    \"name\": \"sample string\",\n    \"transformation\": \"sample string\"\n  }'"
components:
  schemas:
    ConnectorOut:
      type: object
      required:
      - createdAt
      - description
      - id
      - instructions
      - kind
      - name
      - orgId
      - productType
      - transformation
      - transformationUpdatedAt
      - updatedAt
      properties:
        allowedEventTypes:
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
          nullable: true
        createdAt:
          type: string
          format: date-time
        description:
          type: string
        featureFlags:
          default: null
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        id:
          description: The Connector's ID.
          type: string
          maxLength: 34
          minLength: 34
          pattern: ^trtmpl_[A-Za-z0-9]{27}$
          example: trtmpl_1srOrx2ZWZBpBUvZwXKQmoEYga2
        instructions:
          type: string
        kind:
          $ref: '#/components/schemas/ConnectorKind'
        logo:
          type: string
          format: uri
          nullable: true
        name:
          type: string
        orgId:
          description: The Environment's ID.
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^org_[A-Za-z0-9]{27}$
          example: org_1srOrx2ZWZBpBUvZwXKQmoEYga2
        productType:
          $ref: '#/components/schemas/ConnectorProduct'
        transformation:
          type: string
        transformationUpdatedAt:
          type: string
          format: date-time
        uid:
          description: The Connector's UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    HttpErrorOut:
      title: HttpError
      type: object
      required:
      - code
      - detail
      properties:
        code:
          type: string
        detail:
          type: string
    HTTPValidationError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
    ConnectorUpdate:
      type: object
      required:
      - transformation
      properties:
        allowedEventTypes:
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
          nullable: true
        description:
          default: ''
          type: string
          example: Example connector description
        featureFlags:
          default: null
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        instructions:
          default: ''
          type: string
          example: Markdown-formatted instructions
        kind:
          default: Custom
          $ref: '#/components/schemas/ConnectorKind'
          example: Slack
        logo:
          type: string
          format: uri
          example: https://example.com/logo.png
          nullable: true
        name:
          default: ''
          type: string
          example: My first connector
        transformation:
          type: string
          maxLength: 51200
          minLength: 10
          example: function handler(webhook) { /* ... */ }
    ListResponse_ConnectorOut_:
      type: object
      required:
      - data
      - done
      - iterator
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorOut'
        done:
          type: boolean
        iterator:
          type: string
          example: iterator
          nullable: true
        prevIterator:
          type: string
          example: -iterator
          nullable: true
    ConnectorPatch:
      type: object
      properties:
        allowedEventTypes:
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
          nullable: true
        description:
          type: string
        featureFlags:
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        instructions:
          type: string
        kind:
          $ref: '#/components/schemas/ConnectorKind'
        logo:
          type: string
          format: uri
          nullable: true
        name:
          type: string
        transformation:
          type: string
          maxLength: 51200
          minLength: 10
    ConnectorIn:
      type: object
      required:
      - name
      - transformation
      properties:
        allowedEventTypes:
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
          nullable: true
        description:
          default: ''
          type: string
          example: Example connector description
        featureFlags:
          default: null
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          nullable: true
        instructions:
          default: ''
          type: string
          example: Markdown-formatted instructions
        kind:
          default: Custom
          $ref: '#/components/schemas/ConnectorKind'
          example: Slack
        logo:
          type: string
          format: uri
          example: https://example.com/logo.png
          nullable: true
        name:
          type: string
          example: My first connector
        productType:
          default: null
          $ref: '#/components/schemas/ConnectorProduct'
          nullable: true
        transformation:
          type: string
          maxLength: 51200
          minLength: 10
          example: function handler(webhook) { /* ... */ }
        uid:
          description: The Connector's UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    ConnectorKind:
      type: string
      enum:
      - Custom
      - AgenticCommerceProtocol
      - CloseCRM
      - CustomerIO
      - Discord
      - Hubspot
      - Inngest
      - Loops
      - Otel
      - Resend
      - Salesforce
      - Segment
      - Sendgrid
      - Slack
      - Teams
      - TriggerDev
      - Windmill
      - Zapier
    ConnectorProduct:
      type: string
      enum:
      - Dispatch
      - Stream
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  background_task.finished:
    post:
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            example:
              data:
                data:
                  appStats:
                  - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
                    messageDestinations: 343
                status: finished
                task: application.stats
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: background_task.finished
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: background_task.finished
      tags:
      - Webhook
  endpoint.created:
    post:
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.created
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.deleted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.disabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.enabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.updated
      tags:
      - Webhook
      x-svix-group-name: dispatch
  ingest.endpoint.disabled:
    post:
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                trigger: automatic
              type: ingest.endpoint.disabled
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.endpoint.disabled
      tags:
      - Webhook
  ingest.message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.exhausted
      tags:
      - Webhook
  ingest.message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.failing
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.failing
      tags:
      - Webhook
  ingest.message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.recovered
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.recovered
      tags:
      - Webhook
  message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.exhausted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.failing
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.failing
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.log:
    post:
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            example:
              data:
              - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                attemptCount: 1
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                attemptStart: '2022-11-06T15:04:06Z'
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                eventType: user.signup
                msgCreated: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                status: 0
              type: message.attempt.log
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.log
      tags:
      - Webhook
      x-internal: true
      x-svix-feature-flags:
      - attempt_log
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.recovered
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.recovered
      tags:
      - Webhook
      x-svix-group-name: dispatch
