openapi: 3.1.0
info:
  title: Svix Application Stream Event Type API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.84.0
  x-logo:
    altText: Svix Logo
    url: https://www.svix.com/static/img/brand-padded.svg
servers:
- url: https://api.eu.svix.com/
  description: The Svix EU region
- url: https://api.us.svix.com/
  description: The Svix US region
- url: https://api.ca.svix.com/
  description: The Svix Canada region
- url: https://api.au.svix.com/
  description: The Svix Australia region
- url: https://api.in.svix.com/
  description: The Svix India region
tags:
- name: Stream Event Type
paths:
  /api/v1/stream/event-type:
    get:
      tags:
      - Stream Event Type
      summary: List Stream Event Types
      description: List of all the organization's event types for streaming.
      operationId: v1.streaming.event-type.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
          example: user.signup
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      - in: query
        name: include_archived
        description: Include archived (deleted but not expunged) items in the response.
        schema:
          description: Include archived (deleted but not expunged) items in the response.
          default: false
          type: boolean
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_StreamEventTypeOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.streaming.eventType.list();
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.streaming.eventType.list();
      - label: Python
        lang: Python
        source: response = svix.streaming.event_type.list()
      - label: Python (Async)
        lang: Python
        source: response = await svix.streaming.event_type.list()
      - label: Go
        lang: Go
        source: response, err := svix.Streaming.EventType.List(ctx, nil)
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.streaming.eventType.list()
      - label: Java
        lang: Java
        source: var response = svix.getStreaming().getEventType().list();
      - label: Ruby
        lang: Ruby
        source: response = svix.streaming.event_type.list
      - label: Rust
        lang: Rust
        source: let response = svix.streaming().event_type().list(None).await?;
      - label: C#
        lang: C#
        source: var response = svix.Streaming.EventType.List();
      - label: PHP
        lang: PHP
        source: $response = $svix->streaming->eventType->list();
      - label: CLI
        lang: Shell
        source: svix streaming event-type list
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Stream Event Type
      summary: Create Stream Event Type
      description: Create an event type for Streams.
      operationId: v1.streaming.event-type.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamEventTypeIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.streaming.eventType.create({\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  name: \"user.signup\",\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.streaming.eventType.create({\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  name: \"user.signup\",\n});"
      - label: Python
        lang: Python
        source: "response = svix.streaming.event_type.create(\n    StreamEventTypeIn(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        name=\"user.signup\",\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.streaming.event_type.create(\n    StreamEventTypeIn(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        name=\"user.signup\",\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Streaming.EventType.Create(\n\tctx,\n\tStreamEventTypeIn{\n\t\tArchived:     new(true),\n\t\tDeprecated:   new(true),\n\t\tDescription:  new(\"sample string\"),\n\t\tFeatureFlags: []string{\"cool-new-feature\"},\n\t\tName:         \"user.signup\",\n\t},\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.streaming.eventType.create(\n        StreamEventTypeIn(\n            archived = true,\n            deprecated = true,\n            description = \"sample string\",\n            featureFlags = setOf(\"cool-new-feature\"),\n            name = \"user.signup\",\n        )\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getStreaming()\n        .getEventType()\n        .create(new StreamEventTypeIn()\n            .archived(true)\n            .deprecated(true)\n            .description(\"sample string\")\n            .featureFlags(Set.of(\"cool-new-feature\"))\n            .name(\"user.signup\"));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .streaming\n  .event_type\n  .create(\n    {\n      archived: true,\n      deprecated: true,\n      description: \"sample string\",\n      featureFlags: [\"cool-new-feature\"],\n      name: \"user.signup\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .streaming()\n    .event_type()\n    .create(\n        StreamEventTypeIn {\n            archived: Some(true),\n            deprecated: Some(true),\n            description: Some(\"sample string\".to_string()),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n            name: \"user.signup\".to_string(),\n        },\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Streaming.EventType.Create(\n    new StreamEventTypeIn\n    {\n        Archived = true,\n        Deprecated = true,\n        Description = \"sample string\",\n        FeatureFlags = [\"cool-new-feature\"],\n        Name = \"user.signup\",\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->streaming->eventType->create(\n    StreamEventTypeIn::create(\n        name: \"user.signup\"\n    )\n    ->withArchived(true)\n    ->withDeprecated(true)\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n);"
      - label: CLI
        lang: Shell
        source: "svix streaming event-type create '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"name\": \"user.signup\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"name\": \"user.signup\"\n  }'"
  /api/v1/stream/event-type/{name}:
    get:
      tags:
      - Stream Event Type
      summary: Get Stream Event Type
      description: Get an event type.
      operationId: v1.streaming.event-type.get
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.streaming.eventType.get("name");
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.streaming.eventType.get("name");
      - label: Python
        lang: Python
        source: "response = svix.streaming.event_type.get(\n    \"name\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.streaming.event_type.get(\n    \"name\",\n)"
      - label: Go
        lang: Go
        source: response, err := svix.Streaming.EventType.Get(ctx, "name")
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.streaming.eventType.get("name")
      - label: Java
        lang: Java
        source: var response = svix.getStreaming().getEventType().get("name");
      - label: Ruby
        lang: Ruby
        source: response = svix.streaming.event_type.get("name")
      - label: Rust
        lang: Rust
        source: let response = svix.streaming().event_type().get("name".to_string()).await?;
      - label: C#
        lang: C#
        source: var response = svix.Streaming.EventType.Get("name");
      - label: PHP
        lang: PHP
        source: "$response = $svix->streaming->eventType->get(\n    \"name\"\n);"
      - label: CLI
        lang: Shell
        source: svix streaming event-type get "name"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Stream Event Type
      summary: Update Stream Event Type
      description: Update or create a event type for Streams.
      operationId: v1.streaming.event-type.update
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamEventTypeIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.streaming.eventType.update(\"name\", {\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  name: \"user.signup\",\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.streaming.eventType.update(\"name\", {\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  name: \"user.signup\",\n});"
      - label: Python
        lang: Python
        source: "response = svix.streaming.event_type.update(\n    \"name\",\n    StreamEventTypeIn(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        name=\"user.signup\",\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.streaming.event_type.update(\n    \"name\",\n    StreamEventTypeIn(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        name=\"user.signup\",\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Streaming.EventType.Update(\n\tctx,\n\t\"name\",\n\tStreamEventTypeIn{\n\t\tArchived:     new(true),\n\t\tDeprecated:   new(true),\n\t\tDescription:  new(\"sample string\"),\n\t\tFeatureFlags: []string{\"cool-new-feature\"},\n\t\tName:         \"user.signup\",\n\t},\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.streaming.eventType.update(\n        \"name\",\n        StreamEventTypeIn(\n            archived = true,\n            deprecated = true,\n            description = \"sample string\",\n            featureFlags = setOf(\"cool-new-feature\"),\n            name = \"user.signup\",\n        ),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getStreaming()\n        .getEventType()\n        .update(\n            \"name\",\n            new StreamEventTypeIn()\n                .archived(true)\n                .deprecated(true)\n                .description(\"sample string\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .name(\"user.signup\"));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .streaming\n  .event_type\n  .update(\n    \"name\",\n    {\n      archived: true,\n      deprecated: true,\n      description: \"sample string\",\n      featureFlags: [\"cool-new-feature\"],\n      name: \"user.signup\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .streaming()\n    .event_type()\n    .update(\n        \"name\".to_string(),\n        StreamEventTypeIn {\n            archived: Some(true),\n            deprecated: Some(true),\n            description: Some(\"sample string\".to_string()),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n            name: \"user.signup\".to_string(),\n        },\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Streaming.EventType.Update(\n    \"name\",\n    new StreamEventTypeIn\n    {\n        Archived = true,\n        Deprecated = true,\n        Description = \"sample string\",\n        FeatureFlags = [\"cool-new-feature\"],\n        Name = \"user.signup\",\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->streaming->eventType->update(\n    \"name\",\n    StreamEventTypeIn::create(\n        name: \"user.signup\"\n    )\n    ->withArchived(true)\n    ->withDeprecated(true)\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n);"
      - label: CLI
        lang: Shell
        source: "svix streaming event-type update \"name\" '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"name\": \"user.signup\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"name\": \"user.signup\"\n  }'"
    delete:
      tags:
      - Stream Event Type
      summary: Delete Stream Event Type
      description: Delete an event type.
      operationId: v1.streaming.event-type.delete
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      - in: query
        name: expunge
        description: By default, event types are archived when "deleted". With this flag, they are deleted entirely.
        schema:
          description: By default, event types are archived when "deleted". With this flag, they are deleted entirely.
          default: false
          type: boolean
        style: form
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: await svix.streaming.eventType.delete("name");
      - label: TypeScript
        lang: TypeScript
        source: await svix.streaming.eventType.delete("name");
      - label: Python
        lang: Python
        source: "svix.streaming.event_type.delete(\n    \"name\",\n)"
      - label: Python (Async)
        lang: Python
        source: "await svix.streaming.event_type.delete(\n    \"name\",\n)"
      - label: Go
        lang: Go
        source: err := svix.Streaming.EventType.Delete(ctx, "name", nil)
      - label: Kotlin
        lang: Kotlin
        source: "svix.streaming.eventType.delete(\n    \"name\"\n)"
      - label: Java
        lang: Java
        source: svix.getStreaming().getEventType().delete("name");
      - label: Ruby
        lang: Ruby
        source: response = svix.streaming.event_type.delete("name")
      - label: Rust
        lang: Rust
        source: svix.streaming().event_type().delete("name".to_string(), None).await?;
      - label: C#
        lang: C#
        source: var response = svix.Streaming.EventType.Delete("name");
      - label: PHP
        lang: PHP
        source: "$svix->streaming->eventType->delete(\n    \"name\"\n);"
      - label: CLI
        lang: Shell
        source: svix streaming event-type delete "name"
      - label: cURL
        lang: Shell
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Stream Event Type
      summary: Patch Stream Event Type
      description: Patch an event type for Streams.
      operationId: v1.streaming.event-type.patch
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamEventTypePatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.streaming.eventType.patch(\"name\", {\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  name: \"user.signup\",\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.streaming.eventType.patch(\"name\", {\n  archived: true,\n  deprecated: true,\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  name: \"user.signup\",\n});"
      - label: Python
        lang: Python
        source: "response = svix.streaming.event_type.patch(\n    \"name\",\n    StreamEventTypePatch(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        name=\"user.signup\",\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.streaming.event_type.patch(\n    \"name\",\n    StreamEventTypePatch(\n        archived=True,\n        deprecated=True,\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        name=\"user.signup\",\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Streaming.EventType.Patch(\n\tctx,\n\t\"name\",\n\tStreamEventTypePatch{\n\t\tArchived:     new(true),\n\t\tDeprecated:   new(true),\n\t\tDescription:  NewNullable(\"sample string\"),\n\t\tFeatureFlags: NewNullable([]string{\"cool-new-feature\"}),\n\t\tName:         NewNullable(\"user.signup\"),\n\t},\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.streaming.eventType.patch(\n        \"name\",\n        StreamEventTypePatch(\n            archived = true,\n            deprecated = true,\n            description = MaybeUnset.Present(\"sample string\"),\n            featureFlags = MaybeUnset.Present(setOf(\"cool-new-feature\")),\n            name = MaybeUnset.Present(\"user.signup\"),\n        ),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getStreaming()\n        .getEventType()\n        .patch(\n            \"name\",\n            new StreamEventTypePatch()\n                .archived(true)\n                .deprecated(true)\n                .description(\"sample string\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .name(\"user.signup\"));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .streaming\n  .event_type\n  .patch(\n    \"name\",\n    {\n      archived: true,\n      deprecated: true,\n      description: \"sample string\",\n      featureFlags: [\"cool-new-feature\"],\n      name: \"user.signup\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .streaming()\n    .event_type()\n    .patch(\n        \"name\".to_string(),\n        StreamEventTypePatch {\n            archived: Some(true),\n            deprecated: Some(true),\n            description: js_option::JsOption::Some(\"sample string\".to_string()),\n            feature_flags: js_option::JsOption::Some(\n                vec![\"cool-new-feature\".to_string()],\n            ),\n            name: js_option::JsOption::Some(\"user.signup\".to_string()),\n        },\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Streaming.EventType.Patch(\n    \"name\",\n    new StreamEventTypePatch\n    {\n        Archived = true,\n        Deprecated = true,\n        Description = \"sample string\",\n        FeatureFlags = MaybeUnset<List<string>?>.Set([\"cool-new-feature\"]),\n        Name = \"user.signup\",\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->streaming->eventType->patch(\n    \"name\",\n    StreamEventTypePatch::create()\n    ->withArchived(true)\n    ->withDeprecated(true)\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withName(\"user.signup\")\n);"
      - label: CLI
        lang: Shell
        source: "svix streaming event-type patch \"name\" '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"name\": \"user.signup\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"archived\": true,\n    \"deprecated\": true,\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"name\": \"user.signup\"\n  }'"
components:
  schemas:
    StreamEventTypePatch:
      type: object
      properties:
        archived:
          type: boolean
        deprecated:
          type: boolean
        description:
          type: string
          nullable: true
        featureFlags:
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
          nullable: true
    StreamEventTypeIn:
      type: object
      required:
      - name
      properties:
        archived:
          default: false
          type: boolean
        deprecated:
          default: false
          type: boolean
        description:
          type: string
          nullable: true
        featureFlags:
          default: null
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
    HTTPValidationError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ListResponse_StreamEventTypeOut_:
      type: object
      required:
      - data
      - done
      - iterator
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StreamEventTypeOut'
        done:
          type: boolean
        iterator:
          type: string
          example: iterator
          nullable: true
        prevIterator:
          type: string
          example: -iterator
          nullable: true
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
    StreamEventTypeOut:
      type: object
      required:
      - archived
      - createdAt
      - deprecated
      - name
      - updatedAt
      properties:
        archived:
          type: boolean
        createdAt:
          type: string
          format: date-time
        deprecated:
          type: boolean
        description:
          type: string
          nullable: true
        featureFlags:
          type: array
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
          nullable: true
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        updatedAt:
          type: string
          format: date-time
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    HttpErrorOut:
      title: HttpError
      type: object
      required:
      - code
      - detail
      properties:
        code:
          type: string
        detail:
          type: string
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  background_task.finished:
    post:
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            example:
              data:
                data:
                  appStats:
                  - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
                    messageDestinations: 343
                status: finished
                task: application.stats
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: background_task.finished
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: background_task.finished
      tags:
      - Webhook
  endpoint.created:
    post:
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.created
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.deleted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.disabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.enabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.updated
      tags:
      - Webhook
      x-svix-group-name: dispatch
  ingest.endpoint.disabled:
    post:
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                trigger: automatic
              type: ingest.endpoint.disabled
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.endpoint.disabled
      tags:
      - Webhook
  ingest.message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.exhausted
      tags:
      - Webhook
  ingest.message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.failing
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.failing
      tags:
      - Webhook
  ingest.message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.recovered
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.recovered
      tags:
      - Webhook
  message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.exhausted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.failing
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.failing
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.log:
    post:
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            example:
              data:
              - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                attemptCount: 1
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                attemptStart: '2022-11-06T15:04:06Z'
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                eventType: user.signup
                msgCreated: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                status: 0
              type: message.attempt.log
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.log
      tags:
      - Webhook
      x-internal: true
      x-svix-feature-flags:
      - attempt_log
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.recovered
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.recovered
      tags:
      - Webhook
      x-svix-group-name: dispatch
