openapi: 3.2.0
info:
  title: Svix Message API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.922.0
  x-logo:
    url: https://www.svix.com/static/img/brand-padded.svg
    altText: Svix Logo
servers:
- url: https://api.eu.svix.com
  description: The Svix EU region
- url: https://api.us.svix.com
  description: The Svix US region
- url: https://api.ca.svix.com
  description: The Svix Canada region
- url: https://api.au.svix.com
  description: The Svix Australia region
- url: https://api.in.svix.com
  description: The Svix India region
tags:
- name: Message
  description: Messages are the webhook events being sent.
paths:
  /api/v1/app/{app_id}/msg:
    get:
      tags:
      - Message
      summary: List Messages
      description: 'List all of the application''s messages.


        The `before` and `after` parameters let you filter all items created before or after a certain date. These can be

        used alongside an iterator to paginate over results within a certain window.


        Note that by default this endpoint is limited to retrieving 90 days'' worth of data

        relative to now or, if an iterator is provided, 90 days before/after the time indicated

        by the iterator ID. If you require data beyond those time ranges, you will need to explicitly

        set the `before` or `after` parameter as appropriate.'
      operationId: v1.message.list
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^msg_[A-Za-z0-9]{27}$
          nullable: true
          example: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: channel
        description: Filter response based on the channel.
        schema:
          description: Filter response based on the channel.
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_.:+]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: before
        description: Only include items created before a certain date.
        schema:
          description: Only include items created before a certain date.
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: after
        description: Only include items created after a certain date.
        schema:
          description: Only include items created after a certain date.
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: with_content
        description: When `true` message payloads are included in the response.
        schema:
          description: When `true` message payloads are included in the response.
          type: boolean
          default: true
        style: form
      - in: query
        name: tag
        description: Filter messages matching the provided tag.
        schema:
          description: Filter messages matching the provided tag.
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_./\\#]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: event_types
        description: Filter response based on the event type
        schema:
          description: Filter response based on the event type
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          uniqueItems: true
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_MessageOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.message.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.message.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: Python
        label: Python
        source: "response = svix.message.list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Message.List(ctx, "app_1srOrx2ZWZBpBUvZwXKQmoEYga2", nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.message.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2")
      - lang: Java
        label: Java
        source: var response = svix.getMessage().list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: Ruby
        label: Ruby
        source: response = svix.message.list("app_1srOrx2ZWZBpBUvZwXKQmoEYga2")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(), None)\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.Message.List("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - lang: Shell
        label: CLI
        source: svix message list "app_1srOrx2ZWZBpBUvZwXKQmoEYga2"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Message
      summary: Create Message
      description: 'Creates a new message and dispatches it to all of the application''s endpoints.


        The `eventId` is an optional custom unique ID. It''s verified to be unique only up to a day, after that no verification will be made.

        If a message with the same `eventId` already exists for the application, a 409 conflict error will be returned.


        The `eventType` indicates the type and schema of the event. All messages of a certain `eventType` are expected to have the same schema. Endpoints can choose to only listen to specific event types.

        Messages can also have `channels`, which similar to event types let endpoints filter by them. Unlike event types, messages can have multiple channels, and channels don''t imply a specific message content or schema.


        The `payload` property is the webhook''s body (the actual webhook message). Svix supports payload sizes of up to 1MiB, though it''s generally a good idea to keep webhook payloads small, probably no larger than 40kb.'
      operationId: v1.message.create
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: with_content
        description: When `true`, message payloads are included in the response.
        schema:
          description: When `true`, message payloads are included in the response.
          type: boolean
          default: true
        style: form
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageIn'
        required: true
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.message.create(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  eventId: \"unique-identifier\",\n  eventType: \"user.signup\",\n  payload: { email: \"test@example.com\", type: \"user.created\", username: \"test_user\" },\n  channels: [\"project_123\", \"group_2\"],\n  application: {\n    name: \"My first application\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    metadata: {},\n  },\n  tags: [\"my_tag\", \"other\"],\n  transformationsParams: {},\n  deliverAt: new Date(\"2025-10-02T20:28:42+00:00\"),\n  payloadRetentionPeriod: 90,\n  payloadRetentionHours: 1,\n});\n\n// Alternatively, with a raw string payload.\nconst response = await svix.message.create(\n  \"app_id\",\n  messageInRaw(\"user.signup\", \"This is a raw body.\", \"text/plain\")\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.message.create(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  eventId: \"unique-identifier\",\n  eventType: \"user.signup\",\n  payload: { email: \"test@example.com\", type: \"user.created\", username: \"test_user\" },\n  channels: [\"project_123\", \"group_2\"],\n  application: {\n    name: \"My first application\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    metadata: {},\n  },\n  tags: [\"my_tag\", \"other\"],\n  transformationsParams: {},\n  deliverAt: new Date(\"2025-10-02T20:28:42+00:00\"),\n  payloadRetentionPeriod: 90,\n  payloadRetentionHours: 1,\n});\n\n// Alternatively, with a raw string payload.\nconst response = await svix.message.create(\n  \"app_id\",\n  messageInRaw(\"user.signup\", \"This is a raw body.\", \"text/plain\")\n);"
      - lang: Python
        label: Python
        source: "response = svix.message.create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    MessageIn(\n        event_id=\"unique-identifier\",\n        event_type=\"user.signup\",\n        payload={\n            \"email\": \"test@example.com\",\n            \"type\": \"user.created\",\n            \"username\": \"test_user\",\n        },\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n        application=ApplicationIn(\n            name=\"My first application\",\n            throttle_rate=1,\n            uid=\"unique-identifier\",\n            metadata={},\n        ),\n        tags=[\n            \"my_tag\",\n            \"other\",\n        ],\n        transformations_params={},\n        deliver_at=datetime.fromisoformat(\"2025-10-02T20:28:42+00:00\"),\n        payload_retention_period=90,\n        payload_retention_hours=1,\n    ),\n)\n\n# Alternatively, with a raw string payload.\nresponse = svix.message.create(\n    \"app_id\",\n    message_in_raw(\n        event_type=\"user.signup\",\n        payload=\"This is a raw body.\",\n        content_type=\"text/plain\",\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    MessageIn(\n        event_id=\"unique-identifier\",\n        event_type=\"user.signup\",\n        payload={\n            \"email\": \"test@example.com\",\n            \"type\": \"user.created\",\n            \"username\": \"test_user\",\n        },\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n        application=ApplicationIn(\n            name=\"My first application\",\n            throttle_rate=1,\n            uid=\"unique-identifier\",\n            metadata={},\n        ),\n        tags=[\n            \"my_tag\",\n            \"other\",\n        ],\n        transformations_params={},\n        deliver_at=datetime.fromisoformat(\"2025-10-02T20:28:42+00:00\"),\n        payload_retention_period=90,\n        payload_retention_hours=1,\n    ),\n)\n\n# Alternatively, with a raw string payload.\nresponse = await svix.message.create(\n    \"app_id\",\n    message_in_raw(\n        event_type=\"user.signup\",\n        payload=\"This is a raw body.\",\n        content_type=\"text/plain\",\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Message.Create(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tMessageIn{\n\t\tEventId:   new(\"unique-identifier\"),\n\t\tEventType: \"user.signup\",\n\t\tPayload: map[string]any{\n\t\t\t\"email\":    \"test@example.com\",\n\t\t\t\"type\":     \"user.created\",\n\t\t\t\"username\": \"test_user\",\n\t\t},\n\t\tChannels: []string{\"project_123\", \"group_2\"},\n\t\tApplication: new(\n\t\t\tApplicationIn{\n\t\t\t\tName:         \"My first application\",\n\t\t\t\tThrottleRate: new(uint16(1)),\n\t\t\t\tUid:          new(\"unique-identifier\"),\n\t\t\t\tMetadata:     nil,\n\t\t\t},\n\t\t),\n\t\tTags:                   []string{\"my_tag\", \"other\"},\n\t\tTransformationsParams:  nil,\n\t\tDeliverAt:              new(time.Date(2025, 10, 2, 20, 28, 42, 0, time.UTC)),\n\t\tPayloadRetentionPeriod: new(int64(90)),\n\t\tPayloadRetentionHours:  new(int64(1)),\n\t},\n\tnil,\n)\n\n// Alternatively, with a raw string payload.\nresponse, err := svix.Message.Create(ctx, \"app_id\", &NewMessageInRaw(\n\t\"user.signup\",\n\t\"This is a raw body.\",\n\t&\"text/plain\",\n))"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.message.create(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        MessageIn(\n            eventId = \"unique-identifier\",\n            eventType = \"user.signup\",\n            payload =\n                \"{\\\"email\\\": \\\"test@example.com\\\",\\\"type\\\": \\\"user.created\\\",\\\"username\\\": \\\"test_user\\\"}\",\n            channels = setOf(\"project_123\", \"group_2\"),\n            application =\n                ApplicationIn(\n                    name = \"My first application\",\n                    throttleRate = 1u,\n                    uid = \"unique-identifier\",\n                    metadata = mapOf(),\n                ),\n            tags = setOf(\"my_tag\", \"other\"),\n            transformationsParams = mapOf(),\n            deliverAt = Instant.parse(\"2025-10-02T20:28:42+00:00\"),\n            payloadRetentionPeriod = 90,\n            payloadRetentionHours = 1,\n        ),\n    )\n\n// Alternatively, with a raw string payload.\nval response =\n    svix.message.create(\n        \"app_id\",\n        messageInRaw(\n            eventType = \"user.signup\",\n            payload = \"This is a raw body.\",\n            contentType = \"text/plain\",\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getMessage()\n        .create(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new MessageIn()\n                .eventId(\"unique-identifier\")\n                .eventType(\"user.signup\")\n                .payload(\"{\\\"email\\\": \\\"test@example.com\\\",\\\"type\\\": \\\"user.created\\\",\\\"username\\\":\"\n                    + \" \\\"test_user\\\"}\")\n                .channels(Set.of(\"project_123\", \"group_2\"))\n                .application(new ApplicationIn()\n                    .name(\"My first application\")\n                    .throttleRate(1L)\n                    .uid(\"unique-identifier\")\n                    .metadata(Map.of()))\n                .tags(Set.of(\"my_tag\", \"other\"))\n                .transformationsParams(Map.of())\n                .deliverAt(OffsetDateTime.parse(\"2025-10-02T20:28:42+00:00\"))\n                .payloadRetentionPeriod(90L)\n                .payloadRetentionHours(1L));\n\n    // Alternatively, with a raw string payload.\n    var response = svix.getMessage()\n        .create(\n            \"app_id\",\n            Message.messageInRaw(\"This is a raw body.\", \"text/plain\").eventType(\"user.signup\"));"
      - lang: Ruby
        label: Ruby
        source: "# Alternatively, with a raw string payload.\nresponse = svix\n  .message\n  .create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    {\n      eventId: \"unique-identifier\",\n      eventType: \"user.signup\",\n      payload: {\"email\" => \"test@example.com\", \"type\" => \"user.created\", \"username\" => \"test_user\"},\n      channels: [\"project_123\", \"group_2\"],\n      application: {name: \"My first application\", throttleRate: 1, uid: \"unique-identifier\", metadata: {}},\n      tags: [\"my_tag\", \"other\"],\n      transformationsParams: {},\n      deliverAt: \"2025-10-02T20:28:42+00:00\",\n      payloadRetentionPeriod: 90,\n      payloadRetentionHours: 1\n    }\n  )\nresponse = svix.message.create(\n  \"app_id\",\n  message_in_raw(\n    payload: \"This is a raw body.\",\n    eventType: \"user.signup\",\n    content_type: \"test/plain\"\n  )\n)"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .create(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        MessageIn {\n            event_id: Some(\"unique-identifier\".to_string()),\n            event_type: \"user.signup\".to_string(),\n            payload: serde_json::json!(\n                { \"email\" : \"test@example.com\", \"type\" : \"user.created\", \"username\" :\n                \"test_user\" }\n            ),\n            channels: Some(vec![\"project_123\".to_string(), \"group_2\".to_string()]),\n            application: Some(ApplicationIn {\n                name: \"My first application\".to_string(),\n                throttle_rate: Some(1),\n                uid: Some(\"unique-identifier\".to_string()),\n                metadata: Some(HashMap::new()),\n            }),\n            tags: Some(vec![\"my_tag\".to_string(), \"other\".to_string()]),\n            transformations_params: Some(serde_json::json!({})),\n            deliver_at: Some(\"2025-10-02T20:28:42+00:00\".to_string()),\n            payload_retention_period: Some(90),\n            payload_retention_hours: Some(1),\n        },\n        None,\n    )\n    .await?;\n/// Alternatively, with a raw string payload.\nlet response = svix\n    .message()\n    .create(\n        \"app_id\",\n        MessageIn::new_raw_payload(\n                \"user.signup\".to_string(),\n                \"This is a raw body.\".to_string(),\n            )\n            .with_content_type(\"text/plain\".to_string()),\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Message.Create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new MessageIn\n    {\n        EventId = \"unique-identifier\",\n        EventType = \"user.signup\",\n        Payload = new Dictionary<string, string>\n        {\n            { \"email\", \"test@example.com\" },\n            { \"type\", \"user.created\" },\n            { \"username\", \"test_user\" },\n        },\n        Channels = [\"project_123\", \"group_2\"],\n        Application = new ApplicationIn\n        {\n            Name = \"My first application\",\n            ThrottleRate = 1,\n            Uid = \"unique-identifier\",\n            Metadata = [],\n        },\n        Tags = [\"my_tag\", \"other\"],\n        TransformationsParams = new Dictionary<string, string> { },\n        DeliverAt = DateTime.Parse(\"2025-10-02T20:28:42+00:00\"),\n        PayloadRetentionPeriod = 90,\n        PayloadRetentionHours = 1,\n    }\n);\n\n// Alternatively, with a raw string payload.\nvar response = await svix.Message.CreateAsync(\n    \"app_id\",\n    svix.Message.messageInRaw(\n        eventType: \"user.signup\",\n        payload: \"This is a raw body.\",\n        contentType: \"text/plain\"\n    )\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    MessageIn::create(\n        eventType: \"user.signup\",\n        payload: [\"email\" => \"test@example.com\", \"type\" => \"user.created\", \"username\" => \"test_user\"]\n    )\n    ->withEventId(\"unique-identifier\")\n    ->withChannels([\"project_123\",\"group_2\"])\n    ->withApplication(ApplicationIn::create(\n        name: \"My first application\"\n    )\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n    ->withMetadata([]))\n    ->withTags([\"my_tag\",\"other\"])\n    ->withDeliverAt(new DateTimeImmutable(\"2025-10-02T20:28:42+00:00\"))\n    ->withPayloadRetentionPeriod(90)\n    ->withPayloadRetentionHours(1)\n);\n\n// Alternatively, with a raw string payload.\n$response = $svix->message->create(\n    \"app_id\",\n    MessageIn::createRaw(\n        \"user.signup\",\n        \"This is a raw body.\",\n        \"text/plain\"\n    )\n);"
      - lang: Shell
        label: CLI
        source: "svix message create \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"eventId\": \"unique-identifier\",\n    \"eventType\": \"user.signup\",\n    \"payload\": {\n      \"email\": \"test@example.com\",\n      \"type\": \"user.created\",\n      \"username\": \"test_user\"\n    },\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ],\n    \"application\": {\n      \"name\": \"My first application\",\n      \"throttleRate\": 1,\n      \"uid\": \"unique-identifier\",\n      \"metadata\": {}\n    },\n    \"tags\": [\n      \"my_tag\",\n      \"other\"\n    ],\n    \"transformationsParams\": {},\n    \"deliverAt\": \"2025-10-02T20:28:42+00:00\",\n    \"payloadRetentionPeriod\": 90,\n    \"payloadRetentionHours\": 1\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"eventId\": \"unique-identifier\",\n    \"eventType\": \"user.signup\",\n    \"payload\": {\n      \"email\": \"test@example.com\",\n      \"type\": \"user.created\",\n      \"username\": \"test_user\"\n    },\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ],\n    \"application\": {\n      \"name\": \"My first application\",\n      \"throttleRate\": 1,\n      \"uid\": \"unique-identifier\",\n      \"metadata\": {}\n    },\n    \"tags\": [\n      \"my_tag\",\n      \"other\"\n    ],\n    \"transformationsParams\": {},\n    \"deliverAt\": \"2025-10-02T20:28:42+00:00\",\n    \"payloadRetentionPeriod\": 90,\n    \"payloadRetentionHours\": 1\n  }'\n\n\n# Alternatively, with a raw string payload.\ncurl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/msg' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n      \"eventType\": \"user.signup\",\n      \"payload\": {},\n      \"transformationsParams\": {\n          \"rawPayload\": \"This is a raw body.\",\n          \"headers\": { \"content-type\": \"text/plain\" }\n      }\n  }'"
  /api/v1/app/{app_id}/msg/precheck/active:
    post:
      tags:
      - Message
      summary: Create Message Precheck
      description: 'A pre-check call for `message.create` that checks whether any active endpoints are

        listening to this message.


        Note: most people shouldn''t be using this API. Svix doesn''t bill you for

        messages not actually sent, so using this API doesn''t save money.

        If unsure, please ask Svix support before using this API.'
      operationId: v1.message.precheck
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagePrecheckIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagePrecheckOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.message.precheck(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  eventType: \"user.signup\",\n  channels: [\"project_123\", \"group_2\"],\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.message.precheck(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  eventType: \"user.signup\",\n  channels: [\"project_123\", \"group_2\"],\n});"
      - lang: Python
        label: Python
        source: "response = svix.message.precheck(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    MessagePrecheckIn(\n        event_type=\"user.signup\",\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.precheck(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    MessagePrecheckIn(\n        event_type=\"user.signup\",\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Message.Precheck(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tMessagePrecheckIn{EventType: \"user.signup\", Channels: []string{\"project_123\", \"group_2\"}},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.message.precheck(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        MessagePrecheckIn(eventType = \"user.signup\", channels = setOf(\"project_123\", \"group_2\")),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getMessage()\n        .precheck(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new MessagePrecheckIn()\n                .eventType(\"user.signup\")\n                .channels(Set.of(\"project_123\", \"group_2\")));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .message\n  .precheck(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {eventType: \"user.signup\", channels: [\"project_123\", \"group_2\"]})"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .precheck(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        MessagePrecheckIn {\n            event_type: \"user.signup\".to_string(),\n            channels: Some(vec![\"project_123\".to_string(), \"group_2\".to_string()]),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Message.Precheck(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new MessagePrecheckIn { EventType = \"user.signup\", Channels = [\"project_123\", \"group_2\"] }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->precheck(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    MessagePrecheckIn::create(\n        eventType: \"user.signup\"\n    )\n    ->withChannels([\"project_123\",\"group_2\"])\n);"
      - lang: Shell
        label: CLI
        source: "svix message precheck \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"eventType\": \"user.signup\",\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ]\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/precheck/active' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"eventType\": \"user.signup\",\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ]\n  }'"
  /api/v1/app/{app_id}/events:
    get:
      tags:
      - Message
      summary: Message Events
      description: Reads the stream of created messages for an application.
      operationId: v1.message.events
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          nullable: true
        style: form
      - in: query
        name: event_types
        description: Filter response based on the event type
        schema:
          description: Filter response based on the event type
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          uniqueItems: true
          nullable: true
        style: form
      - in: query
        name: channels
        description: Filter response based on the event type.
        schema:
          description: Filter response based on the event type.
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:+]+$
            example: project_1337
          uniqueItems: true
          nullable: true
        style: form
      - in: query
        name: after
        schema:
          type: string
          format: date-time
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageEventsOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/msg/{msg_id}:
    get:
      tags:
      - Message
      summary: Get Message
      description: Get a message by its ID or eventID.
      operationId: v1.message.get
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: with_content
        description: When `true` message payloads are included in the response.
        schema:
          description: When `true` message payloads are included in the response.
          type: boolean
          default: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.message.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.message.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.message.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Message.Get(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.message.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\")"
      - lang: Java
        label: Java
        source: "var response =\n        svix.getMessage().get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.message.get("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .get(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Message.Get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: Shell
        label: CLI
        source: svix message get "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/msg/{msg_id}/content:
    delete:
      tags:
      - Message
      summary: Delete message payload
      description: 'Delete the given message''s payload.


        Useful in cases when a message was accidentally sent with sensitive content.

        The message can''t be replayed or resent once its payload has been deleted or expired.'
      operationId: v1.message.expunge-content
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.message.expungeContent(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.message.expungeContent(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: Python
        label: Python
        source: "svix.message.expunge_content(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.message.expunge_content(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - lang: Go
        label: Go
        source: "err := svix.Message.ExpungeContent(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.message.expungeContent(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - lang: Java
        label: Java
        source: "svix.getMessage()\n        .expungeContent(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.message.expunge_content("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f")
      - lang: Rust
        label: Rust
        source: "svix.message()\n    .expunge_content(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Message.ExpungeContent(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: PHP
        label: PHP
        source: "$svix->message->expungeContent(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - lang: Shell
        label: CLI
        source: svix message expunge-content "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f"
      - lang: Shell
        label: cURL
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f/content' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
  /api/v1/app/{app_id}/msg/search:
    post:
      tags:
      - Message
      summary: Search Messages
      description: 'Search for messages matching the given criteria.


        The `before` and `after` parameters let you filter all items created before or after a certain date. These can be

        used alongside an iterator to paginate over results within a certain window.


        Note that by default this endpoint is limited to retrieving 90 days'' worth of data

        relative to now or, if an iterator is provided, 90 days before/after the time indicated

        by the iterator ID. If you require data beyond those time ranges, you will need to explicitly

        set the `before` or `after` parameter as appropriate.'
      operationId: v1.message.search
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageSearchIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_MessageOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/msg/expunge-all-contents:
    post:
      tags:
      - Message
      summary: Expunge all message contents
      description: "Delete all message payloads for the application.\n\nThis operation is only available in the <a href=\"https://svix.com/pricing\" target=\"_blank\">Enterprise</a> plan.\n\nA completed task will return a payload like the following:\n```json\n{\n  \"id\": \"qtask_33qen93MNuelBAq1T9G7eHLJRsF\",\n  \"status\": \"finished\",\n  \"task\": \"application.purge_content\",\n  \"data\": {\n    \"messagesPurged\": 150\n  }\n}\n```"
      operationId: v1.message.expunge-all-contents
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpungeAllContentsOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.message.expungeAllContents("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.message.expungeAllContents("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: Python
        label: Python
        source: "response = svix.message.expunge_all_contents(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.expunge_all_contents(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Message.ExpungeAllContents(ctx, "app_1srOrx2ZWZBpBUvZwXKQmoEYga2", nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.message.expungeAllContents("app_1srOrx2ZWZBpBUvZwXKQmoEYga2")
      - lang: Java
        label: Java
        source: var response = svix.getMessage().expungeAllContents("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: Ruby
        label: Ruby
        source: response = svix.message.expunge_all_contents("app_1srOrx2ZWZBpBUvZwXKQmoEYga2")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .expunge_all_contents(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(), None)\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.Message.ExpungeAllContents("app_1srOrx2ZWZBpBUvZwXKQmoEYga2");
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->expungeAllContents(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - lang: Shell
        label: CLI
        source: svix message expunge-all-contents "app_1srOrx2ZWZBpBUvZwXKQmoEYga2"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/expunge-all-contents' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/msg/{msg_id}/raw:
    get:
      tags:
      - Message
      summary: Get Raw Message Payload
      description: Get a message raw payload by its ID or eventID.
      operationId: v1.message.get-raw-payload
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRawPayloadOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/msg/test-attempt:
    post:
      tags:
      - Message
      summary: Create Message Attempt For Endpoint
      description: 'Creates and sends a message to the specified endpoint.


        The message attempt and response from the endpoint is returned.'
      operationId: v1.message.test-attempt
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAttemptOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/poller/{sink_id}:
    get:
      tags:
      - Message
      summary: Poller Poll
      description: Reads the stream of created messages for an application, filtered on the Sink's event types and Channels.
      operationId: v1.message.poller.poll
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          nullable: true
        style: form
      - in: query
        name: event_type
        description: Filters messages sent with this event type (optional).
        schema:
          description: Filters messages sent with this event type (optional).
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
          example: user.signup
        style: form
      - in: query
        name: channel
        description: Filters messages sent with this channel (optional).
        schema:
          description: Filters messages sent with this channel (optional).
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_.:+]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: after
        schema:
          type: string
          format: date-time
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollingEndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.message.poller.poll(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.message.poller.poll(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.message.poller.poll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.poller.poll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Message.Poller.Poll(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.message.poller.poll(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"sink_31Dc11sPYY9aLDkwPuGMa\")"
      - lang: Java
        label: Java
        source: "var response = svix.getMessage()\n        .getPoller()\n        .poll(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"sink_31Dc11sPYY9aLDkwPuGMa\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.message.poller.poll("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "sink_31Dc11sPYY9aLDkwPuGMa")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .poller()\n    .poll(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Message.Poller.Poll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->poller->poll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\"\n);"
      - lang: Shell
        label: CLI
        source: svix message poller poll "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "sink_31Dc11sPYY9aLDkwPuGMa"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/poller/sink_31Dc11sPYY9aLDkwPuGMa' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/poller/{sink_id}/consumer/{consumer_id}/seek:
    post:
      tags:
      - Message
      summary: Poller Consumer Seek
      description: Sets the starting offset for the consumer of a polling endpoint.
      operationId: v1.message.poller.consumer-seek
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: consumer_id
        required: true
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PollingEndpointConsumerSeekIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollingEndpointConsumerSeekOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.message.poller.consumerSeek(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  \"consumer_id\",\n  {\n    after: new Date(\"2025-10-02T20:28:42+00:00\"),\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.message.poller.consumerSeek(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  \"consumer_id\",\n  {\n    after: new Date(\"2025-10-02T20:28:42+00:00\"),\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.message.poller.consumer_seek(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\",\n    PollingEndpointConsumerSeekIn(\n        after=datetime.fromisoformat(\"2025-10-02T20:28:42+00:00\"),\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.poller.consumer_seek(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\",\n    PollingEndpointConsumerSeekIn(\n        after=datetime.fromisoformat(\"2025-10-02T20:28:42+00:00\"),\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Message.Poller.ConsumerSeek(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\t\"consumer_id\",\n\tPollingEndpointConsumerSeekIn{After: time.Date(2025, 10, 2, 20, 28, 42, 0, time.UTC)},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.message.poller.consumerSeek(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"sink_31Dc11sPYY9aLDkwPuGMa\",\n        \"consumer_id\",\n        PollingEndpointConsumerSeekIn(after = Instant.parse(\"2025-10-02T20:28:42+00:00\")),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getMessage()\n        .getPoller()\n        .consumerSeek(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"sink_31Dc11sPYY9aLDkwPuGMa\",\n            \"consumer_id\",\n            new PollingEndpointConsumerSeekIn()\n                .after(OffsetDateTime.parse(\"2025-10-02T20:28:42+00:00\")));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .message\n  .poller\n  .consumer_seek(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\",\n    {after: \"2025-10-02T20:28:42+00:00\"}\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .poller()\n    .consumer_seek(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        \"consumer_id\".to_string(),\n        PollingEndpointConsumerSeekIn {\n            after: \"2025-10-02T20:28:42+00:00\".to_string(),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Message.Poller.ConsumerSeek(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\",\n    new PollingEndpointConsumerSeekIn { After = DateTime.Parse(\"2025-10-02T20:28:42+00:00\") }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->poller->consumerSeek(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\",\n    PollingEndpointConsumerSeekIn::create(\n        after: new DateTimeImmutable(\"2025-10-02T20:28:42+00:00\")\n    )\n\n);"
      - lang: Shell
        label: CLI
        source: "svix message poller consumer-seek \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"sink_31Dc11sPYY9aLDkwPuGMa\" \"consumer_id\" '{\n    \"after\": \"2025-10-02T20:28:42+00:00\"\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/poller/sink_31Dc11sPYY9aLDkwPuGMa/consumer/consumer_id/seek' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"after\": \"2025-10-02T20:28:42+00:00\"\n  }'"
  /api/v1/app/{app_id}/poller/{sink_id}/consumer/{consumer_id}:
    get:
      tags:
      - Message
      summary: Poller Consumer Poll
      description: 'Reads the stream of created messages for an application, filtered on the Sink''s event types and

        Channels, using server-managed iterator tracking.'
      operationId: v1.message.poller.consumer-poll
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: consumer_id
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollingEndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.message.poller.consumerPoll(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  \"consumer_id\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.message.poller.consumerPoll(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"sink_31Dc11sPYY9aLDkwPuGMa\",\n  \"consumer_id\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.message.poller.consumer_poll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.message.poller.consumer_poll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Message.Poller.ConsumerPoll(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"sink_31Dc11sPYY9aLDkwPuGMa\",\n\t\"consumer_id\",\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.message.poller.consumerPoll(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"sink_31Dc11sPYY9aLDkwPuGMa\",\n        \"consumer_id\",\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getMessage()\n        .getPoller()\n        .consumerPoll(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"sink_31Dc11sPYY9aLDkwPuGMa\", \"consumer_id\");"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .message\n  .poller\n  .consumer_poll(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"sink_31Dc11sPYY9aLDkwPuGMa\", \"consumer_id\")"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .message()\n    .poller()\n    .consumer_poll(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"sink_31Dc11sPYY9aLDkwPuGMa\".to_string(),\n        \"consumer_id\".to_string(),\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Message.Poller.ConsumerPoll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\"\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->message->poller->consumerPoll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"sink_31Dc11sPYY9aLDkwPuGMa\",\n    \"consumer_id\"\n);"
      - lang: Shell
        label: CLI
        source: svix message poller consumer-poll "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "sink_31Dc11sPYY9aLDkwPuGMa" "consumer_id"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/poller/sink_31Dc11sPYY9aLDkwPuGMa/consumer/consumer_id' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/polling-endpoint/{sink_id}/consumer/{consumer_id}:
    get:
      tags:
      - Message
      summary: Pollerv2 Consumer Poll
      description: Poll messages from a sink.
      operationId: v1.message.pollerv2.consumer-poll
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: consumer_id
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: limit
        schema:
          type: integer
          format: uint64
          minimum: 0.0
        style: form
      - in: query
        name: lease_duration_ms
        description: Lease duration in milliseconds.
        schema:
          description: Lease duration in milliseconds.
          type: integer
          format: uint64
          minimum: 0
          nullable: true
        style: form
      - in: query
        name: starting_position
        schema:
          $ref: '#/components/schemas/StartingPosition'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollerV2PollOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /api/v1/app/{app_id}/polling-endpoint/{sink_id}/consumer/{consumer_id}/commit:
    post:
      tags:
      - Message
      summary: Pollerv2 Consumer Commit
      description: Ack a message offset for a sink's consumer.
      operationId: v1.message.pollerv2.consumer-commit
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: sink_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: consumer_id
        required: true
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PollerV2CommitIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
components:
  schemas:
    PollerV2MessageOut:
      description: The MessageOut equivalent of polling endpoint
      type: object
      properties:
        offset:
          type: integer
          format: uint64
          minimum: 0.0
        headers:
          type: object
          additionalProperties:
            type: string
          nullable: true
        eventId:
          description: Optional unique identifier for the message
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        eventType:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        payload:
          type: object
          additionalProperties: true
          example:
            type: user.created
            email: test@example.com
            username: test_user
        channels:
          description: List of free-form identifiers that endpoints can filter by
          type: array
          nullable: true
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:+]+$
            example: project_1337
          maxItems: 10
          minItems: 1
          uniqueItems: true
          example:
          - project_123
          - group_2
        id:
          description: The Message's ID.
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^msg_[A-Za-z0-9]{27}$
          example: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
        timestamp:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_./\\#]+$
            example: project_1337
          uniqueItems: true
          nullable: true
        deliverAt:
          type: string
          format: date-time
          nullable: true
      required:
      - eventType
      - id
      - offset
      - payload
      - timestamp
    ExpungeAllContentsOut:
      type: object
      properties:
        id:
          description: The QueueBackgroundTask's ID.
          type: string
          maxLength: 33
          minLength: 33
          pattern: ^qtask_[A-Za-z0-9]{27}$
          example: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
        status:
          $ref: '#/components/schemas/BackgroundTaskStatus'
        task:
          $ref: '#/components/schemas/BackgroundTaskType'
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - status
      - task
      - updatedAt
    PollerV2PollOut:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PollerV2MessageOut'
        done:
          type: boolean
      required:
      - data
      - done
    MessagePrecheckOut:
      type: object
      properties:
        active:
          description: Whether there are any active endpoint that would get sent such a message.
          type: boolean
      required:
      - active
    PollingEndpointMessageOut:
      description: The MessageOut equivalent of polling endpoint
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
          nullable: true
        eventId:
          description: Optional unique identifier for the message
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        eventType:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        payload:
          type: object
          additionalProperties: true
          example:
            type: user.created
            email: test@example.com
            username: test_user
        channels:
          description: List of free-form identifiers that endpoints can filter by
          type: array
          nullable: true
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:+]+$
            example: project_1337
          maxItems: 10
          minItems: 1
          uniqueItems: true
          example:
          - project_123
          - group_2
        id:
          description: The Message's ID.
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^msg_[A-Za-z0-9]{27}$
          example: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
        timestamp:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_./\\#]+$
            example: project_1337
          uniqueItems: true
          nullable: true
        deliverAt:
          type: string
          format: date-time
          nullable: true
      required:
      - eventType
      - id
      - payload
      - timestamp
    MessageIn:
      type: object
      properties:
        eventId:
          description: Optional unique identifier for the message
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        eventType:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        payload:
          description: 'JSON payload to send as the request body of the webhook.


            We also support sending non-JSON payloads. Please contact us for more information.'
          type: object
          additionalProperties: true
          example:
            type: user.created
            email: test@example.com
            username: test_user
        channels:
          description: List of free-form identifiers that endpoints can filter by
          type: array
          nullable: true
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:+]+$
            example: project_1337
          maxItems: 10
          minItems: 1
          uniqueItems: true
          example:
          - project_123
          - group_2
        application:
          description: 'Optionally creates a new application alongside the message.


            If the application id or uid that is used in the path already exists, this argument is ignored.'
          $ref: '#/components/schemas/ApplicationIn'
          nullable: true
        tags:
          description: List of free-form tags that can be filtered by when listing messages
          type: array
          nullable: true
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_./\\#]+$
            example: project_1337
          maxItems: 5
          uniqueItems: true
          example:
          - my_tag
          - other
        transformationsParams:
          description: Extra parameters to pass to Transformations (for future use)
          type: object
          additionalProperties: true
          nullable: true
        deliverAt:
          description: 'The date and time at which the message will be delivered.


            Note that this time is best-effort-only. Must be at least one minute and no more than 24 hours in the future.'
          type: string
          format: date-time
          nullable: true
        payloadRetentionPeriod:
          description: Optional number of days to retain the message payload. Defaults to 90. Note that this is mutually exclusive with `payloadRetentionHours`.
          type: integer
          format: int64
          default: 90
          nullable: true
          maximum: 90
          minimum: 1
          example: 90
        payloadRetentionHours:
          description: Optional number of hours to retain the message payload. Note that this is mutually exclusive with `payloadRetentionPeriod`.
          type: integer
          format: int64
          default: null
          maximum: 2160
          minimum: 1
          nullable: true
      required:
      - eventType
      - payload
    ApplicationIn:
      type: object
      properties:
        name:
          description: Application name for human consumption.
          type: string
          minLength: 1
          example: My first application
        rateLimit:
          description: Deprecated, use `throttleRate` instead.
          type: integer
          format: uint16
          deprecated: true
          minimum: 1
          nullable: true
        throttleRate:
          description: 'Maximum messages per second to send to this application.


            Outgoing messages will be throttled to this rate.'
          type: integer
          format: uint16
          minimum: 1
          nullable: true
        uid:
          description: Optional unique identifier for the application.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        metadata:
          type: object
          default: {}
          additionalProperties:
            type: string
      required:
      - name
    PollerV2CommitIn:
      type: object
      properties:
        offset:
          type: integer
          format: uint64
          minimum: 0.0
      required:
      - offset
    BackgroundTaskStatus:
      type: string
      enum:
      - running
      - finished
      - failed
    MessagePrecheckIn:
      type: object
      properties:
        eventType:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        channels:
          type: array
          nullable: true
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:+]+$
            example: project_1337
          maxItems: 10
          minItems: 1
          uniqueItems: true
          example:
          - project_123
          - group_2
      required:
      - eventType
    MessageStatusText:
      type: string
      enum:
      - success
      - pending
      - fail
      - sending
      - canceled
    MessageRawPayloadOut:
      type: object
      properties:
        payload:
          type: string
          example: '{"email":"test@example.com","type":"user.created","username":"test_user"}'
      required:
      - payload
    ListResponse_MessageOut_:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageOut'
        iterator:
          type: string
          nullable: true
          example: iterator
        prevIterator:
          type: string
          nullable: true
          example: -iterator
        done:
          type: boolean
[...]
