openapi: 3.2.0
info:
  title: Svix Webhook Endpoint API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.922.0
  x-logo:
    url: https://www.svix.com/static/img/brand-padded.svg
    altText: Svix Logo
servers:
- url: https://api.eu.svix.com
  description: The Svix EU region
- url: https://api.us.svix.com
  description: The Svix US region
- url: https://api.ca.svix.com
  description: The Svix Canada region
- url: https://api.au.svix.com
  description: The Svix Australia region
- url: https://api.in.svix.com
  description: The Svix India region
tags:
- name: Webhook Endpoint
  description: Configure where operational webhooks are sent to.
paths:
  /api/v1/operational-webhook/endpoint:
    get:
      tags:
      - Webhook Endpoint
      summary: List Operational Webhook Endpoints
      description: List operational webhook endpoints.
      operationId: v1.operational-webhook.endpoint.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 30
          minLength: 30
          pattern: ^ep_[A-Za-z0-9]{27}$
          nullable: true
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_OperationalWebhookEndpointOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.operationalWebhook.endpoint.list();
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.operationalWebhook.endpoint.list();
      - lang: Python
        label: Python
        source: response = svix.operational_webhook.endpoint.list()
      - lang: Python
        label: Python (Async)
        source: response = await svix.operational_webhook.endpoint.list()
      - lang: Go
        label: Go
        source: response, err := svix.OperationalWebhook.Endpoint.List(ctx, nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.operationalWebhook.endpoint.list()
      - lang: Java
        label: Java
        source: var response = svix.getOperationalWebhook().getEndpoint().list();
      - lang: Ruby
        label: Ruby
        source: response = svix.operational_webhook.endpoint.list
      - lang: Rust
        label: Rust
        source: let response = svix.operational_webhook().endpoint().list(None).await?;
      - lang: C#
        label: C#
        source: var response = svix.OperationalWebhook.Endpoint.List();
      - lang: PHP
        label: PHP
        source: $response = $svix->operationalWebhook->endpoint->list();
      - lang: Shell
        label: CLI
        source: svix operational-webhook endpoint list
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Webhook Endpoint
      summary: Create Operational Webhook Endpoint
      description: Create an operational webhook endpoint.
      operationId: v1.operational-webhook.endpoint.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalWebhookEndpointIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalWebhookEndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.operationalWebhook.endpoint.create({\n  url: \"https://example.com/webhook/\",\n  description: \"An example endpoint name\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n  disabled: true,\n  filterTypes: [\"message.attempt.failing\"],\n  secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n  metadata: {},\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.operationalWebhook.endpoint.create({\n  url: \"https://example.com/webhook/\",\n  description: \"An example endpoint name\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n  disabled: true,\n  filterTypes: [\"message.attempt.failing\"],\n  secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n  metadata: {},\n});"
      - lang: Python
        label: Python
        source: "response = svix.operational_webhook.endpoint.create(\n    OperationalWebhookEndpointIn(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        disabled=True,\n        filter_types=[\n            \"message.attempt.failing\",\n        ],\n        secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        metadata={},\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.operational_webhook.endpoint.create(\n    OperationalWebhookEndpointIn(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        disabled=True,\n        filter_types=[\n            \"message.attempt.failing\",\n        ],\n        secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        metadata={},\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.OperationalWebhook.Endpoint.Create(\n\tctx,\n\tOperationalWebhookEndpointIn{\n\t\tUrl:          \"https://example.com/webhook/\",\n\t\tDescription:  new(\"An example endpoint name\"),\n\t\tThrottleRate: new(uint16(1)),\n\t\tUid:          new(\"unique-identifier\"),\n\t\tDisabled:     new(true),\n\t\tFilterTypes:  []string{\"message.attempt.failing\"},\n\t\tSecret:       new(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"),\n\t\tMetadata:     nil,\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.operationalWebhook.endpoint.create(\n        OperationalWebhookEndpointIn(\n            url = \"https://example.com/webhook/\",\n            description = \"An example endpoint name\",\n            throttleRate = 1u,\n            uid = \"unique-identifier\",\n            disabled = true,\n            filterTypes = setOf(\"message.attempt.failing\"),\n            secret = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n            metadata = mapOf(),\n        )\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getOperationalWebhook()\n        .getEndpoint()\n        .create(new OperationalWebhookEndpointIn()\n            .url(URI.create(\"https://example.com/webhook/\"))\n            .description(\"An example endpoint name\")\n            .throttleRate(1L)\n            .uid(\"unique-identifier\")\n            .disabled(true)\n            .filterTypes(Set.of(\"message.attempt.failing\"))\n            .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n            .metadata(Map.of()));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .operational_webhook\n  .endpoint\n  .create(\n    {\n      url: \"https://example.com/webhook/\",\n      description: \"An example endpoint name\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      disabled: true,\n      filterTypes: [\"message.attempt.failing\"],\n      secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n      metadata: {}\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .operational_webhook()\n    .endpoint()\n    .create(\n        OperationalWebhookEndpointIn {\n            url: \"https://example.com/webhook/\".to_string(),\n            description: Some(\"An example endpoint name\".to_string()),\n            throttle_rate: Some(1),\n            uid: Some(\"unique-identifier\".to_string()),\n            disabled: Some(true),\n            filter_types: Some(vec![\"message.attempt.failing\".to_string()]),\n            secret: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n            metadata: Some(HashMap::new()),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.OperationalWebhook.Endpoint.Create(\n    new OperationalWebhookEndpointIn\n    {\n        Url = \"https://example.com/webhook/\",\n        Description = \"An example endpoint name\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n        Disabled = true,\n        FilterTypes = [\"message.attempt.failing\"],\n        Secret = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        Metadata = [],\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->operationalWebhook->endpoint->create(\n    OperationalWebhookEndpointIn::create(\n        url: \"https://example.com/webhook/\"\n    )\n    ->withDescription(\"An example endpoint name\")\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n    ->withDisabled(true)\n    ->withFilterTypes([\"message.attempt.failing\"])\n    ->withSecret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix operational-webhook endpoint create '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"message.attempt.failing\"\n    ],\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"metadata\": {}\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"message.attempt.failing\"\n    ],\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"metadata\": {}\n  }'"
  /api/v1/operational-webhook/endpoint/{endpoint_id}:
    get:
      tags:
      - Webhook Endpoint
      summary: Get Operational Webhook Endpoint
      description: Get an operational webhook endpoint.
      operationId: v1.operational-webhook.endpoint.get
      parameters:
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalWebhookEndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.operationalWebhook.endpoint.get(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.operationalWebhook.endpoint.get(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.operational_webhook.endpoint.get(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.operational_webhook.endpoint.get(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.OperationalWebhook.Endpoint.Get(ctx, "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.operationalWebhook.endpoint.get("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Java
        label: Java
        source: var response = svix.getOperationalWebhook().getEndpoint().get("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: Ruby
        label: Ruby
        source: response = svix.operational_webhook.endpoint.get("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .operational_webhook()\n    .endpoint()\n    .get(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string())\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.OperationalWebhook.Endpoint.Get("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: PHP
        label: PHP
        source: "$response = $svix->operationalWebhook->endpoint->get(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix operational-webhook endpoint get "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Webhook Endpoint
      summary: Upsert Operational Webhook Endpoint
      description: Create or update an operational webhook endpoint.
      operationId: v1.operational-webhook.endpoint.update
      parameters:
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalWebhookEndpointUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalWebhookEndpointOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.operationalWebhook.endpoint.update(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    url: \"https://example.com/webhook/\",\n    description: \"An example endpoint name\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    disabled: true,\n    filterTypes: [\"message.attempt.failing\"],\n    metadata: {},\n  }\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.operationalWebhook.endpoint.update(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n  {\n    url: \"https://example.com/webhook/\",\n    description: \"An example endpoint name\",\n    throttleRate: 1,\n    uid: \"unique-identifier\",\n    disabled: true,\n    filterTypes: [\"message.attempt.failing\"],\n    metadata: {},\n  }\n);"
      - lang: Python
        label: Python
        source: "response = svix.operational_webhook.endpoint.update(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointUpdate(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        disabled=True,\n        filter_types=[\n            \"message.attempt.failing\",\n        ],\n        metadata={},\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.operational_webhook.endpoint.update(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointUpdate(\n        url=\"https://example.com/webhook/\",\n        description=\"An example endpoint name\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        disabled=True,\n        filter_types=[\n            \"message.attempt.failing\",\n        ],\n        metadata={},\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.OperationalWebhook.Endpoint.Update(\n\tctx,\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tOperationalWebhookEndpointUpdate{\n\t\tUrl:          \"https://example.com/webhook/\",\n\t\tDescription:  new(\"An example endpoint name\"),\n\t\tThrottleRate: new(uint16(1)),\n\t\tUid:          new(\"unique-identifier\"),\n\t\tDisabled:     new(true),\n\t\tFilterTypes:  []string{\"message.attempt.failing\"},\n\t\tMetadata:     nil,\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.operationalWebhook.endpoint.update(\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n        OperationalWebhookEndpointUpdate(\n            url = \"https://example.com/webhook/\",\n            description = \"An example endpoint name\",\n            throttleRate = 1u,\n            uid = \"unique-identifier\",\n            disabled = true,\n            filterTypes = setOf(\"message.attempt.failing\"),\n            metadata = mapOf(),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getOperationalWebhook()\n        .getEndpoint()\n        .update(\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new OperationalWebhookEndpointUpdate()\n                .url(URI.create(\"https://example.com/webhook/\"))\n                .description(\"An example endpoint name\")\n                .throttleRate(1L)\n                .uid(\"unique-identifier\")\n                .disabled(true)\n                .filterTypes(Set.of(\"message.attempt.failing\"))\n                .metadata(Map.of()));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .operational_webhook\n  .endpoint\n  .update(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    {\n      url: \"https://example.com/webhook/\",\n      description: \"An example endpoint name\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      disabled: true,\n      filterTypes: [\"message.attempt.failing\"],\n      metadata: {}\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .operational_webhook()\n    .endpoint()\n    .update(\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        OperationalWebhookEndpointUpdate {\n            url: \"https://example.com/webhook/\".to_string(),\n            description: Some(\"An example endpoint name\".to_string()),\n            throttle_rate: Some(1),\n            uid: Some(\"unique-identifier\".to_string()),\n            disabled: Some(true),\n            filter_types: Some(vec![\"message.attempt.failing\".to_string()]),\n            metadata: Some(HashMap::new()),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.OperationalWebhook.Endpoint.Update(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new OperationalWebhookEndpointUpdate\n    {\n        Url = \"https://example.com/webhook/\",\n        Description = \"An example endpoint name\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n        Disabled = true,\n        FilterTypes = [\"message.attempt.failing\"],\n        Metadata = [],\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->operationalWebhook->endpoint->update(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointUpdate::create(\n        url: \"https://example.com/webhook/\"\n    )\n    ->withDescription(\"An example endpoint name\")\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n    ->withDisabled(true)\n    ->withFilterTypes([\"message.attempt.failing\"])\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix operational-webhook endpoint update \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"message.attempt.failing\"\n    ],\n    \"metadata\": {}\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"url\": \"https://example.com/webhook/\",\n    \"description\": \"An example endpoint name\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"message.attempt.failing\"\n    ],\n    \"metadata\": {}\n  }'"
    delete:
      tags:
      - Webhook Endpoint
      summary: Delete Operational Webhook Endpoint
      description: Delete an operational webhook endpoint.
      operationId: v1.operational-webhook.endpoint.delete
      parameters:
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: await svix.operationalWebhook.endpoint.delete("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: TypeScript
        label: TypeScript
        source: await svix.operationalWebhook.endpoint.delete("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: Python
        label: Python
        source: "svix.operational_webhook.endpoint.delete(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.operational_webhook.endpoint.delete(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: err := svix.OperationalWebhook.Endpoint.Delete(ctx, "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Kotlin
        label: Kotlin
        source: "svix.operationalWebhook.endpoint.delete(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n)"
      - lang: Java
        label: Java
        source: svix.getOperationalWebhook().getEndpoint().delete("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: Ruby
        label: Ruby
        source: response = svix.operational_webhook.endpoint.delete("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "svix.operational_webhook()\n    .endpoint()\n    .delete(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string())\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.OperationalWebhook.Endpoint.Delete("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: PHP
        label: PHP
        source: "$svix->operationalWebhook->endpoint->delete(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix operational-webhook endpoint delete "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
  /api/v1/operational-webhook/endpoint/{endpoint_id}/secret:
    get:
      tags:
      - Webhook Endpoint
      summary: Get Operational Webhook Endpoint Secret
      description: 'Get an operational webhook endpoint''s signing secret.


        This is used to verify the authenticity of the webhook.

        For more information please refer to [the consuming webhooks docs](https://docs.svix.com/consuming-webhooks/).'
      operationId: v1.operational-webhook.endpoint.get-secret
      parameters:
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalWebhookEndpointSecretOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.operationalWebhook.endpoint.getSecret(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.operationalWebhook.endpoint.getSecret(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.operational_webhook.endpoint.get_secret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.operational_webhook.endpoint.get_secret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.OperationalWebhook.Endpoint.GetSecret(\n\tctx,\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.operationalWebhook.endpoint.getSecret("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Java
        label: Java
        source: "var response =\n        svix.getOperationalWebhook().getEndpoint().getSecret(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.operational_webhook.endpoint.get_secret("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .operational_webhook()\n    .endpoint()\n    .get_secret(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string())\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.OperationalWebhook.Endpoint.GetSecret("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: PHP
        label: PHP
        source: "$response = $svix->operationalWebhook->endpoint->getSecret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix operational-webhook endpoint get-secret "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/secret' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/operational-webhook/endpoint/{endpoint_id}/secret/rotate:
    post:
      tags:
      - Webhook Endpoint
      summary: Rotate Operational Webhook Endpoint Secret
      description: 'Rotates an operational webhook endpoint''s signing secret.


        The previous secret will remain valid for the next 24 hours.'
      operationId: v1.operational-webhook.endpoint.rotate-secret
      parameters:
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalWebhookEndpointSecretIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.operationalWebhook.endpoint.rotateSecret(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\", {\n  key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n});"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.operationalWebhook.endpoint.rotateSecret(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\", {\n  key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n});"
      - lang: Python
        label: Python
        source: "svix.operational_webhook.endpoint.rotate_secret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointSecretIn(\n        key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.operational_webhook.endpoint.rotate_secret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointSecretIn(\n        key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    ),\n)"
      - lang: Go
        label: Go
        source: "err := svix.OperationalWebhook.Endpoint.RotateSecret(\n\tctx,\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tOperationalWebhookEndpointSecretIn{Key: new(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.operationalWebhook.endpoint.rotateSecret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointSecretIn(key = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"),\n)"
      - lang: Java
        label: Java
        source: "svix.getOperationalWebhook()\n        .getEndpoint()\n        .rotateSecret(\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new OperationalWebhookEndpointSecretIn().key(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .operational_webhook\n  .endpoint\n  .rotate_secret(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\", {key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"})"
      - lang: Rust
        label: Rust
        source: "svix.operational_webhook()\n    .endpoint()\n    .rotate_secret(\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        OperationalWebhookEndpointSecretIn {\n            key: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.OperationalWebhook.Endpoint.RotateSecret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new OperationalWebhookEndpointSecretIn { Key = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\" }\n);"
      - lang: PHP
        label: PHP
        source: "$svix->operationalWebhook->endpoint->rotateSecret(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointSecretIn::create()\n    ->withKey(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n);"
      - lang: Shell
        label: CLI
        source: "svix operational-webhook endpoint rotate-secret \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/secret/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n  }'"
  /api/v1/operational-webhook/endpoint/{endpoint_id}/headers:
    get:
      tags:
      - Webhook Endpoint
      summary: Get Operational Webhook Endpoint Headers
      description: Get the additional headers to be sent with the operational webhook.
      operationId: v1.operational-webhook.endpoint.get-headers
      parameters:
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalWebhookEndpointHeadersOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.operationalWebhook.endpoint.getHeaders(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.operationalWebhook.endpoint.getHeaders(\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Python
        label: Python
        source: "response = svix.operational_webhook.endpoint.get_headers(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.operational_webhook.endpoint.get_headers(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.OperationalWebhook.Endpoint.GetHeaders(\n\tctx,\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.operationalWebhook.endpoint.getHeaders("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Java
        label: Java
        source: "var response =\n        svix.getOperationalWebhook().getEndpoint().getHeaders(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - lang: Ruby
        label: Ruby
        source: response = svix.operational_webhook.endpoint.get_headers("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .operational_webhook()\n    .endpoint()\n    .get_headers(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string())\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.OperationalWebhook.Endpoint.GetHeaders("ep_33ZIBDmz66FcPG35FnsbM6Ie4X1");
      - lang: PHP
        label: PHP
        source: "$response = $svix->operationalWebhook->endpoint->getHeaders(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - lang: Shell
        label: CLI
        source: svix operational-webhook endpoint get-headers "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Webhook Endpoint
      summary: Set Operational Webhook Endpoint Headers
      description: Set the additional headers to be sent with the operational webhook.
      operationId: v1.operational-webhook.endpoint.update-headers
      parameters:
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationalWebhookEndpointHeadersIn'
        required: true
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "await svix.operationalWebhook.endpoint.updateHeaders(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\", {\n  headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n});"
      - lang: TypeScript
        label: TypeScript
        source: "await svix.operationalWebhook.endpoint.updateHeaders(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\", {\n  headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n});"
      - lang: Python
        label: Python
        source: "svix.operational_webhook.endpoint.update_headers(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointHeadersIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.operational_webhook.endpoint.update_headers(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointHeadersIn(\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n    ),\n)"
      - lang: Go
        label: Go
        source: "err := svix.OperationalWebhook.Endpoint.UpdateHeaders(\n\tctx,\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tOperationalWebhookEndpointHeadersIn{\n\t\tHeaders: map[string]string{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "svix.operationalWebhook.endpoint.updateHeaders(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointHeadersIn(headers = mapOf(\"X-Example\" to \"123\", \"X-Foobar\" to \"Bar\")),\n)"
      - lang: Java
        label: Java
        source: "svix.getOperationalWebhook()\n        .getEndpoint()\n        .updateHeaders(\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n            new OperationalWebhookEndpointHeadersIn()\n                .headers(\n                    Map.ofEntries(Map.entry(\"X-Example\", \"123\"), Map.entry(\"X-Foobar\", \"Bar\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .operational_webhook\n  .endpoint\n  .update_headers(\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\", {headers: {:\"X-Example\" => \"123\", :\"X-Foobar\" => \"Bar\"}})"
      - lang: Rust
        label: Rust
        source: "svix.operational_webhook()\n    .endpoint()\n    .update_headers(\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        OperationalWebhookEndpointHeadersIn {\n            headers: HashMap::from([\n                (\"X-Example\".to_string(), \"123\".to_string()),\n                (\"X-Foobar\".to_string(), \"Bar\".to_string()),\n            ]),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.OperationalWebhook.Endpoint.UpdateHeaders(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    new OperationalWebhookEndpointHeadersIn\n    {\n        Headers = new() { { \"X-Example\", \"123\" }, { \"X-Foobar\", \"Bar\" } },\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$svix->operationalWebhook->endpoint->updateHeaders(\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    OperationalWebhookEndpointHeadersIn::create(\n        headers: [\"X-Example\" => \"123\", \"X-Foobar\" => \"Bar\"]\n    )\n\n);"
      - lang: Shell
        label: CLI
        source: "svix operational-webhook endpoint update-headers \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\" '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/operational-webhook/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    }\n  }'"
components:
  schemas:
    OperationalWebhookEndpointHeadersIn:
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
          example:
            X-Example: '123'
            X-Foobar: Bar
      required:
      - headers
    ListResponse_OperationalWebhookEndpointOut_:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OperationalWebhookEndpointOut'
        iterator:
          type: string
          nullable: true
          example: iterator
        prevIterator:
          type: string
          nullable: true
          example: -iterator
        done:
          type: boolean
      required:
      - data
      - done
      - iterator
    HttpErrorOut:
      title: HttpError
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
      required:
      - code
      - detail
    OperationalWebhookEndpointSecretOut:
      type: object
      properties:
        key:
          description: 'The endpoint''s verification secret.


            Format: `base64` encoded random bytes optionally prefixed with `whsec_`.

            It is recommended to not set this and let the server generate the secret.'
          type: string
          pattern: ^(whsec_|whsk_|whsk1_|whpk_|whpk1_)?[a-zA-Z0-9+/=]{32,100}$
          example: whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD
      required:
      - key
    OperationalWebhookEndpointIn:
      type: object
      properties:
        url:
          type: string
          format: uri
          minLength: 1
          maxLength: 65536
          example: https://example.com/webhook/
        description:
          type: string
          default: ''
          example: An example endpoint name
        rateLimit:
          description: Deprecated, use `throttleRate` instead.
          type: integer
          format: uint16
          deprecated: true
          minimum: 1
          nullable: true
        throttleRate:
          description: 'Maximum messages per second to send to this endpoint.


            Outgoing messages will be throttled to this rate.'
          type: integer
          format: uint16
          minimum: 1
          nullable: true
        uid:
          description: Optional unique identifier for the endpoint.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        disabled:
          type: boolean
          default: false
          example: false
        filterTypes:
          type: array
          nullable: true
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - message.attempt.failing
        secret:
          description: 'The endpoint''s verification secret.


            Format: `base64` encoded random bytes optionally prefixed with `whsec_`.

            It is recommended to not set this and let the server generate the secret.'
          type: string
          pattern: ^(whsec_|whsk_|whsk1_|whpk_|whpk1_)?[a-zA-Z0-9+/=]{32,100}$
          example: whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD
          nullable: true
        metadata:
          type: object
          default: {}
          additionalProperties:
            type: string
      required:
      - url
    OperationalWebhookEndpointOut:
      type: object
      properties:
        id:
          description: The Endpoint's ID.
          type: string
          maxLength: 30
          minLength: 30
          pattern: ^ep_[A-Za-z0-9]{27}$
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
        url:
          type: string
          format: uri
          minLength: 1
          maxLength: 65536
          example: https://example.com/webhook/
        description:
          type: string
        rateLimit:
          description: Deprecated, use `throttleRate` instead.
          type: integer
          format: uint16
          deprecated: true
          minimum: 0
          nullable: true
        throttleRate:
          description: 'Maximum messages per second to send to this endpoint.


            Outgoing messages will be throttled to this rate.'
          type: integer
          format: uint16
          minimum: 0
          nullable: true
        uid:
          description: Optional unique identifier for the endpoint.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        disabled:
          type: boolean
          default: false
          example: false
        filterTypes:
          type: array
          nullable: true
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - message.attempt.failing
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties:
            type: string
      required:
      - createdAt
      - description
      - id
      - metadata
      - updatedAt
      - url
    OperationalWebhookEndpointHeadersOut:
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
          example:
            X-Example: '123'
            X-Foobar: Bar
        sensitive:
          type: array
          uniqueItems: true
          items:
            type: string
          example:
          - Authorization
      required:
      - headers
      - sensitive
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      required:
      - detail
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
      required:
      - loc
      - msg
      - type
    OperationalWebhookEndpointUpdate:
      type: object
      properties:
        url:
          type: string
          format: uri
          minLength: 1
          maxLength: 65536
          example: https://example.com/webhook/
        description:
          type: string
          default: ''
          example: An example endpoint name
        rateLimit:
          description: Deprecated, use `throttleRate` instead.
          type: integer
          format: uint16
          deprecated: true
          minimum: 1
          nullable: true
        throttleRate:
          description: 'Maximum messages per second to send to this endpoint.


            Outgoing messages will be throttled to this rate.'
          type: integer
          format: uint16
          minimum: 1
          nullable: true
        uid:
          description: Optional unique identifier for the endpoint.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        disabled:
          type: boolean
          default: false
          example: false
        filterTypes:
          type: array
          nullable: true
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - message.attempt.failing
        metadata:
          type: object
          default: {}
          additionalProperties:
            type: string
      required:
      - url
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    OperationalWebhookEndpointSecretIn:
      type: object
      properties:
        key:
          description: 'The endpoint''s verification secret.


            Format: `base64` encoded random bytes optionally prefixed with `whsec_`.

            It is recommended to not set this and let the server generate the secret.'
          type: string
          default: null
          pattern: ^(whsec_|whsk_|whsk1_|whpk_|whpk1_)?[a-zA-Z0-9+/=]{32,100}$
          example: whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD
          nullable: true
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  endpoint.created:
    post:
      tags:
      - Webhook
      summary: endpoint.created
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      tags:
      - Webhook
      summary: endpoint.deleted
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: endpoint.disabled
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      tags:
      - Webhook
      summary: endpoint.enabled
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      tags:
      - Webhook
      summary: endpoint.updated
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  background_task.finished:
    post:
      tags:
      - Webhook
      summary: background_task.finished
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
            example:
              data:
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
                task: application.stats
                status: finished
                data:
                  appStats:
                  - messageDestinations: 343
                    appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
              type: background_task.finished
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: ingest.endpoint.disabled
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: ingest.endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  message.attempt.log:
    post:
      tags:
      - Webhook
      summary: message.attempt.log
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
            example:
              data:
              - orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                msgCreated: '2022-11-06T15:04:05Z'
                attemptStart: '2022-11-06T15:04:06Z'
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                attemptCount: 1
                status: 0
                eventType: user.signup
              type: message.attempt.log
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
      x-svix-feature-flags:
      - attempt_log
      x-internal: true
