openapi: 3.1.0
info:
  title: Svix Application Message Attempt API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.84.0
  x-logo:
    altText: Svix Logo
    url: https://www.svix.com/static/img/brand-padded.svg
servers:
- url: https://api.eu.svix.com/
  description: The Svix EU region
- url: https://api.us.svix.com/
  description: The Svix US region
- url: https://api.ca.svix.com/
  description: The Svix Canada region
- url: https://api.au.svix.com/
  description: The Svix Australia region
- url: https://api.in.svix.com/
  description: The Svix India region
tags:
- name: Message Attempt
  description: Attempts to deliver `Message`s to `Endpoint`s.
paths:
  /api/v1/app/{app_id}/attempt/endpoint/{endpoint_id}:
    get:
      tags:
      - Message Attempt
      summary: List Attempts By Endpoint
      description: 'List attempts by endpoint id


        Note that by default this endpoint is limited to retrieving 90 days'' worth of data

        relative to now or, if an iterator is provided, 90 days before/after the time indicated

        by the iterator ID. If you require data beyond those time ranges, you will need to explicitly

        set the `before` or `after` parameter as appropriate.

        '
      operationId: v1.message-attempt.list-by-endpoint
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 33
          minLength: 33
          pattern: ^atmpt_[A-Za-z0-9]{27}$
          nullable: true
          example: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: status
        description: 'Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)'
        schema:
          description: 'Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)'
          $ref: '#/components/schemas/MessageStatus'
          nullable: true
        explode: false
        style: form
      - in: query
        name: status_code_class
        description: Filter response based on the HTTP status code
        schema:
          description: Filter response based on the HTTP status code
          $ref: '#/components/schemas/StatusCodeClass'
          nullable: true
        explode: false
        style: form
      - in: query
        name: channel
        description: Filter response based on the channel
        schema:
          description: Filter response based on the channel
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_.:]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: tag
        description: Filter response based on the tag
        schema:
          description: Filter response based on the tag
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_./\\#]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: before
        description: Only include items created before a certain date
        schema:
          description: Only include items created before a certain date
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: after
        description: Only include items created after a certain date
        schema:
          description: Only include items created after a certain date
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: with_content
        description: When `true` attempt content is included in the response
        schema:
          description: When `true` attempt content is included in the response
          default: true
          type: boolean
        style: form
      - in: query
        name: with_msg
        description: 'When `true`, the message information is included in the response


          Note that message payloads are never included in the response, regardless of this flag.'
        schema:
          description: 'When `true`, the message information is included in the response


            Note that message payloads are never included in the response, regardless of this flag.'
          default: false
          type: boolean
        style: form
      - in: query
        name: expanded_statuses
        description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
        schema:
          description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
          default: false
          type: boolean
        style: form
      - in: query
        name: event_types
        description: Filter response based on the event type
        schema:
          description: Filter response based on the event type
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          uniqueItems: true
          nullable: true
        style: form
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_MessageAttemptOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listByEndpoint(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listByEndpoint(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: Python
        lang: Python
        source: "response = svix.message_attempt.list_by_endpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.message_attempt.list_by_endpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.MessageAttempt.ListByEndpoint(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.messageAttempt.listByEndpoint(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getMessageAttempt()\n        .listByEndpoint(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - label: Ruby
        lang: Ruby
        source: response = svix.message_attempt.list_by_endpoint("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1")
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .message_attempt()\n    .list_by_endpoint(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.MessageAttempt.ListByEndpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->messageAttempt->listByEndpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: CLI
        lang: Shell
        source: svix message-attempt list-by-endpoint "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/attempt/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/attempt/msg/{msg_id}:
    get:
      tags:
      - Message Attempt
      summary: List Attempts By Msg
      description: 'List attempts by message ID.


        Note that by default this endpoint is limited to retrieving 90 days'' worth of data

        relative to now or, if an iterator is provided, 90 days before/after the time indicated

        by the iterator ID. If you require data beyond those time ranges, you will need to explicitly

        set the `before` or `after` parameter as appropriate.'
      operationId: v1.message-attempt.list-by-msg
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 33
          minLength: 33
          pattern: ^atmpt_[A-Za-z0-9]{27}$
          nullable: true
          example: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: status
        description: 'Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)'
        schema:
          description: 'Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)'
          $ref: '#/components/schemas/MessageStatus'
          nullable: true
        explode: false
        style: form
      - in: query
        name: status_code_class
        description: Filter response based on the HTTP status code
        schema:
          description: Filter response based on the HTTP status code
          $ref: '#/components/schemas/StatusCodeClass'
          nullable: true
        explode: false
        style: form
      - in: query
        name: channel
        description: Filter response based on the channel
        schema:
          description: Filter response based on the channel
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_.:]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: tag
        description: Filter response based on the tag
        schema:
          description: Filter response based on the tag
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_./\\#]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: endpoint_id
        description: Filter the attempts based on the attempted endpoint
        schema:
          description: Filter the attempts based on the attempted endpoint
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
          example: unique-identifier
        style: form
      - in: query
        name: before
        description: Only include items created before a certain date
        schema:
          description: Only include items created before a certain date
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: after
        description: Only include items created after a certain date
        schema:
          description: Only include items created after a certain date
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: with_content
        description: When `true` attempt content is included in the response
        schema:
          description: When `true` attempt content is included in the response
          default: true
          type: boolean
        style: form
      - in: query
        name: expanded_statuses
        description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
        schema:
          description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
          default: false
          type: boolean
        style: form
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: event_types
        description: Filter response based on the event type
        schema:
          description: Filter response based on the event type
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          uniqueItems: true
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_MessageAttemptOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listByMsg(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listByMsg(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: Python
        lang: Python
        source: "response = svix.message_attempt.list_by_msg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.message_attempt.list_by_msg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.MessageAttempt.ListByMsg(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.messageAttempt.listByMsg(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getMessageAttempt()\n        .listByMsg(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\");"
      - label: Ruby
        lang: Ruby
        source: response = svix.message_attempt.list_by_msg("app_1srOrx2ZWZBpBUvZwXKQmoEYga2", "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f")
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .message_attempt()\n    .list_by_msg(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.MessageAttempt.ListByMsg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->messageAttempt->listByMsg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: CLI
        lang: Shell
        source: svix message-attempt list-by-msg "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/attempt/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/msg:
    get:
      tags:
      - Message Attempt
      summary: List Attempted Messages
      description: 'List messages for a particular endpoint.


        Additionally includes metadata about the latest message attempt.

        The `before` parameter lets you filter all items created before a certain date and is ignored if an iterator is passed.


        Note that by default this endpoint is limited to retrieving 90 days'' worth of data

        relative to now or, if an iterator is provided, 90 days before/after the time indicated

        by the iterator ID. If you require data beyond those time ranges, you will need to explicitly

        set the `before` or `after` parameter as appropriate.

        '
      operationId: v1.message-attempt.list-attempted-messages
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^msg_[A-Za-z0-9]{27}$
          nullable: true
          example: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: query
        name: channel
        description: Filter response based on the channel
        schema:
          description: Filter response based on the channel
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_.:]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: tag
        description: Filter response based on the message tags
        schema:
          description: Filter response based on the message tags
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9\-_./\\#]+$
          nullable: true
          example: project_1337
        style: form
      - in: query
        name: status
        description: 'Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)'
        schema:
          description: 'Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)'
          $ref: '#/components/schemas/MessageStatus'
          nullable: true
        explode: false
        style: form
      - in: query
        name: before
        description: Only include items created before a certain date
        schema:
          description: Only include items created before a certain date
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: after
        description: Only include items created after a certain date
        schema:
          description: Only include items created after a certain date
          type: string
          format: date-time
          nullable: true
        style: form
      - in: query
        name: with_content
        description: When `true` message payloads are included in the response
        schema:
          description: When `true` message payloads are included in the response
          default: true
          type: boolean
        style: form
      - in: query
        name: expanded_statuses
        description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
        schema:
          description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
          default: false
          type: boolean
        style: form
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: query
        name: event_types
        description: Filter response based on the event type
        schema:
          description: Filter response based on the event type
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          uniqueItems: true
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EndpointMessageOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listAttemptedMessages(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listAttemptedMessages(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: Python
        lang: Python
        source: "response = svix.message_attempt.list_attempted_messages(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.message_attempt.list_attempted_messages(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.MessageAttempt.ListAttemptedMessages(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.messageAttempt.listAttemptedMessages(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getMessageAttempt()\n        .listAttemptedMessages(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .message_attempt\n  .list_attempted_messages(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .message_attempt()\n    .list_attempted_messages(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.MessageAttempt.ListAttemptedMessages(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->messageAttempt->listAttemptedMessages(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: CLI
        lang: Shell
        source: svix message-attempt list-attempted-messages "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/msg' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/msg/{msg_id}/attempt/{attempt_id}:
    get:
      tags:
      - Message Attempt
      summary: Get Attempt
      description: '`msg_id`: Use a message id or a message `eventId`'
      operationId: v1.message-attempt.get
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: attempt_id
        description: The MessageAttempt's ID.
        required: true
        schema:
          description: The MessageAttempt's ID.
          type: string
          maxLength: 33
          minLength: 33
          pattern: ^atmpt_[A-Za-z0-9]{27}$
          example: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: simple
      - in: query
        name: expanded_statuses
        description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
        schema:
          description: When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)
          default: false
          type: boolean
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAttemptOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n  \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n  \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: Python
        lang: Python
        source: "response = svix.message_attempt.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.message_attempt.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.MessageAttempt.Get(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n\t\"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.messageAttempt.get(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n        \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getMessageAttempt()\n        .get(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n            \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .message_attempt\n  .get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\", \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .message_attempt()\n    .get(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n        \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.MessageAttempt.Get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->messageAttempt->get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: CLI
        lang: Shell
        source: svix message-attempt get "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f" "atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f/attempt/atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/msg/{msg_id}/attempt/{attempt_id}/content:
    delete:
      tags:
      - Message Attempt
      summary: Delete attempt response body
      description: 'Deletes the given attempt''s response body.


        Useful when an endpoint accidentally returned sensitive content.

        The message can''t be replayed or resent once its payload has been deleted or expired.'
      operationId: v1.message-attempt.expunge-content
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: attempt_id
        description: The MessageAttempt's ID.
        required: true
        schema:
          description: The MessageAttempt's ID.
          type: string
          maxLength: 33
          minLength: 33
          pattern: ^atmpt_[A-Za-z0-9]{27}$
          example: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "await svix.messageAttempt.expungeContent(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n  \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: TypeScript
        lang: TypeScript
        source: "await svix.messageAttempt.expungeContent(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n  \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: Python
        lang: Python
        source: "svix.message_attempt.expunge_content(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - label: Python (Async)
        lang: Python
        source: "await svix.message_attempt.expunge_content(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - label: Go
        lang: Go
        source: "err := svix.MessageAttempt.ExpungeContent(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n\t\"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - label: Kotlin
        lang: Kotlin
        source: "svix.messageAttempt.expungeContent(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
      - label: Java
        lang: Java
        source: "svix.getMessageAttempt()\n        .expungeContent(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n            \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .message_attempt\n  .expunge_content(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n  )"
      - label: Rust
        lang: Rust
        source: "svix.message_attempt()\n    .expunge_content(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n        \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.MessageAttempt.ExpungeContent(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: PHP
        lang: PHP
        source: "$svix->messageAttempt->expungeContent(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
      - label: CLI
        lang: Shell
        source: svix message-attempt expunge-content "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f" "atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2"
      - label: cURL
        lang: Shell
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f/attempt/atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2/content' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
  /api/v1/app/{app_id}/msg/{msg_id}/endpoint:
    get:
      tags:
      - Message Attempt
      summary: List Attempted Destinations
      description: 'List endpoints attempted by a given message.


        Additionally includes metadata about the latest message attempt.

        By default, endpoints are listed in ascending order by ID.'
      operationId: v1.message-attempt.list-attempted-destinations
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 30
          minLength: 30
          pattern: ^ep_[A-Za-z0-9]{27}$
          nullable: true
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
        style: form
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_MessageEndpointOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listAttemptedDestinations(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.listAttemptedDestinations(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: Python
        lang: Python
        source: "response = svix.message_attempt.list_attempted_destinations(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.message_attempt.list_attempted_destinations(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.MessageAttempt.ListAttemptedDestinations(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.messageAttempt.listAttemptedDestinations(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getMessageAttempt()\n        .listAttemptedDestinations(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\");"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .message_attempt\n  .list_attempted_destinations(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\")"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .message_attempt()\n    .list_attempted_destinations(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.MessageAttempt.ListAttemptedDestinations(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->messageAttempt->listAttemptedDestinations(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
      - label: CLI
        lang: Shell
        source: svix message-attempt list-attempted-destinations "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /api/v1/app/{app_id}/msg/{msg_id}/endpoint/{endpoint_id}/resend:
    post:
      tags:
      - Message Attempt
      summary: Resend Webhook
      description: Resend a message to the specified endpoint.
      operationId: v1.message-attempt.resend
      parameters:
      - in: path
        name: app_id
        description: The Application's ID or UID.
        required: true
        schema:
          description: The Application's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: msg_id
        description: The Message's ID or UID.
        required: true
        schema:
          description: The Message's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: path
        name: endpoint_id
        description: The Endpoint's ID or UID.
        required: true
        schema:
          description: The Endpoint's ID or UID.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.resend(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.messageAttempt.resend(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: Python
        lang: Python
        source: "response = svix.message_attempt.resend(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.message_attempt.resend(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.MessageAttempt.Resend(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.messageAttempt.resend(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getMessageAttempt()\n        .resend(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n            \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .message_attempt\n  .resend(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .message_attempt()\n    .resend(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.MessageAttempt.Resend(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->messageAttempt->resend(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
      - label: CLI
        lang: Shell
        source: svix message-attempt resend "app_1srOrx2ZWZBpBUvZwXKQmoEYga2" "msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f" "ep_33ZIBDmz66FcPG35FnsbM6Ie4X1"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1/resend' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
components:
  schemas:
    HttpErrorOut:
      title: HttpError
      type: object
      required:
      - code
      - detail
      properties:
        code:
          type: string
        detail:
          type: string
    MessageOut:
      type: object
      required:
      - eventType
      - id
      - payload
      - timestamp
      properties:
        channels:
          description: List of free-form identifiers that endpoints can filter by
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:]+$
            example: project_1337
          maxItems: 10
          minItems: 1
          uniqueItems: true
          example:
          - project_123
          - group_2
          nullable: true
        deliverAt:
          type: string
          format: date-time
          nullable: true
        eventId:
          description: Optional unique identifier for the message
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        eventType:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        id:
          description: The Message's ID.
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^msg_[A-Za-z0-9]{27}$
          example: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
        payload:
          type: object
          example:
            email: test@example.com
            type: user.created
            username: test_user
        tags:
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_./\\#]+$
            example: project_1337
          uniqueItems: true
          nullable: true
        timestamp:
          type: string
          format: date-time
    HTTPValidationError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
    EndpointMessageOut:
      description: A model containing information on a given message plus additional fields on the last attempt for that message.
      type: object
      required:
      - eventType
      - id
      - payload
      - status
      - statusText
      - timestamp
      properties:
        channels:
          description: List of free-form identifiers that endpoints can filter by
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:]+$
            example: project_1337
          maxItems: 10
          minItems: 1
          uniqueItems: true
          example:
          - project_123
          - group_2
          nullable: true
        deliverAt:
          type: string
          format: date-time
          nullable: true
        eventId:
          description: Optional unique identifier for the message
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        eventType:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        id:
          description: The Message's ID.
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^msg_[A-Za-z0-9]{27}$
          example: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
        nextAttempt:
          type: string
          format: date-time
          nullable: true
        payload:
          type: object
          example:
            email: test@example.com
            type: user.created
            username: test_user
        status:
          $ref: '#/components/schemas/MessageStatus'
        statusText:
          $ref: '#/components/schemas/MessageStatusText'
        tags:
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_./\\#]+$
            example: project_1337
          uniqueItems: true
          nullable: true
        timestamp:
          type: string
          format: date-time
    MessageStatus:
      title: MessageStatus
      description: 'The sending status of the message:


        - Success = 0

        - Pending = 1

        - Fail = 2

        - Sending = 3

        - Canceled = 4'
      type: integer
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      x-enum-varnames:
      - Success
      - Pending
      - Fail
      - Sending
      - Canceled
    MessageAttemptTriggerType:
      title: MessageAttemptTriggerType
      description: 'The reason an attempt was made:


        - Scheduled = 0

        - Manual = 1'
      type: integer
      enum:
      - 0
      - 1
      x-enum-varnames:
      - Scheduled
      - Manual
    ListResponse_EndpointMessageOut_:
      type: object
      required:
      - data
      - done
      - iterator
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EndpointMessageOut'
        done:
          type: boolean
        iterator:
          type: string
          example: iterator
          nullable: true
        prevIterator:
          type: string
          example: -iterator
          nullable: true
    MessageStatusText:
      type: string
      enum:
      - success
      - pending
      - fail
      - sending
      - canceled
    StatusCodeClass:
      title: StatusCodeClass
      description: 'The different classes of HTTP status codes:


        - CodeNone = 0

        - Code1xx = 100

        - Code2xx = 200

        - Code3xx = 300

        - Code4xx = 400

        - Code5xx = 500'
      type: integer
      enum:
      - 0
      - 100
      - 200
      - 300
      - 400
      - 500
      x-enum-varnames:
      - CodeNone
      - Code1xx
      - Code2xx
      - Code3xx
      - Code4xx
      - Code5xx
    ListResponse_MessageAttemptOut_:
      type: object
      required:
      - data
      - done
      - iterator
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageAttemptOut'
        done:
          type: boolean
        iterator:
          type: string
          example: iterator
          nullable: true
        prevIterator:
          type: string
          example: -iterator
          nullable: true
    MessageAttemptOut:
      type: object
      required:
      - endpointId
      - id
      - msgId
      - response
      - responseDurationMs
      - responseStatusCode
      - status
      - statusText
      - timestamp
      - triggerType
      - url
      properties:
        endpointId:
          description: The Endpoint's ID.
          type: string
          maxLength: 30
          minLength: 30
          pattern: ^ep_[A-Za-z0-9]{27}$
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
        id:
          description: The MessageAttempt's ID.
          type: string
          maxLength: 33
          minLength: 33
          pattern: ^atmpt_[A-Za-z0-9]{27}$
          example: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
        msg:
          $ref: '#/components/schemas/MessageOut'
          nullable: true
        msgId:
          description: The Message's ID.
          type: string
          maxLength: 31
          minLength: 31
          pattern: ^msg_[A-Za-z0-9]{27}$
          example: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
        response:
          type: string
          example: '{}'
        responseDurationMs:
          description: Response duration in milliseconds.
          type: integer
          format: int64
        responseStatusCode:
          type: integer
          format: int16
          example: 200
        status:
          $ref: '#/components/schemas/MessageStatus'
        statusText:
          $ref: '#/components/schemas/MessageStatusText'
        timestamp:
          type: string
          format: date-time
        triggerType:
          $ref: '#/components/schemas/MessageAttemptTriggerType'
        url:
          type: string
          format: uri
          maxLength: 65536
          minLength: 1
          example: https://example.com/webhook/
    ListResponse_MessageEndpointOut_:
      type: object
      required:
      - data
      - done
      - iterator
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageEndpointOut'
        done:
          type: boolean
        iterator:
          type: string
          example: iterator
          nullable: true
        prevIterator:
          type: string
          example: -iterator
          nullable: true
    EmptyResponse:
      type: object
    MessageEndpointOut:
      type: object
      required:
      - createdAt
      - description
      - id
      - status
      - statusText
      - updatedAt
      - url
      - version
      properties:
        channels:
          description: List of message channels this endpoint listens to (omit for all).
          type: array
          items:
            type: string
            maxLength: 128
            pattern: ^[a-zA-Z0-9\-_.:]+$
            example: project_1337
          maxItems: 10
          minItems: 1
          uniqueItems: true
          example:
          - project_123
          - group_2
          nullable: true
        createdAt:
          type: string
          format: date-time
        description:
          description: An example endpoint name.
          type: string
        disabled:
          default: false
          type: boolean
          example: false
        filterTypes:
          type: array
          items:
            description: The event type's name
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            example: user.signup
          minItems: 1
          uniqueItems: true
          example:
          - user.signup
          - user.deleted
          nullable: true
        id:
          description: The Endpoint's ID.
          type: string
          maxLength: 30
          minLength: 30
          pattern: ^ep_[A-Za-z0-9]{27}$
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
        nextAttempt:
          type: string
          format: date-time
          nullable: true
        rateLimit:
          description: Deprecated, use `throttleRate` instead.
          deprecated: true
          type: integer
          format: uint16
          minimum: 0.0
          nullable: true
        status:
          $ref: '#/components/schemas/MessageStatus'
        statusText:
          $ref: '#/components/schemas/MessageStatusText'
        throttleRate:
          description: 'Maximum messages per second to send to this endpoint.


            Outgoing messages will be throttled to this rate.'
          type: integer
          format: uint16
          minimum: 0.0
          nullable: true
        uid:
          description: Optional unique identifier for the endpoint.
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
        url:
          type: string
          format: uri
          maxLength: 65536
          minLength: 1
          example: https://example.com/webhook/
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  background_task.finished:
    post:
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            example:
              data:
                data:
                  appStats:
                  - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
                    messageDestinations: 343
                status: finished
                task: application.stats
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: background_task.finished
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: background_task.finished
      tags:
      - Webhook
  endpoint.created:
    post:
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.created
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.deleted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.disabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.enabled
      tags:
      - Webhook
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: endpoint.updated
      tags:
      - Webhook
      x-svix-group-name: dispatch
  ingest.endpoint.disabled:
    post:
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                trigger: automatic
              type: ingest.endpoint.disabled
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.endpoint.disabled
      tags:
      - Webhook
  ingest.message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.exhausted
      tags:
      - Webhook
  ingest.message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.failing
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.failing
      tags:
      - Webhook
  ingest.message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
              type: ingest.message.attempt.recovered
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: ingest.message.attempt.recovered
      tags:
      - Webhook
  message.attempt.exhausted:
    post:
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.exhausted
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.exhausted
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.failing
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.failing
      tags:
      - Webhook
      x-svix-group-name: dispatch
  message.attempt.log:
    post:
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            example:
              data:
              - appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                attemptCount: 1
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                attemptStart: '2022-11-06T15:04:06Z'
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                eventType: user.signup
                msgCreated: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                status: 0
              type: message.attempt.log
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.log
      tags:
      - Webhook
      x-internal: true
      x-svix-feature-flags:
      - attempt_log
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
                msgEventId: unique-msg-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
              type: message.attempt.recovered
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      summary: message.attempt.recovered
      tags:
      - Webhook
      x-svix-group-name: dispatch
