openapi: 3.1.0
info:
  title: Svix Application Ingest Source API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.84.0
  x-logo:
    altText: Svix Logo
    url: https://www.svix.com/static/img/brand-padded.svg
servers:
- url: https://api.eu.svix.com/
  description: The Svix EU region
- url: https://api.us.svix.com/
  description: The Svix US region
- url: https://api.ca.svix.com/
  description: The Svix Canada region
- url: https://api.au.svix.com/
  description: The Svix Australia region
- url: https://api.in.svix.com/
  description: The Svix India region
tags:
- name: Ingest Source
paths:
  /ingest/api/v1/source:
    get:
      tags:
      - Ingest Source
      summary: List Ingest Sources
      description: List of all the organization's Ingest Sources.
      operationId: v1.ingest.source.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250.0
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          nullable: true
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_IngestSourceOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.ingest.source.list();
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.ingest.source.list();
      - label: Python
        lang: Python
        source: response = svix.ingest.source.list()
      - label: Python (Async)
        lang: Python
        source: response = await svix.ingest.source.list()
      - label: Go
        lang: Go
        source: response, err := svix.Ingest.Source.List(ctx, nil)
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.ingest.source.list()
      - label: Java
        lang: Java
        source: var response = svix.getIngest().getSource().list();
      - label: Ruby
        lang: Ruby
        source: response = svix.ingest.source.list
      - label: Rust
        lang: Rust
        source: let response = svix.ingest().source().list(None).await?;
      - label: C#
        lang: C#
        source: var response = svix.Ingest.Source.List();
      - label: PHP
        lang: PHP
        source: $response = $svix->ingest->source->list();
      - label: CLI
        lang: Shell
        source: svix ingest source list
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Ingest Source
      summary: Create Ingest Source
      description: Create Ingest Source.
      operationId: v1.ingest.source.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSourceIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.ingest.source.create({\n  metadata: {},\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  type: \"cron\",\n  config: {\n    contentType: \"sample string\",\n    payload: \"sample string\",\n    schedule: \"sample string\",\n  },\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.ingest.source.create({\n  metadata: {},\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  type: \"cron\",\n  config: {\n    contentType: \"sample string\",\n    payload: \"sample string\",\n    schedule: \"sample string\",\n  },\n});"
      - label: Python
        lang: Python
        source: "response = svix.ingest.source.create(\n    IngestSourceIn(\n        metadata={},\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        type=\"cron\",\n        config=CronConfig(\n            content_type=\"sample string\",\n            payload=\"sample string\",\n            schedule=\"sample string\",\n        ),\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.ingest.source.create(\n    IngestSourceIn(\n        metadata={},\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        type=\"cron\",\n        config=CronConfig(\n            content_type=\"sample string\",\n            payload=\"sample string\",\n            schedule=\"sample string\",\n        ),\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Ingest.Source.Create(\n\tctx,\n\tIngestSourceIn{\n\t\tMetadata: nil,\n\t\tName:     \"sample string\",\n\t\tUid:      new(\"unique-identifier\"),\n\t\tConfig:   (CronConfig{ContentType: new(\"sample string\"), Payload: \"sample string\", Schedule: \"sample string\"}),\n\t\tType:     \"cron\",\n\t},\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.ingest.source.create(\n        IngestSourceIn(\n            metadata = mapOf(),\n            name = \"sample string\",\n            uid = \"unique-identifier\",\n            config =\n                IngestSourceInConfig.Cron(\n                    CronConfig(\n                        contentType = \"sample string\",\n                        payload = \"sample string\",\n                        schedule = \"sample string\",\n                    )\n                ),\n        )\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getIngest()\n        .getSource()\n        .create(new IngestSourceIn()\n            .metadata(Map.of())\n            .name(\"sample string\")\n            .uid(\"unique-identifier\")\n            .config(new IngestSourceInConfig.Cron(new CronConfig()\n                .contentType(\"sample string\")\n                .payload(\"sample string\")\n                .schedule(\"sample string\"))));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .ingest\n  .source\n  .create(\n    {\n      metadata: {},\n      name: \"sample string\",\n      uid: \"unique-identifier\",\n      config: {contentType: \"sample string\", payload: \"sample string\", schedule: \"sample string\"},\n      type: \"cron\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .create(\n        IngestSourceIn {\n            metadata: Some(HashMap::new()),\n            name: \"sample string\".to_string(),\n            uid: Some(\"unique-identifier\".to_string()),\n            config: IngestSourceInConfig::Cron(CronConfig {\n                content_type: Some(\"sample string\".to_string()),\n                payload: \"sample string\".to_string(),\n                schedule: \"sample string\".to_string(),\n            }),\n        },\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Ingest.Source.Create(\n    new IngestSourceIn\n    {\n        Metadata = [],\n        Name = \"sample string\",\n        Uid = \"unique-identifier\",\n        Config = IngestSourceInConfig.Cron(\n            (\n                new CronConfig\n                {\n                    ContentType = \"sample string\",\n                    Payload = \"sample string\",\n                    Schedule = \"sample string\",\n                }\n            )\n        ),\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->ingest->source->create(\n    IngestSourceIn::create(\n        name: \"sample string\"\n    )\n    ->withMetadata([])\n    ->withUid(\"unique-identifier\")\n);"
      - label: CLI
        lang: Shell
        source: "svix ingest source create '{\n    \"config\": {\n      \"contentType\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"schedule\": \"sample string\"\n    },\n    \"metadata\": {},\n    \"name\": \"sample string\",\n    \"type\": \"cron\",\n    \"uid\": \"unique-identifier\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"config\": {\n      \"contentType\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"schedule\": \"sample string\"\n    },\n    \"metadata\": {},\n    \"name\": \"sample string\",\n    \"type\": \"cron\",\n    \"uid\": \"unique-identifier\"\n  }'"
  /ingest/api/v1/source/{source_id}:
    get:
      tags:
      - Ingest Source
      summary: Get Ingest Source
      description: Get an Ingest Source by id or uid.
      operationId: v1.ingest.source.get
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: Python
        lang: Python
        source: "response = svix.ingest.source.get(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.ingest.source.get(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - label: Go
        lang: Go
        source: response, err := svix.Ingest.Source.Get(ctx, "src_31Dc4Mx7vQVLfxFgArIhq")
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq")
      - label: Java
        lang: Java
        source: var response = svix.getIngest().getSource().get("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: Ruby
        lang: Ruby
        source: response = svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq")
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .get(\"src_31Dc4Mx7vQVLfxFgArIhq\".to_string())\n    .await?;"
      - label: C#
        lang: C#
        source: var response = svix.Ingest.Source.Get("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: PHP
        lang: PHP
        source: "$response = $svix->ingest->source->get(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n);"
      - label: CLI
        lang: Shell
        source: svix ingest source get "src_31Dc4Mx7vQVLfxFgArIhq"
      - label: cURL
        lang: Shell
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Ingest Source
      summary: Update Source
      description: Update an Ingest Source.
      operationId: v1.ingest.source.update
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSourceIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.ingest.source.update(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  metadata: {},\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  type: \"cron\",\n  config: {\n    contentType: \"sample string\",\n    payload: \"sample string\",\n    schedule: \"sample string\",\n  },\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.ingest.source.update(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  metadata: {},\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  type: \"cron\",\n  config: {\n    contentType: \"sample string\",\n    payload: \"sample string\",\n    schedule: \"sample string\",\n  },\n});"
      - label: Python
        lang: Python
        source: "response = svix.ingest.source.update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceIn(\n        metadata={},\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        type=\"cron\",\n        config=CronConfig(\n            content_type=\"sample string\",\n            payload=\"sample string\",\n            schedule=\"sample string\",\n        ),\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.ingest.source.update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceIn(\n        metadata={},\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        type=\"cron\",\n        config=CronConfig(\n            content_type=\"sample string\",\n            payload=\"sample string\",\n            schedule=\"sample string\",\n        ),\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Ingest.Source.Update(\n\tctx,\n\t\"src_31Dc4Mx7vQVLfxFgArIhq\",\n\tIngestSourceIn{\n\t\tMetadata: nil,\n\t\tName:     \"sample string\",\n\t\tUid:      new(\"unique-identifier\"),\n\t\tConfig:   (CronConfig{ContentType: new(\"sample string\"), Payload: \"sample string\", Schedule: \"sample string\"}),\n\t\tType:     \"cron\",\n\t},\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.ingest.source.update(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\",\n        IngestSourceIn(\n            metadata = mapOf(),\n            name = \"sample string\",\n            uid = \"unique-identifier\",\n            config =\n                IngestSourceInConfig.Cron(\n                    CronConfig(\n                        contentType = \"sample string\",\n                        payload = \"sample string\",\n                        schedule = \"sample string\",\n                    )\n                ),\n        ),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getIngest()\n        .getSource()\n        .update(\n            \"src_31Dc4Mx7vQVLfxFgArIhq\",\n            new IngestSourceIn()\n                .metadata(Map.of())\n                .name(\"sample string\")\n                .uid(\"unique-identifier\")\n                .config(new IngestSourceInConfig.Cron(new CronConfig()\n                    .contentType(\"sample string\")\n                    .payload(\"sample string\")\n                    .schedule(\"sample string\"))));"
      - label: Ruby
        lang: Ruby
        source: "response = svix\n  .ingest\n  .source\n  .update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    {\n      metadata: {},\n      name: \"sample string\",\n      uid: \"unique-identifier\",\n      config: {contentType: \"sample string\", payload: \"sample string\", schedule: \"sample string\"},\n      type: \"cron\"\n    }\n  )"
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .update(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\".to_string(),\n        IngestSourceIn {\n            metadata: Some(HashMap::new()),\n            name: \"sample string\".to_string(),\n            uid: Some(\"unique-identifier\".to_string()),\n            config: IngestSourceInConfig::Cron(CronConfig {\n                content_type: Some(\"sample string\".to_string()),\n                payload: \"sample string\".to_string(),\n                schedule: \"sample string\".to_string(),\n            }),\n        },\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Ingest.Source.Update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    new IngestSourceIn\n    {\n        Metadata = [],\n        Name = \"sample string\",\n        Uid = \"unique-identifier\",\n        Config = IngestSourceInConfig.Cron(\n            (\n                new CronConfig\n                {\n                    ContentType = \"sample string\",\n                    Payload = \"sample string\",\n                    Schedule = \"sample string\",\n                }\n            )\n        ),\n    }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->ingest->source->update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceIn::create(\n        name: \"sample string\"\n    )\n    ->withMetadata([])\n    ->withUid(\"unique-identifier\")\n);"
      - label: CLI
        lang: Shell
        source: "svix ingest source update \"src_31Dc4Mx7vQVLfxFgArIhq\" '{\n    \"config\": {\n      \"contentType\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"schedule\": \"sample string\"\n    },\n    \"metadata\": {},\n    \"name\": \"sample string\",\n    \"type\": \"cron\",\n    \"uid\": \"unique-identifier\"\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"config\": {\n      \"contentType\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"schedule\": \"sample string\"\n    },\n    \"metadata\": {},\n    \"name\": \"sample string\",\n    \"type\": \"cron\",\n    \"uid\": \"unique-identifier\"\n  }'"
    delete:
      tags:
      - Ingest Source
      summary: Delete Ingest Source
      description: Delete an Ingest Source.
      operationId: v1.ingest.source.delete
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: await svix.ingest.source.delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: TypeScript
        lang: TypeScript
        source: await svix.ingest.source.delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: Python
        lang: Python
        source: "svix.ingest.source.delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - label: Python (Async)
        lang: Python
        source: "await svix.ingest.source.delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - label: Go
        lang: Go
        source: err := svix.Ingest.Source.Delete(ctx, "src_31Dc4Mx7vQVLfxFgArIhq")
      - label: Kotlin
        lang: Kotlin
        source: "svix.ingest.source.delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n)"
      - label: Java
        lang: Java
        source: svix.getIngest().getSource().delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: Ruby
        lang: Ruby
        source: response = svix.ingest.source.delete("src_31Dc4Mx7vQVLfxFgArIhq")
      - label: Rust
        lang: Rust
        source: svix.ingest().source().delete("src_31Dc4Mx7vQVLfxFgArIhq".to_string()).await?;
      - label: C#
        lang: C#
        source: var response = svix.Ingest.Source.Delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: PHP
        lang: PHP
        source: "$svix->ingest->source->delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n);"
      - label: CLI
        lang: Shell
        source: svix ingest source delete "src_31Dc4Mx7vQVLfxFgArIhq"
      - label: cURL
        lang: Shell
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
  /ingest/api/v1/source/{source_id}/dashboard:
    post:
      tags:
      - Ingest Source
      summary: Ingest Source Consumer Portal
      description: Get access to the Ingest Source Consumer Portal.
      operationId: v1.ingest.dashboard
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSourceConsumerPortalAccessIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardAccessOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: "const response = await svix.ingest.dashboard(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  expiry: 1,\n  readOnly: true,\n});"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await svix.ingest.dashboard(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  expiry: 1,\n  readOnly: true,\n});"
      - label: Python
        lang: Python
        source: "response = svix.ingest.dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceConsumerPortalAccessIn(\n        expiry=1,\n        read_only=True,\n    ),\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.ingest.dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceConsumerPortalAccessIn(\n        expiry=1,\n        read_only=True,\n    ),\n)"
      - label: Go
        lang: Go
        source: "response, err := svix.Ingest.Dashboard(\n\tctx,\n\t\"src_31Dc4Mx7vQVLfxFgArIhq\",\n\tIngestSourceConsumerPortalAccessIn{Expiry: new(uint64(1)), ReadOnly: new(true)},\n\tnil,\n)"
      - label: Kotlin
        lang: Kotlin
        source: "val response =\n    svix.ingest.dashboard(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\",\n        IngestSourceConsumerPortalAccessIn(expiry = 1u, readOnly = true),\n    )"
      - label: Java
        lang: Java
        source: "var response = svix.getIngest()\n        .dashboard(\n            \"src_31Dc4Mx7vQVLfxFgArIhq\",\n            new IngestSourceConsumerPortalAccessIn().expiry(1L).readOnly(true));"
      - label: Ruby
        lang: Ruby
        source: 'response = svix.ingest.dashboard("src_31Dc4Mx7vQVLfxFgArIhq", {expiry: 1, readOnly: true})'
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .ingest()\n    .dashboard(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\".to_string(),\n        IngestSourceConsumerPortalAccessIn {\n            expiry: Some(1),\n            read_only: Some(true),\n        },\n        None,\n    )\n    .await?;"
      - label: C#
        lang: C#
        source: "var response = svix.Ingest.Dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    new IngestSourceConsumerPortalAccessIn { Expiry = 1, ReadOnly = true }\n);"
      - label: PHP
        lang: PHP
        source: "$response = $svix->ingest->dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceConsumerPortalAccessIn::create()\n    ->withExpiry(1)\n    ->withReadOnly(true)\n);"
      - label: CLI
        lang: Shell
        source: "svix ingest dashboard \"src_31Dc4Mx7vQVLfxFgArIhq\" '{\n    \"expiry\": 1,\n    \"readOnly\": true\n  }'"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq/dashboard' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"expiry\": 1,\n    \"readOnly\": true\n  }'"
  /ingest/api/v1/source/{source_id}/token/rotate:
    post:
      tags:
      - Ingest Source
      summary: Rotate Ingest Token
      description: 'Rotate the Ingest Source''s Url Token.


        This will rotate the ingest source''s token, which is used to

        construct the unique `ingestUrl` for the source. Previous tokens

        will remain valid for 48 hours after rotation. The token can be

        rotated a maximum of three times within the 48-hour period.'
      operationId: v1.ingest.source.rotate-token
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateTokenOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - label: JavaScript
        lang: TypeScript
        source: const response = await svix.ingest.source.rotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: TypeScript
        lang: TypeScript
        source: const response = await svix.ingest.source.rotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: Python
        lang: Python
        source: "response = svix.ingest.source.rotate_token(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - label: Python (Async)
        lang: Python
        source: "response = await svix.ingest.source.rotate_token(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - label: Go
        lang: Go
        source: response, err := svix.Ingest.Source.RotateToken(ctx, "src_31Dc4Mx7vQVLfxFgArIhq", nil)
      - label: Kotlin
        lang: Kotlin
        source: val response = svix.ingest.source.rotateToken("src_31Dc4Mx7vQVLfxFgArIhq")
      - label: Java
        lang: Java
        source: var response = svix.getIngest().getSource().rotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: Ruby
        lang: Ruby
        source: response = svix.ingest.source.rotate_token("src_31Dc4Mx7vQVLfxFgArIhq")
      - label: Rust
        lang: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .rotate_token(\"src_31Dc4Mx7vQVLfxFgArIhq\".to_string(), None)\n    .await?;"
      - label: C#
        lang: C#
        source: var response = svix.Ingest.Source.RotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - label: PHP
        lang: PHP
        source: "$response = $svix->ingest->source->rotateToken(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n);"
      - label: CLI
        lang: Shell
        source: svix ingest source rotate-token "src_31Dc4Mx7vQVLfxFgArIhq"
      - label: cURL
        lang: Shell
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq/token/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
components:
  schemas:
    ListResponse_IngestSourceOut_:
      type: object
      required:
      - data
      - done
      - iterator
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/IngestSourceOut'
        done:
          type: boolean
        iterator:
          type: string
          example: iterator
          nullable: true
        prevIterator:
          type: string
          example: -iterator
          nullable: true
    IngestSourceOut_lithic:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - lithic
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceIn_github:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/GithubConfig'
        type:
          type: string
          enum:
          - github
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_incident-io:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - incident-io
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_render:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - render
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceIn_clerk:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - clerk
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_rutter:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/RutterConfigOut'
        type:
          type: string
          enum:
          - rutter
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceIn_meta:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/MetaConfig'
        type:
          type: string
          enum:
          - meta
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn:
      type: object
      oneOf:
      - $ref: '#/components/schemas/IngestSourceIn_generic-webhook'
      - $ref: '#/components/schemas/IngestSourceIn_cron'
      - $ref: '#/components/schemas/IngestSourceIn_adobe-sign'
      - $ref: '#/components/schemas/IngestSourceIn_beehiiv'
      - $ref: '#/components/schemas/IngestSourceIn_brex'
      - $ref: '#/components/schemas/IngestSourceIn_checkbook'
      - $ref: '#/components/schemas/IngestSourceIn_clerk'
      - $ref: '#/components/schemas/IngestSourceIn_docusign'
      - $ref: '#/components/schemas/IngestSourceIn_easypost'
      - $ref: '#/components/schemas/IngestSourceIn_github'
      - $ref: '#/components/schemas/IngestSourceIn_guesty'
      - $ref: '#/components/schemas/IngestSourceIn_hubspot'
      - $ref: '#/components/schemas/IngestSourceIn_incident-io'
      - $ref: '#/components/schemas/IngestSourceIn_lithic'
      - $ref: '#/components/schemas/IngestSourceIn_meta'
      - $ref: '#/components/schemas/IngestSourceIn_nash'
      - $ref: '#/components/schemas/IngestSourceIn_orum-io'
      - $ref: '#/components/schemas/IngestSourceIn_panda-doc'
      - $ref: '#/components/schemas/IngestSourceIn_port-io'
      - $ref: '#/components/schemas/IngestSourceIn_pleo'
      - $ref: '#/components/schemas/IngestSourceIn_psi-fi'
      - $ref: '#/components/schemas/IngestSourceIn_replicate'
      - $ref: '#/components/schemas/IngestSourceIn_resend'
      - $ref: '#/components/schemas/IngestSourceIn_rutter'
      - $ref: '#/components/schemas/IngestSourceIn_safebase'
      - $ref: '#/components/schemas/IngestSourceIn_sardine'
      - $ref: '#/components/schemas/IngestSourceIn_segment'
      - $ref: '#/components/schemas/IngestSourceIn_shopify'
      - $ref: '#/components/schemas/IngestSourceIn_slack'
      - $ref: '#/components/schemas/IngestSourceIn_stripe'
      - $ref: '#/components/schemas/IngestSourceIn_stych'
      - $ref: '#/components/schemas/IngestSourceIn_svix'
      - $ref: '#/components/schemas/IngestSourceIn_zoom'
      - $ref: '#/components/schemas/IngestSourceIn_telnyx'
      - $ref: '#/components/schemas/IngestSourceIn_vapi'
      - $ref: '#/components/schemas/IngestSourceIn_open-ai'
      - $ref: '#/components/schemas/IngestSourceIn_render'
      - $ref: '#/components/schemas/IngestSourceIn_veriff'
      - $ref: '#/components/schemas/IngestSourceIn_airwallex'
      - $ref: '#/components/schemas/IngestSourceIn_vgs'
      required:
      - name
      properties:
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
      discriminator:
        mapping:
          adobe-sign: '#/components/schemas/IngestSourceIn_adobe-sign'
          airwallex: '#/components/schemas/IngestSourceIn_airwallex'
          beehiiv: '#/components/schemas/IngestSourceIn_beehiiv'
          brex: '#/components/schemas/IngestSourceIn_brex'
          checkbook: '#/components/schemas/IngestSourceIn_checkbook'
          clerk: '#/components/schemas/IngestSourceIn_clerk'
          cron: '#/components/schemas/IngestSourceIn_cron'
          docusign: '#/components/schemas/IngestSourceIn_docusign'
          easypost: '#/components/schemas/IngestSourceIn_easypost'
          generic-webhook: '#/components/schemas/IngestSourceIn_generic-webhook'
          github: '#/components/schemas/IngestSourceIn_github'
          guesty: '#/components/schemas/IngestSourceIn_guesty'
          hubspot: '#/components/schemas/IngestSourceIn_hubspot'
          incident-io: '#/components/schemas/IngestSourceIn_incident-io'
          lithic: '#/components/schemas/IngestSourceIn_lithic'
          meta: '#/components/schemas/IngestSourceIn_meta'
          nash: '#/components/schemas/IngestSourceIn_nash'
          open-ai: '#/components/schemas/IngestSourceIn_open-ai'
          orum-io: '#/components/schemas/IngestSourceIn_orum-io'
          panda-doc: '#/components/schemas/IngestSourceIn_panda-doc'
          pleo: '#/components/schemas/IngestSourceIn_pleo'
          port-io: '#/components/schemas/IngestSourceIn_port-io'
          psi-fi: '#/components/schemas/IngestSourceIn_psi-fi'
          render: '#/components/schemas/IngestSourceIn_render'
          replicate: '#/components/schemas/IngestSourceIn_replicate'
          resend: '#/components/schemas/IngestSourceIn_resend'
          rutter: '#/components/schemas/IngestSourceIn_rutter'
          safebase: '#/components/schemas/IngestSourceIn_safebase'
          sardine: '#/components/schemas/IngestSourceIn_sardine'
          segment: '#/components/schemas/IngestSourceIn_segment'
          shopify: '#/components/schemas/IngestSourceIn_shopify'
          slack: '#/components/schemas/IngestSourceIn_slack'
          stripe: '#/components/schemas/IngestSourceIn_stripe'
          stych: '#/components/schemas/IngestSourceIn_stych'
          svix: '#/components/schemas/IngestSourceIn_svix'
          telnyx: '#/components/schemas/IngestSourceIn_telnyx'
          vapi: '#/components/schemas/IngestSourceIn_vapi'
          veriff: '#/components/schemas/IngestSourceIn_veriff'
          vgs: '#/components/schemas/IngestSourceIn_vgs'
          zoom: '#/components/schemas/IngestSourceIn_zoom'
        propertyName: type
    IngestSourceIn_stripe:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/StripeConfig'
        type:
          type: string
          enum:
          - stripe
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    AdobeSignConfigOut:
      type: object
    IngestSourceOut_stych:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - stych
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceIn_orum-io:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/OrumIoConfig'
        type:
          type: string
          enum:
          - orum-io
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_docusign:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/DocusignConfig'
        type:
          type: string
          enum:
          - docusign
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_shopify:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/ShopifyConfig'
        type:
          type: string
          enum:
          - shopify
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    SvixConfigOut:
      type: object
    IngestSourceOut_hubspot:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/HubspotConfigOut'
        type:
          type: string
          enum:
          - hubspot
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceIn_render:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - render
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_open-ai:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - open-ai
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_generic-webhook:
      type: object
      required:
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        type:
          type: string
          enum:
          - generic-webhook
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    OrumIoConfig:
      type: object
      required:
      - publicKey
      properties:
        publicKey:
          type: string
    VeriffConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    IngestSourceOut_docusign:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/DocusignConfigOut'
        type:
          type: string
          enum:
          - docusign
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_segment:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SegmentConfigOut'
        type:
          type: string
          enum:
          - segment
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceIn_easypost:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/EasypostConfig'
        type:
          type: string
          enum:
          - easypost
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    AirwallexConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    StripeConfigOut:
      type: object
    AdobeSignConfig:
      type: object
      required:
      - clientId
      properties:
        clientId:
          type: string
    IngestSourceOut_safebase:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - safebase
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_cron:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/CronConfig'
        type:
          type: string
          enum:
          - cron
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    MetaConfigOut:
      type: object
    IngestSourceIn_safebase:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - safebase
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    RutterConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    IngestSourceIn_rutter:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/RutterConfig'
        type:
          type: string
          enum:
          - rutter
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    IngestSourceOut_github:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/GithubConfigOut'
        type:
          type: string
          enum:
          - github
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    SvixConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    PortIoConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    IngestSourceIn_veriff:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/VeriffConfig'
        type:
          type: string
          enum:
          - veriff
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_pleo:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - pleo
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    VgsConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    GithubConfig:
      type: object
      properties:
        secret:
          type: string
          nullable: true
    ShopifyConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    SlackConfigOut:
      type: object
    VgsConfigOut:
      type: object
    IngestSourceOut_slack:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SlackConfigOut'
        type:
          type: string
          enum:
          - slack
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceIn_resend:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - resend
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_veriff:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/VeriffConfigOut'
        type:
          type: string
          enum:
          - veriff
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    PortIoConfigOut:
      type: object
    IngestSourceIn_sardine:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - sardine
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_airwallex:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/AirwallexConfigOut'
        type:
          type: string
          enum:
          - airwallex
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    ShopifyConfigOut:
      type: object
    HubspotConfig:
      type: object
      properties:
        secret:
          type: string
          nullable: true
    IngestSourceIn_checkbook:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/CheckbookConfig'
        type:
          type: string
          enum:
          - checkbook
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    GithubConfigOut:
      type: object
    HubspotConfigOut:
      type: object
    CheckbookConfigOut:
      type: object
    IngestSourceOut_adobe-sign:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/AdobeSignConfigOut'
        type:
          type: string
          enum:
          - adobe-sign
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    HTTPValidationError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    IngestSourceIn_guesty:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - guesty
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_vapi:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/VapiConfig'
        type:
          type: string
          enum:
          - vapi
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    VeriffConfigOut:
      type: object
    IngestSourceIn_port-io:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/PortIoConfig'
        type:
          type: string
          enum:
          - port-io
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_beehiiv:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - beehiiv
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    MetaConfig:
      type: object
      required:
      - secret
      - verifyToken
      properties:
        secret:
          type: string
        verifyToken:
          type: string
    IngestSourceOut_svix:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - svix
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceConsumerPortalAccessIn:
      type: object
      properties:
        expiry:
          description: 'How long the token will be valid for, in seconds.


            Valid values are between 1 hour and 7 days. The default is 7 days.'
          type: integer
          format: uint64
          maximum: 604800.0
          minimum: 3600.0
          nullable: true
        readOnly:
          description: Whether the app portal should be in read-only mode.
          type: boolean
          nullable: true
    IngestSourceOut_zoom:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/ZoomConfigOut'
        type:
          type: string
          enum:
          - zoom
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    SlackConfig:
      type: object
      required:
      - secret
      properties:
        secret:
          type: string
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
    IngestSourceIn_beehiiv:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - beehiiv
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_slack:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SlackConfig'
        type:
          type: string
          enum:
          - slack
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_zoom:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/ZoomConfig'
        type:
          type: string
          enum:
          - zoom
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_psi-fi:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - psi-fi
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_panda-doc:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/PandaDocConfig'
        type:
          type: string
          enum:
          - panda-doc
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_sardine:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - sardine
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    DocusignConfigOut:
      type: object
    RutterConfigOut:
      type: object
    DashboardAccessOut:
      type: object
      required:
      - token
      - url
      properties:
        token:
          type: string
          example: appsk_kV3ts5tKPNJN4Dl25cMTfUNdmabxbX0O
        url:
          type: string
          format: uri
          maxLength: 65536
          minLength: 1
          example: https://app.svix.com/login#key=eyJhcHBJZCI6ICJhcHBfMXRSdFl
    IngestSourceIn_incident-io:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/SvixConfig'
        type:
          type: string
          enum:
          - incident-io
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceIn_adobe-sign:
      type: object
      required:
      - config
      - name
      - type
      properties:
        config:
          $ref: '#/components/schemas/AdobeSignConfig'
        type:
          type: string
          enum:
          - adobe-sign
        metadata:
          default: {}
          type: object
          additionalProperties:
            type: string
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
    IngestSourceOut_stripe:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/StripeConfigOut'
        type:
          type: string
          enum:
          - stripe
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_meta:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/MetaConfigOut'
        type:
          type: string
          enum:
          - meta
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_guesty:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - guesty
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_replicate:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/SvixConfigOut'
        type:
          type: string
          enum:
          - replicate
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        updatedAt:
          type: string
          format: date-time
    IngestSourceOut_port-io:
      type: object
      required:
      - config
      - createdAt
      - id
      - metadata
      - name
      - type
      - updatedAt
      properties:
        config:
          $ref: '#/components/schemas/PortIoConfigOut'
        type:
          type: string
          enum:
          - port-io
        createdAt:
          type: string
          format: date-time
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        ingestUrl:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
[...]
