openapi: 3.2.0
info:
  title: Svix Stream Event Type API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.922.0
  x-logo:
    url: https://www.svix.com/static/img/brand-padded.svg
    altText: Svix Logo
servers:
- url: https://api.eu.svix.com
  description: The Svix EU region
- url: https://api.us.svix.com
  description: The Svix US region
- url: https://api.ca.svix.com
  description: The Svix Canada region
- url: https://api.au.svix.com
  description: The Svix Australia region
- url: https://api.in.svix.com
  description: The Svix India region
tags:
- name: Stream Event Type
paths:
  /api/v1/stream/event-type:
    get:
      tags:
      - Stream Event Type
      summary: List Stream Event Types
      description: List of all the organization's event types for streaming.
      operationId: v1.streaming.event-type.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          nullable: true
          example: user.signup
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      - in: query
        name: include_archived
        description: Include archived (deleted but not expunged) items in the response.
        schema:
          description: Include archived (deleted but not expunged) items in the response.
          type: boolean
          default: false
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_StreamEventTypeOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.streaming.eventType.list();
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.streaming.eventType.list();
      - lang: Python
        label: Python
        source: response = svix.streaming.event_type.list()
      - lang: Python
        label: Python (Async)
        source: response = await svix.streaming.event_type.list()
      - lang: Go
        label: Go
        source: response, err := svix.Streaming.EventType.List(ctx, nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.streaming.eventType.list()
      - lang: Java
        label: Java
        source: var response = svix.getStreaming().getEventType().list();
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.event_type.list
      - lang: Rust
        label: Rust
        source: let response = svix.streaming().event_type().list(None).await?;
      - lang: C#
        label: C#
        source: var response = svix.Streaming.EventType.List();
      - lang: PHP
        label: PHP
        source: $response = $svix->streaming->eventType->list();
      - lang: Shell
        label: CLI
        source: svix streaming event-type list
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Stream Event Type
      summary: Create Stream Event Type
      description: Create an event type for Streams.
      operationId: v1.streaming.event-type.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamEventTypeIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.eventType.create({\n  name: \"user.signup\",\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  deprecated: true,\n  archived: true,\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.eventType.create({\n  name: \"user.signup\",\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  deprecated: true,\n  archived: true,\n});"
      - lang: Python
        label: Python
        source: "response = svix.streaming.event_type.create(\n    StreamEventTypeIn(\n        name=\"user.signup\",\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        deprecated=True,\n        archived=True,\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.event_type.create(\n    StreamEventTypeIn(\n        name=\"user.signup\",\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        deprecated=True,\n        archived=True,\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.EventType.Create(\n\tctx,\n\tStreamEventTypeIn{\n\t\tName:         \"user.signup\",\n\t\tDescription:  new(\"sample string\"),\n\t\tFeatureFlags: []string{\"cool-new-feature\"},\n\t\tDeprecated:   new(true),\n\t\tArchived:     new(true),\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.eventType.create(\n        StreamEventTypeIn(\n            name = \"user.signup\",\n            description = \"sample string\",\n            featureFlags = setOf(\"cool-new-feature\"),\n            deprecated = true,\n            archived = true,\n        )\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getEventType()\n        .create(new StreamEventTypeIn()\n            .name(\"user.signup\")\n            .description(\"sample string\")\n            .featureFlags(Set.of(\"cool-new-feature\"))\n            .deprecated(true)\n            .archived(true));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .event_type\n  .create(\n    {\n      name: \"user.signup\",\n      description: \"sample string\",\n      featureFlags: [\"cool-new-feature\"],\n      deprecated: true,\n      archived: true\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .event_type()\n    .create(\n        StreamEventTypeIn {\n            name: \"user.signup\".to_string(),\n            description: Some(\"sample string\".to_string()),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n            deprecated: Some(true),\n            archived: Some(true),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.EventType.Create(\n    new StreamEventTypeIn\n    {\n        Name = \"user.signup\",\n        Description = \"sample string\",\n        FeatureFlags = [\"cool-new-feature\"],\n        Deprecated = true,\n        Archived = true,\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->eventType->create(\n    StreamEventTypeIn::create(\n        name: \"user.signup\"\n    )\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withDeprecated(true)\n    ->withArchived(true)\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming event-type create '{\n    \"name\": \"user.signup\",\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"deprecated\": true,\n    \"archived\": true\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"user.signup\",\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"deprecated\": true,\n    \"archived\": true\n  }'"
  /api/v1/stream/event-type/{name}:
    get:
      tags:
      - Stream Event Type
      summary: Get Stream Event Type
      description: Get an event type.
      operationId: v1.streaming.event-type.get
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.streaming.eventType.get("name");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.streaming.eventType.get("name");
      - lang: Python
        label: Python
        source: "response = svix.streaming.event_type.get(\n    \"name\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.event_type.get(\n    \"name\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Streaming.EventType.Get(ctx, "name")
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.streaming.eventType.get("name")
      - lang: Java
        label: Java
        source: var response = svix.getStreaming().getEventType().get("name");
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.event_type.get("name")
      - lang: Rust
        label: Rust
        source: let response = svix.streaming().event_type().get("name".to_string()).await?;
      - lang: C#
        label: C#
        source: var response = svix.Streaming.EventType.Get("name");
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->eventType->get(\n    \"name\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming event-type get "name"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Stream Event Type
      summary: Upsert Stream Event Type
      description: Create or update or create a event type for Streams.
      operationId: v1.streaming.event-type.update
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamEventTypeIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.eventType.update(\"name\", {\n  name: \"user.signup\",\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  deprecated: true,\n  archived: true,\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.eventType.update(\"name\", {\n  name: \"user.signup\",\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  deprecated: true,\n  archived: true,\n});"
      - lang: Python
        label: Python
        source: "response = svix.streaming.event_type.update(\n    \"name\",\n    StreamEventTypeIn(\n        name=\"user.signup\",\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        deprecated=True,\n        archived=True,\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.event_type.update(\n    \"name\",\n    StreamEventTypeIn(\n        name=\"user.signup\",\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        deprecated=True,\n        archived=True,\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.EventType.Update(\n\tctx,\n\t\"name\",\n\tStreamEventTypeIn{\n\t\tName:         \"user.signup\",\n\t\tDescription:  new(\"sample string\"),\n\t\tFeatureFlags: []string{\"cool-new-feature\"},\n\t\tDeprecated:   new(true),\n\t\tArchived:     new(true),\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.eventType.update(\n        \"name\",\n        StreamEventTypeIn(\n            name = \"user.signup\",\n            description = \"sample string\",\n            featureFlags = setOf(\"cool-new-feature\"),\n            deprecated = true,\n            archived = true,\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getEventType()\n        .update(\n            \"name\",\n            new StreamEventTypeIn()\n                .name(\"user.signup\")\n                .description(\"sample string\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .deprecated(true)\n                .archived(true));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .event_type\n  .update(\n    \"name\",\n    {\n      name: \"user.signup\",\n      description: \"sample string\",\n      featureFlags: [\"cool-new-feature\"],\n      deprecated: true,\n      archived: true\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .event_type()\n    .update(\n        \"name\".to_string(),\n        StreamEventTypeIn {\n            name: \"user.signup\".to_string(),\n            description: Some(\"sample string\".to_string()),\n            feature_flags: Some(vec![\"cool-new-feature\".to_string()]),\n            deprecated: Some(true),\n            archived: Some(true),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.EventType.Update(\n    \"name\",\n    new StreamEventTypeIn\n    {\n        Name = \"user.signup\",\n        Description = \"sample string\",\n        FeatureFlags = [\"cool-new-feature\"],\n        Deprecated = true,\n        Archived = true,\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->eventType->update(\n    \"name\",\n    StreamEventTypeIn::create(\n        name: \"user.signup\"\n    )\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withDeprecated(true)\n    ->withArchived(true)\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming event-type update \"name\" '{\n    \"name\": \"user.signup\",\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"deprecated\": true,\n    \"archived\": true\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"user.signup\",\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"deprecated\": true,\n    \"archived\": true\n  }'"
    delete:
      tags:
      - Stream Event Type
      summary: Delete Stream Event Type
      description: Delete an event type.
      operationId: v1.streaming.event-type.delete
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      - in: query
        name: expunge
        description: By default, event types are archived when "deleted". With this flag, they are deleted entirely.
        schema:
          description: By default, event types are archived when "deleted". With this flag, they are deleted entirely.
          type: boolean
          default: false
        style: form
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: await svix.streaming.eventType.delete("name");
      - lang: TypeScript
        label: TypeScript
        source: await svix.streaming.eventType.delete("name");
      - lang: Python
        label: Python
        source: "svix.streaming.event_type.delete(\n    \"name\",\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.streaming.event_type.delete(\n    \"name\",\n)"
      - lang: Go
        label: Go
        source: err := svix.Streaming.EventType.Delete(ctx, "name", nil)
      - lang: Kotlin
        label: Kotlin
        source: "svix.streaming.eventType.delete(\n    \"name\"\n)"
      - lang: Java
        label: Java
        source: svix.getStreaming().getEventType().delete("name");
      - lang: Ruby
        label: Ruby
        source: response = svix.streaming.event_type.delete("name")
      - lang: Rust
        label: Rust
        source: svix.streaming().event_type().delete("name".to_string(), None).await?;
      - lang: C#
        label: C#
        source: var response = svix.Streaming.EventType.Delete("name");
      - lang: PHP
        label: PHP
        source: "$svix->streaming->eventType->delete(\n    \"name\"\n);"
      - lang: Shell
        label: CLI
        source: svix streaming event-type delete "name"
      - lang: Shell
        label: cURL
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Stream Event Type
      summary: Patch Stream Event Type
      description: Patch an event type for Streams.
      operationId: v1.streaming.event-type.patch
      parameters:
      - in: path
        name: name
        description: The event type's name
        required: true
        schema:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamEventTypePatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamEventTypeOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.streaming.eventType.patch(\"name\", {\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  deprecated: true,\n  archived: true,\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.streaming.eventType.patch(\"name\", {\n  description: \"sample string\",\n  featureFlags: [\"cool-new-feature\"],\n  deprecated: true,\n  archived: true,\n});"
      - lang: Python
        label: Python
        source: "response = svix.streaming.event_type.patch(\n    \"name\",\n    StreamEventTypePatch(\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        deprecated=True,\n        archived=True,\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.streaming.event_type.patch(\n    \"name\",\n    StreamEventTypePatch(\n        description=\"sample string\",\n        feature_flags=[\n            \"cool-new-feature\",\n        ],\n        deprecated=True,\n        archived=True,\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Streaming.EventType.Patch(\n\tctx,\n\t\"name\",\n\tStreamEventTypePatch{\n\t\tDescription:  NewNullable(\"sample string\"),\n\t\tFeatureFlags: NewNullable([]string{\"cool-new-feature\"}),\n\t\tDeprecated:   new(true),\n\t\tArchived:     new(true),\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.streaming.eventType.patch(\n        \"name\",\n        StreamEventTypePatch(\n            description = MaybeUnset.Present(\"sample string\"),\n            featureFlags = MaybeUnset.Present(setOf(\"cool-new-feature\")),\n            deprecated = true,\n            archived = true,\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getStreaming()\n        .getEventType()\n        .patch(\n            \"name\",\n            new StreamEventTypePatch()\n                .description(\"sample string\")\n                .featureFlags(Set.of(\"cool-new-feature\"))\n                .deprecated(true)\n                .archived(true));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .streaming\n  .event_type\n  .patch(\"name\", {description: \"sample string\", featureFlags: [\"cool-new-feature\"], deprecated: true, archived: true})"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .streaming()\n    .event_type()\n    .patch(\n        \"name\".to_string(),\n        StreamEventTypePatch {\n            description: js_option::JsOption::Some(\"sample string\".to_string()),\n            feature_flags: js_option::JsOption::Some(\n                vec![\"cool-new-feature\".to_string()],\n            ),\n            deprecated: Some(true),\n            archived: Some(true),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Streaming.EventType.Patch(\n    \"name\",\n    new StreamEventTypePatch\n    {\n        Description = \"sample string\",\n        FeatureFlags = MaybeUnset<List<string>?>.Set([\"cool-new-feature\"]),\n        Deprecated = true,\n        Archived = true,\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->streaming->eventType->patch(\n    \"name\",\n    StreamEventTypePatch::create()\n    ->withDescription(\"sample string\")\n    ->withFeatureFlags([\"cool-new-feature\"])\n    ->withDeprecated(true)\n    ->withArchived(true)\n);"
      - lang: Shell
        label: CLI
        source: "svix streaming event-type patch \"name\" '{\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"deprecated\": true,\n    \"archived\": true\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/stream/event-type/name' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"description\": \"sample string\",\n    \"featureFlags\": [\n      \"cool-new-feature\"\n    ],\n    \"deprecated\": true,\n    \"archived\": true\n  }'"
components:
  schemas:
    StreamEventTypeOut:
      type: object
      properties:
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deprecated:
          type: boolean
        archived:
          type: boolean
        featureFlags:
          type: array
          nullable: true
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
      required:
      - archived
      - createdAt
      - deprecated
      - name
      - updatedAt
    HttpErrorOut:
      title: HttpError
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
      required:
      - code
      - detail
    StreamEventTypeIn:
      type: object
      properties:
        name:
          description: The event type's name
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9\-_.]+$
          example: user.signup
        description:
          type: string
          nullable: true
        featureFlags:
          type: array
          default: null
          nullable: true
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
        deprecated:
          type: boolean
          default: false
        archived:
          type: boolean
          default: false
      required:
      - name
    StreamEventTypePatch:
      type: object
      properties:
        description:
          type: string
          nullable: true
        featureFlags:
          type: array
          nullable: true
          items:
            type: string
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
          uniqueItems: true
          example:
          - cool-new-feature
        deprecated:
          type: boolean
        archived:
          type: boolean
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      required:
      - detail
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
      required:
      - loc
      - msg
      - type
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    ListResponse_StreamEventTypeOut_:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StreamEventTypeOut'
        iterator:
          type: string
          nullable: true
          example: iterator
        prevIterator:
          type: string
          nullable: true
          example: -iterator
        done:
          type: boolean
      required:
      - data
      - done
      - iterator
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  endpoint.created:
    post:
      tags:
      - Webhook
      summary: endpoint.created
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      tags:
      - Webhook
      summary: endpoint.deleted
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: endpoint.disabled
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      tags:
      - Webhook
      summary: endpoint.enabled
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      tags:
      - Webhook
      summary: endpoint.updated
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  background_task.finished:
    post:
      tags:
      - Webhook
      summary: background_task.finished
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
            example:
              data:
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
                task: application.stats
                status: finished
                data:
                  appStats:
                  - messageDestinations: 343
                    appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
              type: background_task.finished
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: ingest.endpoint.disabled
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: ingest.endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  message.attempt.log:
    post:
      tags:
      - Webhook
      summary: message.attempt.log
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
            example:
              data:
              - orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                msgCreated: '2022-11-06T15:04:05Z'
                attemptStart: '2022-11-06T15:04:06Z'
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                attemptCount: 1
                status: 0
                eventType: user.signup
              type: message.attempt.log
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
      x-svix-feature-flags:
      - attempt_log
      x-internal: true
