openapi: 3.2.0
info:
  title: Svix Ingest Source API
  description: 'Welcome to the Svix API documentation!


    Useful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)


    # Introduction


    This is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).


    ## Main concepts


    In Svix you have four important entities you will be interacting with:


    - `messages`: these are the webhooks being sent. They can have contents and a few other properties.

    - `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.

    - `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).

    - `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.



    ## Authentication


    Get your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).


    <SecurityDefinitions />



    ## Code samples


    The code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).



    ## Idempotency


    Svix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.


    To perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.


    Svix''s idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.


    Please note that idempotency is only supported for `POST` requests.



    ## Cross-Origin Resource Sharing


    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.

    '
  version: 1.922.0
  x-logo:
    url: https://www.svix.com/static/img/brand-padded.svg
    altText: Svix Logo
servers:
- url: https://api.eu.svix.com
  description: The Svix EU region
- url: https://api.us.svix.com
  description: The Svix US region
- url: https://api.ca.svix.com
  description: The Svix Canada region
- url: https://api.au.svix.com
  description: The Svix Australia region
- url: https://api.in.svix.com
  description: The Svix India region
tags:
- name: Ingest Source
paths:
  /ingest/api/v1/source:
    get:
      tags:
      - Ingest Source
      summary: List Ingest Sources
      description: List of all the organization's Ingest Sources.
      operationId: v1.ingest.source.list
      parameters:
      - in: query
        name: limit
        description: Limit the number of returned items
        schema:
          description: Limit the number of returned items
          type: integer
          format: uint64
          maximum: 250
          minimum: 1.0
        style: form
      - in: query
        name: iterator
        description: The iterator returned from a prior invocation
        schema:
          description: The iterator returned from a prior invocation
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          nullable: true
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        style: form
      - in: query
        name: order
        description: The sorting order of the returned items
        schema:
          description: The sorting order of the returned items
          $ref: '#/components/schemas/Ordering'
          nullable: true
        style: form
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_IngestSourceOut_'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.ingest.source.list();
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.ingest.source.list();
      - lang: Python
        label: Python
        source: response = svix.ingest.source.list()
      - lang: Python
        label: Python (Async)
        source: response = await svix.ingest.source.list()
      - lang: Go
        label: Go
        source: response, err := svix.Ingest.Source.List(ctx, nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.ingest.source.list()
      - lang: Java
        label: Java
        source: var response = svix.getIngest().getSource().list();
      - lang: Ruby
        label: Ruby
        source: response = svix.ingest.source.list
      - lang: Rust
        label: Rust
        source: let response = svix.ingest().source().list(None).await?;
      - lang: C#
        label: C#
        source: var response = svix.Ingest.Source.List();
      - lang: PHP
        label: PHP
        source: $response = $svix->ingest->source->list();
      - lang: Shell
        label: CLI
        source: svix ingest source list
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    post:
      tags:
      - Ingest Source
      summary: Create Ingest Source
      description: Create Ingest Source.
      operationId: v1.ingest.source.create
      parameters:
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSourceIn'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.ingest.source.create({\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  metadata: {},\n  type: \"cron\",\n  config: {\n    schedule: \"sample string\",\n    payload: \"sample string\",\n    contentType: \"sample string\",\n  },\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.ingest.source.create({\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  metadata: {},\n  type: \"cron\",\n  config: {\n    schedule: \"sample string\",\n    payload: \"sample string\",\n    contentType: \"sample string\",\n  },\n});"
      - lang: Python
        label: Python
        source: "response = svix.ingest.source.create(\n    IngestSourceIn(\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        metadata={},\n        type=\"cron\",\n        config=CronConfig(\n            schedule=\"sample string\",\n            payload=\"sample string\",\n            content_type=\"sample string\",\n        ),\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.ingest.source.create(\n    IngestSourceIn(\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        metadata={},\n        type=\"cron\",\n        config=CronConfig(\n            schedule=\"sample string\",\n            payload=\"sample string\",\n            content_type=\"sample string\",\n        ),\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Ingest.Source.Create(\n\tctx,\n\tIngestSourceIn{\n\t\tName:     \"sample string\",\n\t\tUid:      new(\"unique-identifier\"),\n\t\tMetadata: nil,\n\t\tConfig:   (CronConfig{Schedule: \"sample string\", Payload: \"sample string\", ContentType: new(\"sample string\")}),\n\t\tType:     \"cron\",\n\t},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.ingest.source.create(\n        IngestSourceIn(\n            name = \"sample string\",\n            uid = \"unique-identifier\",\n            metadata = mapOf(),\n            config =\n                IngestSourceInConfig.Cron(\n                    CronConfig(\n                        schedule = \"sample string\",\n                        payload = \"sample string\",\n                        contentType = \"sample string\",\n                    )\n                ),\n        )\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getIngest()\n        .getSource()\n        .create(new IngestSourceIn()\n            .name(\"sample string\")\n            .uid(\"unique-identifier\")\n            .metadata(Map.of())\n            .config(new IngestSourceInConfig.Cron(new CronConfig()\n                .schedule(\"sample string\")\n                .payload(\"sample string\")\n                .contentType(\"sample string\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .ingest\n  .source\n  .create(\n    {\n      name: \"sample string\",\n      uid: \"unique-identifier\",\n      metadata: {},\n      config: {schedule: \"sample string\", payload: \"sample string\", contentType: \"sample string\"},\n      type: \"cron\"\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .create(\n        IngestSourceIn {\n            name: \"sample string\".to_string(),\n            uid: Some(\"unique-identifier\".to_string()),\n            metadata: Some(HashMap::new()),\n            config: IngestSourceInConfig::Cron(CronConfig {\n                schedule: \"sample string\".to_string(),\n                payload: \"sample string\".to_string(),\n                content_type: Some(\"sample string\".to_string()),\n            }),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Ingest.Source.Create(\n    new IngestSourceIn\n    {\n        Name = \"sample string\",\n        Uid = \"unique-identifier\",\n        Metadata = [],\n        Config = IngestSourceInConfig.Cron(\n            (\n                new CronConfig\n                {\n                    Schedule = \"sample string\",\n                    Payload = \"sample string\",\n                    ContentType = \"sample string\",\n                }\n            )\n        ),\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->ingest->source->create(\n    IngestSourceIn::create(\n        name: \"sample string\"\n    )\n    ->withUid(\"unique-identifier\")\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix ingest source create '{\n    \"name\": \"sample string\",\n    \"uid\": \"unique-identifier\",\n    \"metadata\": {},\n    \"type\": \"cron\",\n    \"config\": {\n      \"schedule\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"contentType\": \"sample string\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"sample string\",\n    \"uid\": \"unique-identifier\",\n    \"metadata\": {},\n    \"type\": \"cron\",\n    \"config\": {\n      \"schedule\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"contentType\": \"sample string\"\n    }\n  }'"
  /ingest/api/v1/source/{source_id}:
    get:
      tags:
      - Ingest Source
      summary: Get Ingest Source
      description: Get an Ingest Source by id or uid.
      operationId: v1.ingest.source.get
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: Python
        label: Python
        source: "response = svix.ingest.source.get(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.ingest.source.get(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Ingest.Source.Get(ctx, "src_31Dc4Mx7vQVLfxFgArIhq")
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq")
      - lang: Java
        label: Java
        source: var response = svix.getIngest().getSource().get("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: Ruby
        label: Ruby
        source: response = svix.ingest.source.get("src_31Dc4Mx7vQVLfxFgArIhq")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .get(\"src_31Dc4Mx7vQVLfxFgArIhq\".to_string())\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.Ingest.Source.Get("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: PHP
        label: PHP
        source: "$response = $svix->ingest->source->get(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n);"
      - lang: Shell
        label: CLI
        source: svix ingest source get "src_31Dc4Mx7vQVLfxFgArIhq"
      - lang: Shell
        label: cURL
        source: "curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
    put:
      tags:
      - Ingest Source
      summary: Upsert Source
      description: Create or update an Ingest Source.
      operationId: v1.ingest.source.update
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSourceIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.ingest.source.update(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  metadata: {},\n  type: \"cron\",\n  config: {\n    schedule: \"sample string\",\n    payload: \"sample string\",\n    contentType: \"sample string\",\n  },\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.ingest.source.update(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  name: \"sample string\",\n  uid: \"unique-identifier\",\n  metadata: {},\n  type: \"cron\",\n  config: {\n    schedule: \"sample string\",\n    payload: \"sample string\",\n    contentType: \"sample string\",\n  },\n});"
      - lang: Python
        label: Python
        source: "response = svix.ingest.source.update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceIn(\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        metadata={},\n        type=\"cron\",\n        config=CronConfig(\n            schedule=\"sample string\",\n            payload=\"sample string\",\n            content_type=\"sample string\",\n        ),\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.ingest.source.update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceIn(\n        name=\"sample string\",\n        uid=\"unique-identifier\",\n        metadata={},\n        type=\"cron\",\n        config=CronConfig(\n            schedule=\"sample string\",\n            payload=\"sample string\",\n            content_type=\"sample string\",\n        ),\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Ingest.Source.Update(\n\tctx,\n\t\"src_31Dc4Mx7vQVLfxFgArIhq\",\n\tIngestSourceIn{\n\t\tName:     \"sample string\",\n\t\tUid:      new(\"unique-identifier\"),\n\t\tMetadata: nil,\n\t\tConfig:   (CronConfig{Schedule: \"sample string\", Payload: \"sample string\", ContentType: new(\"sample string\")}),\n\t\tType:     \"cron\",\n\t},\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.ingest.source.update(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\",\n        IngestSourceIn(\n            name = \"sample string\",\n            uid = \"unique-identifier\",\n            metadata = mapOf(),\n            config =\n                IngestSourceInConfig.Cron(\n                    CronConfig(\n                        schedule = \"sample string\",\n                        payload = \"sample string\",\n                        contentType = \"sample string\",\n                    )\n                ),\n        ),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getIngest()\n        .getSource()\n        .update(\n            \"src_31Dc4Mx7vQVLfxFgArIhq\",\n            new IngestSourceIn()\n                .name(\"sample string\")\n                .uid(\"unique-identifier\")\n                .metadata(Map.of())\n                .config(new IngestSourceInConfig.Cron(new CronConfig()\n                    .schedule(\"sample string\")\n                    .payload(\"sample string\")\n                    .contentType(\"sample string\"))));"
      - lang: Ruby
        label: Ruby
        source: "response = svix\n  .ingest\n  .source\n  .update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    {\n      name: \"sample string\",\n      uid: \"unique-identifier\",\n      metadata: {},\n      config: {schedule: \"sample string\", payload: \"sample string\", contentType: \"sample string\"},\n      type: \"cron\"\n    }\n  )"
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .update(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\".to_string(),\n        IngestSourceIn {\n            name: \"sample string\".to_string(),\n            uid: Some(\"unique-identifier\".to_string()),\n            metadata: Some(HashMap::new()),\n            config: IngestSourceInConfig::Cron(CronConfig {\n                schedule: \"sample string\".to_string(),\n                payload: \"sample string\".to_string(),\n                content_type: Some(\"sample string\".to_string()),\n            }),\n        },\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Ingest.Source.Update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    new IngestSourceIn\n    {\n        Name = \"sample string\",\n        Uid = \"unique-identifier\",\n        Metadata = [],\n        Config = IngestSourceInConfig.Cron(\n            (\n                new CronConfig\n                {\n                    Schedule = \"sample string\",\n                    Payload = \"sample string\",\n                    ContentType = \"sample string\",\n                }\n            )\n        ),\n    }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->ingest->source->update(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceIn::create(\n        name: \"sample string\"\n    )\n    ->withUid(\"unique-identifier\")\n    ->withMetadata([])\n);"
      - lang: Shell
        label: CLI
        source: "svix ingest source update \"src_31Dc4Mx7vQVLfxFgArIhq\" '{\n    \"name\": \"sample string\",\n    \"uid\": \"unique-identifier\",\n    \"metadata\": {},\n    \"type\": \"cron\",\n    \"config\": {\n      \"schedule\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"contentType\": \"sample string\"\n    }\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'PUT' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"name\": \"sample string\",\n    \"uid\": \"unique-identifier\",\n    \"metadata\": {},\n    \"type\": \"cron\",\n    \"config\": {\n      \"schedule\": \"sample string\",\n      \"payload\": \"sample string\",\n      \"contentType\": \"sample string\"\n    }\n  }'"
    delete:
      tags:
      - Ingest Source
      summary: Delete Ingest Source
      description: Delete an Ingest Source.
      operationId: v1.ingest.source.delete
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      responses:
        '204':
          description: no content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: await svix.ingest.source.delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: TypeScript
        label: TypeScript
        source: await svix.ingest.source.delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: Python
        label: Python
        source: "svix.ingest.source.delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - lang: Python
        label: Python (Async)
        source: "await svix.ingest.source.delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - lang: Go
        label: Go
        source: err := svix.Ingest.Source.Delete(ctx, "src_31Dc4Mx7vQVLfxFgArIhq")
      - lang: Kotlin
        label: Kotlin
        source: "svix.ingest.source.delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n)"
      - lang: Java
        label: Java
        source: svix.getIngest().getSource().delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: Ruby
        label: Ruby
        source: response = svix.ingest.source.delete("src_31Dc4Mx7vQVLfxFgArIhq")
      - lang: Rust
        label: Rust
        source: svix.ingest().source().delete("src_31Dc4Mx7vQVLfxFgArIhq".to_string()).await?;
      - lang: C#
        label: C#
        source: var response = svix.Ingest.Source.Delete("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: PHP
        label: PHP
        source: "$svix->ingest->source->delete(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n);"
      - lang: Shell
        label: CLI
        source: svix ingest source delete "src_31Dc4Mx7vQVLfxFgArIhq"
      - lang: Shell
        label: cURL
        source: "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
    patch:
      tags:
      - Ingest Source
      summary: Patch Ingest Source
      description: Patch an Ingest Source.
      operationId: v1.ingest.source.patch
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSourcePatch'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSourceOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-internal: true
  /ingest/api/v1/source/{source_id}/token/rotate:
    post:
      tags:
      - Ingest Source
      summary: Rotate Ingest Token
      description: 'Rotate the Ingest Source''s Url Token.


        This will rotate the ingest source''s token, which is used to

        construct the unique `ingestUrl` for the source. Previous tokens

        will remain valid for 48 hours after rotation. The token can be

        rotated a maximum of three times within the 48-hour period.'
      operationId: v1.ingest.source.rotate-token
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateTokenOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: const response = await svix.ingest.source.rotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: TypeScript
        label: TypeScript
        source: const response = await svix.ingest.source.rotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: Python
        label: Python
        source: "response = svix.ingest.source.rotate_token(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.ingest.source.rotate_token(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n)"
      - lang: Go
        label: Go
        source: response, err := svix.Ingest.Source.RotateToken(ctx, "src_31Dc4Mx7vQVLfxFgArIhq", nil)
      - lang: Kotlin
        label: Kotlin
        source: val response = svix.ingest.source.rotateToken("src_31Dc4Mx7vQVLfxFgArIhq")
      - lang: Java
        label: Java
        source: var response = svix.getIngest().getSource().rotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: Ruby
        label: Ruby
        source: response = svix.ingest.source.rotate_token("src_31Dc4Mx7vQVLfxFgArIhq")
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .ingest()\n    .source()\n    .rotate_token(\"src_31Dc4Mx7vQVLfxFgArIhq\".to_string(), None)\n    .await?;"
      - lang: C#
        label: C#
        source: var response = svix.Ingest.Source.RotateToken("src_31Dc4Mx7vQVLfxFgArIhq");
      - lang: PHP
        label: PHP
        source: "$response = $svix->ingest->source->rotateToken(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\"\n);"
      - lang: Shell
        label: CLI
        source: svix ingest source rotate-token "src_31Dc4Mx7vQVLfxFgArIhq"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq/token/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
  /ingest/api/v1/source/{source_id}/dashboard:
    post:
      tags:
      - Ingest Source
      summary: Ingest Source Consumer Portal
      description: Get access to the Ingest Source Consumer Portal.
      operationId: v1.ingest.dashboard
      parameters:
      - in: path
        name: source_id
        description: The Source's ID or UID.
        required: true
        schema:
          description: The Source's ID or UID.
          type: string
          maxLength: 60
          minLength: 1
          example: unique-identifier
        style: simple
      - in: header
        name: idempotency-key
        description: The request's idempotency key
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSourceConsumerPortalAccessIn'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardAccessOut'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
      security:
      - HTTPBearer: []
      x-codeSamples:
      - lang: TypeScript
        label: JavaScript
        source: "const response = await svix.ingest.dashboard(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  expiry: 1,\n  readOnly: true,\n});"
      - lang: TypeScript
        label: TypeScript
        source: "const response = await svix.ingest.dashboard(\"src_31Dc4Mx7vQVLfxFgArIhq\", {\n  expiry: 1,\n  readOnly: true,\n});"
      - lang: Python
        label: Python
        source: "response = svix.ingest.dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceConsumerPortalAccessIn(\n        expiry=1,\n        read_only=True,\n    ),\n)"
      - lang: Python
        label: Python (Async)
        source: "response = await svix.ingest.dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceConsumerPortalAccessIn(\n        expiry=1,\n        read_only=True,\n    ),\n)"
      - lang: Go
        label: Go
        source: "response, err := svix.Ingest.Dashboard(\n\tctx,\n\t\"src_31Dc4Mx7vQVLfxFgArIhq\",\n\tIngestSourceConsumerPortalAccessIn{Expiry: new(uint64(1)), ReadOnly: new(true)},\n\tnil,\n)"
      - lang: Kotlin
        label: Kotlin
        source: "val response =\n    svix.ingest.dashboard(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\",\n        IngestSourceConsumerPortalAccessIn(expiry = 1u, readOnly = true),\n    )"
      - lang: Java
        label: Java
        source: "var response = svix.getIngest()\n        .dashboard(\n            \"src_31Dc4Mx7vQVLfxFgArIhq\",\n            new IngestSourceConsumerPortalAccessIn().expiry(1L).readOnly(true));"
      - lang: Ruby
        label: Ruby
        source: 'response = svix.ingest.dashboard("src_31Dc4Mx7vQVLfxFgArIhq", {expiry: 1, readOnly: true})'
      - lang: Rust
        label: Rust
        source: "let response = svix\n    .ingest()\n    .dashboard(\n        \"src_31Dc4Mx7vQVLfxFgArIhq\".to_string(),\n        IngestSourceConsumerPortalAccessIn {\n            expiry: Some(1),\n            read_only: Some(true),\n        },\n        None,\n    )\n    .await?;"
      - lang: C#
        label: C#
        source: "var response = svix.Ingest.Dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    new IngestSourceConsumerPortalAccessIn { Expiry = 1, ReadOnly = true }\n);"
      - lang: PHP
        label: PHP
        source: "$response = $svix->ingest->dashboard(\n    \"src_31Dc4Mx7vQVLfxFgArIhq\",\n    IngestSourceConsumerPortalAccessIn::create()\n    ->withExpiry(1)\n    ->withReadOnly(true)\n);"
      - lang: Shell
        label: CLI
        source: "svix ingest dashboard \"src_31Dc4Mx7vQVLfxFgArIhq\" '{\n    \"expiry\": 1,\n    \"readOnly\": true\n  }'"
      - lang: Shell
        label: cURL
        source: "curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/src_31Dc4Mx7vQVLfxFgArIhq/dashboard' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"expiry\": 1,\n    \"readOnly\": true\n  }'"
components:
  schemas:
    PortIoConfigOut:
      type: object
    TailscaleConfigOut:
      type: object
    NangoConfigOut:
      type: object
    IngestSourceOut:
      type: object
      properties:
        id:
          description: The Source's ID.
          type: string
          maxLength: 26
          minLength: 25
          pattern: ^src_[A-Za-z0-9]{21,22}$
          example: src_2yZwUhtgs5Ai8T9yRQJXA
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        name:
          type: string
        ingestUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties:
            type: string
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - generic-webhook
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - cron
          config:
            $ref: '#/components/schemas/CronConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - adobe-sign
          config:
            $ref: '#/components/schemas/AdobeSignConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - beehiiv
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - brex
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - checkbook
          config:
            $ref: '#/components/schemas/CheckbookConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - clerk
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - docusign
          config:
            $ref: '#/components/schemas/DocusignConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - easypost
          config:
            $ref: '#/components/schemas/EasypostConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - github
          config:
            $ref: '#/components/schemas/GithubConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - guesty
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - hubspot
          config:
            $ref: '#/components/schemas/HubspotConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - incident-io
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - lithic
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - meta
          config:
            $ref: '#/components/schemas/MetaConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - nango
          config:
            $ref: '#/components/schemas/NangoConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - nash
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - openclaw
          config:
            $ref: '#/components/schemas/OpenClawConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - orum-io
          config:
            $ref: '#/components/schemas/OrumIoConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - panda-doc
          config:
            $ref: '#/components/schemas/PandaDocConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - port-io
          config:
            $ref: '#/components/schemas/PortIoConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - psi-fi
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - pleo
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - replicate
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - resend
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - rutter
          config:
            $ref: '#/components/schemas/RutterConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - safebase
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - sardine
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - segment
          config:
            $ref: '#/components/schemas/SegmentConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - shopify
          config:
            $ref: '#/components/schemas/ShopifyConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - slack
          config:
            $ref: '#/components/schemas/SlackConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - stripe
          config:
            $ref: '#/components/schemas/StripeConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - stych
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - svix
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - zoom
          config:
            $ref: '#/components/schemas/ZoomConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - tailscale
          config:
            $ref: '#/components/schemas/TailscaleConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - telnyx
          config:
            $ref: '#/components/schemas/TelnyxConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - vapi
          config:
            $ref: '#/components/schemas/VapiConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - open-ai
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - render
          config:
            $ref: '#/components/schemas/SvixConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - veriff
          config:
            $ref: '#/components/schemas/VeriffConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - airwallex
          config:
            $ref: '#/components/schemas/AirwallexConfigOut'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - vgs
          config:
            $ref: '#/components/schemas/VgsConfigOut'
        required:
        - config
        - type
      required:
      - createdAt
      - id
      - metadata
      - name
      - updatedAt
    HubspotConfigOut:
      type: object
    OpenClawConfigOut:
      type: object
    AdobeSignConfigOut:
      type: object
    CheckbookConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    ShopifyConfigOut:
      type: object
    SlackConfigOut:
      type: object
    OpenClawConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    StripeConfigOut:
      type: object
    AirwallexConfigOut:
      type: object
    VapiConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    CheckbookConfigOut:
      type: object
    MetaConfig:
      type: object
      properties:
        secret:
          type: string
        verifyToken:
          type: string
      required:
      - secret
      - verifyToken
    SegmentConfig:
      type: object
      properties:
        secret:
          type: string
          nullable: true
    AdobeSignConfig:
      type: object
      properties:
        clientId:
          type: string
      required:
      - clientId
    ShopifyConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    RutterConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    EasypostConfigOut:
      type: object
    VapiConfigOut:
      type: object
    SvixConfigOut:
      type: object
    OrumIoConfigOut:
      type: object
      properties:
        publicKey:
          type: string
      required:
      - publicKey
    HttpErrorOut:
      title: HttpError
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
      required:
      - code
      - detail
    VeriffConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    IngestSourcePatch:
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
    OrumIoConfig:
      type: object
      properties:
        publicKey:
          type: string
      required:
      - publicKey
    VeriffConfigOut:
      type: object
    EasypostConfig:
      type: object
      properties:
        secret:
          type: string
          nullable: true
    GithubConfigOut:
      type: object
    DocusignConfig:
      type: object
      properties:
        secret:
          type: string
          nullable: true
    SvixConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    MetaConfigOut:
      type: object
    TelnyxConfigOut:
      type: object
      properties:
        publicKey:
          type: string
      required:
      - publicKey
    DocusignConfigOut:
      type: object
    PandaDocConfigOut:
      type: object
    ListResponse_IngestSourceOut_:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/IngestSourceOut'
        iterator:
          type: string
          nullable: true
          example: iterator
        prevIterator:
          type: string
          nullable: true
          example: -iterator
        done:
          type: boolean
      required:
      - data
      - done
      - iterator
    Ordering:
      description: Defines the ordering in a listing of results.
      type: string
      enum:
      - ascending
      - descending
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      required:
      - detail
    SegmentConfigOut:
      type: object
    ValidationError:
      description: Validation errors have their own schema to provide context for invalid requests eg. mismatched types and out of bounds values. There may be any number of these per 422 UNPROCESSABLE ENTITY error.
      type: object
      properties:
        loc:
          description: The location as a [`Vec`] of [`String`]s -- often in the form `["body", "field_name"]`, `["query", "field_name"]`, etc. They may, however, be arbitrarily deep.
          type: array
          items:
            type: string
        msg:
          description: The message accompanying the validation error item.
          type: string
        type:
          description: The type of error, often "type_error" or "value_error", but sometimes with more context like as "value_error.number.not_ge"
          type: string
      required:
      - loc
      - msg
      - type
    ZoomConfigOut:
      type: object
    PandaDocConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    StripeConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    SlackConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    TailscaleConfig:
      type: object
      properties:
        secret:
          description: Shared secret for Tailscale Webhooks
          type: string
        timestampGraceSeconds:
          description: 'Grace period (in seconds) for the timestamp.


            If not passed, timestamp age will not be checked.'
          type: integer
          format: uint32
          default: null
          minimum: 0
          nullable: true
      required:
      - secret
    CronConfig:
      type: object
      properties:
        schedule:
          type: string
        payload:
          type: string
        contentType:
          description: 'Override the default content-type.


            Recommended if the payload is not JSON.'
          type: string
          nullable: true
      required:
      - payload
      - schedule
    GithubConfig:
      type: object
      properties:
        secret:
          type: string
          nullable: true
    HubspotConfig:
      type: object
      properties:
        secret:
          type: string
          nullable: true
    TelnyxConfig:
      type: object
      properties:
        publicKey:
          type: string
      required:
      - publicKey
    PortIoConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    VgsConfigOut:
      type: object
    NangoConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    ZoomConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    AirwallexConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    IngestSourceIn:
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          minLength: 2
        uid:
          description: The Source's UID.
          type: string
          maxLength: 60
          minLength: 1
          pattern: ^(?!src_)[a-zA-Z0-9_-]+$
          example: unique-identifier
          nullable: true
        metadata:
          type: object
          default: {}
          additionalProperties:
            type: string
      oneOf:
      - description: Webhooks with no verification scheme or special handling.
        type: object
        properties:
          type:
            type: string
            enum:
            - generic-webhook
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - cron
          config:
            $ref: '#/components/schemas/CronConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - adobe-sign
          config:
            $ref: '#/components/schemas/AdobeSignConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - beehiiv
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - brex
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - checkbook
          config:
            $ref: '#/components/schemas/CheckbookConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - clerk
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - docusign
          config:
            $ref: '#/components/schemas/DocusignConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - easypost
          config:
            $ref: '#/components/schemas/EasypostConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - github
          config:
            $ref: '#/components/schemas/GithubConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - guesty
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - hubspot
          config:
            $ref: '#/components/schemas/HubspotConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - incident-io
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - lithic
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - meta
          config:
            $ref: '#/components/schemas/MetaConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - nango
          config:
            $ref: '#/components/schemas/NangoConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - nash
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - openclaw
          config:
            $ref: '#/components/schemas/OpenClawConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - orum-io
          config:
            $ref: '#/components/schemas/OrumIoConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - panda-doc
          config:
            $ref: '#/components/schemas/PandaDocConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - port-io
          config:
            $ref: '#/components/schemas/PortIoConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - pleo
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - psi-fi
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - replicate
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - resend
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - rutter
          config:
            $ref: '#/components/schemas/RutterConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - safebase
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - sardine
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - segment
          config:
            $ref: '#/components/schemas/SegmentConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - shopify
          config:
            $ref: '#/components/schemas/ShopifyConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - slack
          config:
            $ref: '#/components/schemas/SlackConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - stripe
          config:
            $ref: '#/components/schemas/StripeConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - stych
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - svix
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - zoom
          config:
            $ref: '#/components/schemas/ZoomConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - tailscale
          config:
            $ref: '#/components/schemas/TailscaleConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - telnyx
          config:
            $ref: '#/components/schemas/TelnyxConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - vapi
          config:
            $ref: '#/components/schemas/VapiConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - open-ai
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - render
          config:
            $ref: '#/components/schemas/SvixConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - veriff
          config:
            $ref: '#/components/schemas/VeriffConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - airwallex
          config:
            $ref: '#/components/schemas/AirwallexConfig'
        required:
        - config
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - vgs
          config:
            $ref: '#/components/schemas/VgsConfig'
        required:
        - config
        - type
      required:
      - name
    DashboardAccessOut:
      type: object
      properties:
        url:
          type: string
          format: uri
          minLength: 1
          maxLength: 65536
          example: https://app.svix.com/login#key=eyJhcHBJZCI6ICJhcHBfMXRSdFl
        token:
          type: string
          example: appsk_kV3ts5tKPNJN4Dl25cMTfUNdmabxbX0O
      required:
      - token
      - url
    VgsConfig:
      type: object
      properties:
        secret:
          type: string
      required:
      - secret
    IngestSourceConsumerPortalAccessIn:
      type: object
      properties:
        expiry:
          description: 'How long the token will be valid for, in seconds.


            Valid values are between 1 hour and 7 days. The default is 7 days.'
          type: integer
          format: uint64
          maximum: 604800
          minimum: 3600
          nullable: true
        readOnly:
          description: Whether the app portal should be in read-only mode.
          type: boolean
          nullable: true
    RutterConfigOut:
      type: object
    RotateTokenOut:
      type: object
      properties:
        ingestUrl:
          type: string
      required:
      - ingestUrl
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: HTTP Bearer token passed in the `Authorization` header
x-tagGroups:
- name: General
  tags:
  - Background Task
  - Environment
- name: Dispatch
  tags:
  - Application
  - Event Type
  - Authentication
  - Endpoint
  - Message
  - Message Attempt
  - Integration
  - Connector
- name: Stream
  tags:
  - Stream
  - Sink
  - Event
  - Stream Event Type
  - Stream Authentication
- name: Ingest
  tags:
  - Ingest Source
  - Ingest Endpoint
- name: Operational Webhooks
  tags:
  - Webhook
  - Webhook Endpoint
- name: Statistics
  tags:
  - Statistics
- name: Utility
  tags:
  - Health
x-webhooks:
  endpoint.created:
    post:
      tags:
      - Webhook
      summary: endpoint.created
      description: Sent when an endpoint is created.
      operationId: endpoint.created
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointCreatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.created
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.deleted:
    post:
      tags:
      - Webhook
      summary: endpoint.deleted
      description: Sent when an endpoint is deleted.
      operationId: endpoint.deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDeletedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.deleted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: endpoint.disabled
      description: Sent when an endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointDisabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.enabled:
    post:
      tags:
      - Webhook
      summary: endpoint.enabled
      description: Sent when an endpoint has been enabled.
      operationId: endpoint.enabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointEnabledEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.enabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  endpoint.updated:
    post:
      tags:
      - Webhook
      summary: endpoint.updated
      description: Sent when an endpoint is updated.
      operationId: endpoint.updated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdatedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
              type: endpoint.updated
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptExhaustedEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `message.attempt.exhausted` which is sent after the last failure.'
      operationId: message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptFailingEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptRecoveredEvent'
            example:
              data:
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
  background_task.finished:
    post:
      tags:
      - Webhook
      summary: background_task.finished
      description: Sent when a background task is finished.
      operationId: background_task.finished
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundTaskFinishedEvent'
            example:
              data:
                taskId: qtask_1srOrx2ZWZBpBUvZwXKQmoEYga2
                task: application.stats
                status: finished
                data:
                  appStats:
                  - messageDestinations: 343
                    appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                    appUid: null
              type: background_task.finished
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.endpoint.disabled:
    post:
      tags:
      - Webhook
      summary: ingest.endpoint.disabled
      description: Sent when an ingest endpoint has been automatically disabled after continuous failures, or manually via an API call.
      operationId: ingest.endpoint.disabled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestEndpointDisabledEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                endpointUid: unique-endpoint-identifier
                failSince: '2022-11-06T15:04:05Z'
                trigger: automatic
              type: ingest.endpoint.disabled
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.exhausted:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.exhausted
      description: Sent when a message delivery has failed (all of the retry attempts have been exhausted).
      operationId: ingest.message.attempt.exhausted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptExhaustedEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.exhausted
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.failing:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.failing
      description: 'Sent after a message has been failing for a few times.

        It''s sent on the fourth failure. It complements `ingest.message.attempt.exhausted` which is sent after the last failure.'
      operationId: ingest.message.attempt.failing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptFailingEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 500
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.failing
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  ingest.message.attempt.recovered:
    post:
      tags:
      - Webhook
      summary: ingest.message.attempt.recovered
      description: Sent on a successful dispatch after an earlier failure op webhook has already been sent.
      operationId: ingest.message.attempt.recovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageAttemptRecoveredEvent'
            example:
              data:
                sourceId: src_30HT9jb8WZXKVWIO44ZDr
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                lastAttempt:
                  id: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                  responseStatusCode: 200
                  timestamp: '2022-11-06T15:04:05Z'
              type: ingest.message.attempt.recovered
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
  message.attempt.log:
    post:
      tags:
      - Webhook
      summary: message.attempt.log
      description: Sent after message attempts are made. Contains metadata about message attempts and their results. In order to reduce the frequency of webhooks, these are sent in batches periodically.
      operationId: message.attempt.log
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAttemptLogEvent'
            example:
              data:
              - orgId: env_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appId: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
                appUid: unique-app-identifier
                endpointId: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgId: msg_1srOrx2ZWZBpBUvZwXKQmoEYga2
                msgEventId: unique-msg-identifier
                msgCreated: '2022-11-06T15:04:05Z'
                attemptStart: '2022-11-06T15:04:06Z'
                attemptEnd: '2022-11-06T15:04:07Z'
                attemptId: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
                responseStatusCode: 200
                attemptCount: 1
                status: 0
                eventType: user.signup
              type: message.attempt.log
      responses:
        2XX:
          description: Return any 2XX status to indicate that the data was received successfully
      x-svix-group-name: dispatch
      x-svix-feature-flags:
      - attempt_log
      x-internal: true
