{
  "openapi": "3.1.0",
  "info": {
    "title": "Svix API",
    "description": "Welcome to the Svix API documentation!\n\nUseful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)\n\n# Introduction\n\nThis is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).\n\n## Main concepts\n\nIn Svix you have four important entities you will be interacting with:\n\n- `messages`: these are the webhooks being sent. They can have contents and a few other properties.\n- `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.\n- `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).\n- `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.\n\n\n## Authentication\n\nGet your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).\n\n<SecurityDefinitions />\n\n\n## Code samples\n\nThe code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).\n\n\n## Idempotency\n\nSvix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.\n\nTo perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.\n\nSvix's idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.\n\nPlease note that idempotency is only supported for `POST` requests.\n\n\n## Cross-Origin Resource Sharing\n\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n",
    "version": "1.84.0",
    "x-logo": {
      "altText": "Svix Logo",
      "url": "https://www.svix.com/static/img/brand-padded.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.eu.svix.com/",
      "description": "The Svix EU region"
    },
    {
      "url": "https://api.us.svix.com/",
      "description": "The Svix US region"
    },
    {
      "url": "https://api.ca.svix.com/",
      "description": "The Svix Canada region"
    },
    {
      "url": "https://api.au.svix.com/",
      "description": "The Svix Australia region"
    },
    {
      "url": "https://api.in.svix.com/",
      "description": "The Svix India region"
    }
  ],
  "paths": {
    "/api/v1/app": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "List Applications",
        "description": "List of all the organization's applications.",
        "operationId": "v1.application.list",
        "parameters": [
          {
            "in": "query",
            "name": "exclude_apps_with_no_endpoints",
            "description": "Exclude applications that have no endpoints. Default is false.",
            "schema": {
              "description": "Exclude applications that have no endpoints. Default is false.",
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "exclude_apps_with_disabled_endpoints",
            "description": "Exclude applications that have only disabled endpoints. Default is false.",
            "schema": {
              "description": "Exclude applications that have only disabled endpoints. Default is false.",
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "exclude_apps_with_svix_play_endpoints",
            "description": "Exclude applications that only have Svix Play endpoints. Default is false.",
            "schema": {
              "description": "Exclude applications that only have Svix Play endpoints. Default is false.",
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of returned items",
            "schema": {
              "description": "Limit the number of returned items",
              "type": "integer",
              "format": "uint64",
              "maximum": 250.0,
              "minimum": 1.0
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "iterator",
            "description": "The iterator returned from a prior invocation",
            "schema": {
              "description": "The iterator returned from a prior invocation",
              "type": "string",
              "maxLength": 31,
              "minLength": 31,
              "pattern": "^app_[A-Za-z0-9]{27}$",
              "nullable": true,
              "example": "app_1srOrx2ZWZBpBUvZwXKQmoEYga2"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "order",
            "description": "The sorting order of the returned items",
            "schema": {
              "description": "The sorting order of the returned items",
              "$ref": "#/components/schemas/Ordering",
              "nullable": true
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_ApplicationOut_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.list();"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.list();"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.application.list()"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.application.list()"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Application.List(ctx, nil)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response = svix.application.list()"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getApplication().list();"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix.application.list"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix.application().list(None).await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Application.List();"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->application->list();"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix application list"
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
          }
        ]
      },
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Create Application",
        "description": "Create a new application.",
        "operationId": "v1.application.create",
        "parameters": [
          {
            "in": "query",
            "name": "get_if_exists",
            "description": "Get an existing application, or create a new one if doesn't exist. It's two separate functions in the libs.",
            "schema": {
              "description": "Get an existing application, or create a new one if doesn't exist. It's two separate functions in the libs.",
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "header",
            "name": "idempotency-key",
            "description": "The request's idempotency key",
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "in": "header",
            "name": "idempotency-key",
            "description": "The request's idempotency key",
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOut"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOut"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.create({\n  metadata: {},\n  name: \"My first application\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n});"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.create({\n  metadata: {},\n  name: \"My first application\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n});"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.application.create(\n    ApplicationIn(\n        metadata={},\n        name=\"My first application\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n    ),\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.application.create(\n    ApplicationIn(\n        metadata={},\n        name=\"My first application\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n    ),\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Application.Create(\n\tctx,\n\tApplicationIn{\n\t\tMetadata:     nil,\n\t\tName:         \"My first application\",\n\t\tThrottleRate: new(uint16(1)),\n\t\tUid:          new(\"unique-identifier\"),\n\t},\n\tnil,\n)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response =\n    svix.application.create(\n        ApplicationIn(\n            metadata = mapOf(),\n            name = \"My first application\",\n            throttleRate = 1u,\n            uid = \"unique-identifier\",\n        )\n    )"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getApplication()\n        .create(new ApplicationIn()\n            .metadata(Map.of())\n            .name(\"My first application\")\n            .throttleRate(1L)\n            .uid(\"unique-identifier\"));"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix\n  .application\n  .create({metadata: {}, name: \"My first application\", throttleRate: 1, uid: \"unique-identifier\"})"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .application()\n    .create(\n        ApplicationIn {\n            metadata: Some(HashMap::new()),\n            name: \"My first application\".to_string(),\n            throttle_rate: Some(1),\n            uid: Some(\"unique-identifier\".to_string()),\n        },\n        None,\n    )\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Application.Create(\n    new ApplicationIn\n    {\n        Metadata = [],\n        Name = \"My first application\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n    }\n);"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->application->create(\n    ApplicationIn::create(\n        name: \"My first application\"\n    )\n    ->withMetadata([])\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix application create '{\n    \"metadata\": {},\n    \"name\": \"My first application\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\"\n  }'"
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"metadata\": {},\n    \"name\": \"My first application\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\"\n  }'"
          }
        ]
      }
    },
    "/api/v1/app/{app_id}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Get Application",
        "description": "Get an application.",
        "operationId": "v1.application.get",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOut"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.application.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.application.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Application.Get(ctx, \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response = svix.application.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getApplication().get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix.application.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .application()\n    .get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string())\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Application.Get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->application->get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix application get \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\""
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
          }
        ]
      },
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Update Application",
        "description": "Update an application.",
        "operationId": "v1.application.update",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOut"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOut"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.update(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  metadata: {},\n  name: \"My first application\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n});"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.update(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  metadata: {},\n  name: \"My first application\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n});"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.application.update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationIn(\n        metadata={},\n        name=\"My first application\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n    ),\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.application.update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationIn(\n        metadata={},\n        name=\"My first application\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n    ),\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Application.Update(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tApplicationIn{\n\t\tMetadata:     nil,\n\t\tName:         \"My first application\",\n\t\tThrottleRate: new(uint16(1)),\n\t\tUid:          new(\"unique-identifier\"),\n\t},\n)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response =\n    svix.application.update(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        ApplicationIn(\n            metadata = mapOf(),\n            name = \"My first application\",\n            throttleRate = 1u,\n            uid = \"unique-identifier\",\n        ),\n    )"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getApplication()\n        .update(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new ApplicationIn()\n                .metadata(Map.of())\n                .name(\"My first application\")\n                .throttleRate(1L)\n                .uid(\"unique-identifier\"));"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix\n  .application\n  .update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    {metadata: {}, name: \"My first application\", throttleRate: 1, uid: \"unique-identifier\"}\n  )"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .application()\n    .update(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        ApplicationIn {\n            metadata: Some(HashMap::new()),\n            name: \"My first application\".to_string(),\n            throttle_rate: Some(1),\n            uid: Some(\"unique-identifier\".to_string()),\n        },\n    )\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Application.Update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new ApplicationIn\n    {\n        Metadata = [],\n        Name = \"My first application\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n    }\n);"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->application->update(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationIn::create(\n        name: \"My first application\"\n    )\n    ->withMetadata([])\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix application update \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"metadata\": {},\n    \"name\": \"My first application\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\"\n  }'"
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"metadata\": {},\n    \"name\": \"My first application\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\"\n  }'"
          }
        ]
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Delete Application",
        "description": "Delete an application.",
        "operationId": "v1.application.delete",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "await svix.application.delete(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "await svix.application.delete(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "svix.application.delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "await svix.application.delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "err := svix.Application.Delete(ctx, \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "svix.application.delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n)"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "svix.getApplication().delete(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix.application.delete(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "svix.application().delete(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string()).await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Application.Delete(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$svix->application->delete(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix application delete \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\""
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
          }
        ]
      },
      "patch": {
        "tags": [
          "Application"
        ],
        "summary": "Patch Application",
        "description": "Partially update an application.",
        "operationId": "v1.application.patch",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOut"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.patch(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  metadata: {},\n  name: \"sample string\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n});"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.application.patch(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  metadata: {},\n  name: \"sample string\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n});"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.application.patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationPatch(\n        metadata={},\n        name=\"sample string\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n    ),\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.application.patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationPatch(\n        metadata={},\n        name=\"sample string\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n    ),\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Application.Patch(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tApplicationPatch{\n\t\tMetadata:     nil,\n\t\tName:         new(\"sample string\"),\n\t\tThrottleRate: NewNullable(uint16(1)),\n\t\tUid:          NewNullable(\"unique-identifier\"),\n\t},\n)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response =\n    svix.application.patch(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        ApplicationPatch(\n            metadata = mapOf(),\n            name = \"sample string\",\n            throttleRate = MaybeUnset.Present(1u),\n            uid = MaybeUnset.Present(\"unique-identifier\"),\n        ),\n    )"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getApplication()\n        .patch(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new ApplicationPatch()\n                .metadata(Map.of())\n                .name(\"sample string\")\n                .throttleRate(1L)\n                .uid(\"unique-identifier\"));"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix\n  .application\n  .patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    {metadata: {}, name: \"sample string\", throttleRate: 1, uid: \"unique-identifier\"}\n  )"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .application()\n    .patch(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        ApplicationPatch {\n            metadata: Some(HashMap::new()),\n            name: Some(\"sample string\".to_string()),\n            throttle_rate: js_option::JsOption::Some(1),\n            uid: js_option::JsOption::Some(\"unique-identifier\".to_string()),\n        },\n    )\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Application.Patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new ApplicationPatch\n    {\n        Metadata = [],\n        Name = \"sample string\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n    }\n);"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->application->patch(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationPatch::create()\n    ->withMetadata([])\n    ->withName(\"sample string\")\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix application patch \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"metadata\": {},\n    \"name\": \"sample string\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\"\n  }'"
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"metadata\": {},\n    \"name\": \"sample string\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\"\n  }'"
          }
        ]
      }
    },
    "/api/v1/app/{app_id}/attempt/endpoint/{endpoint_id}": {
      "get": {
        "tags": [
          "Message Attempt"
        ],
        "summary": "List Attempts By Endpoint",
        "description": "List attempts by endpoint id\n\nNote that by default this endpoint is limited to retrieving 90 days' worth of data\nrelative to now or, if an iterator is provided, 90 days before/after the time indicated\nby the iterator ID. If you require data beyond those time ranges, you will need to explicitly\nset the `before` or `after` parameter as appropriate.\n",
        "operationId": "v1.message-attempt.list-by-endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of returned items",
            "schema": {
              "description": "Limit the number of returned items",
              "type": "integer",
              "format": "uint64",
              "maximum": 250.0,
              "minimum": 1.0
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "iterator",
            "description": "The iterator returned from a prior invocation",
            "schema": {
              "description": "The iterator returned from a prior invocation",
              "type": "string",
              "maxLength": 33,
              "minLength": 33,
              "pattern": "^atmpt_[A-Za-z0-9]{27}$",
              "nullable": true,
              "example": "atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)",
            "schema": {
              "description": "Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)",
              "$ref": "#/components/schemas/MessageStatus",
              "nullable": true
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "status_code_class",
            "description": "Filter response based on the HTTP status code",
            "schema": {
              "description": "Filter response based on the HTTP status code",
              "$ref": "#/components/schemas/StatusCodeClass",
              "nullable": true
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "channel",
            "description": "Filter response based on the channel",
            "schema": {
              "description": "Filter response based on the channel",
              "type": "string",
              "maxLength": 128,
              "pattern": "^[a-zA-Z0-9\\-_.:]+$",
              "nullable": true,
              "example": "project_1337"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "tag",
            "description": "Filter response based on the tag",
            "schema": {
              "description": "Filter response based on the tag",
              "type": "string",
              "maxLength": 128,
              "pattern": "^[a-zA-Z0-9\\-_./\\\\#]+$",
              "nullable": true,
              "example": "project_1337"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "before",
            "description": "Only include items created before a certain date",
            "schema": {
              "description": "Only include items created before a certain date",
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "after",
            "description": "Only include items created after a certain date",
            "schema": {
              "description": "Only include items created after a certain date",
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "with_content",
            "description": "When `true` attempt content is included in the response",
            "schema": {
              "description": "When `true` attempt content is included in the response",
              "default": true,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "with_msg",
            "description": "When `true`, the message information is included in the response\n\nNote that message payloads are never included in the response, regardless of this flag.",
            "schema": {
              "description": "When `true`, the message information is included in the response\n\nNote that message payloads are never included in the response, regardless of this flag.",
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "expanded_statuses",
            "description": "When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)",
            "schema": {
              "description": "When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)",
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "event_types",
            "description": "Filter response based on the event type",
            "schema": {
              "description": "Filter response based on the event type",
              "type": "array",
              "items": {
                "description": "The event type's name",
                "type": "string",
                "maxLength": 256,
                "pattern": "^[a-zA-Z0-9\\-_.]+$",
                "example": "user.signup"
              },
              "uniqueItems": true,
              "nullable": true
            },
            "style": "form"
          },
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          },
          {
            "in": "path",
            "name": "endpoint_id",
            "description": "The Endpoint's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Endpoint's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_MessageAttemptOut_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.messageAttempt.listByEndpoint(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.messageAttempt.listByEndpoint(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.message_attempt.list_by_endpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.message_attempt.list_by_endpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.MessageAttempt.ListByEndpoint(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n\tnil,\n)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response =\n    svix.messageAttempt.listByEndpoint(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n    )"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getMessageAttempt()\n        .listByEndpoint(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix.message_attempt.list_by_endpoint(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .message_attempt()\n    .list_by_endpoint(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n        None,\n    )\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.MessageAttempt.ListByEndpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->messageAttempt->listByEndpoint(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix message-attempt list-by-endpoint \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\""
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/attempt/endpoint/ep_33ZIBDmz66FcPG35FnsbM6Ie4X1' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
          }
        ]
      }
    },
    "/api/v1/app/{app_id}/attempt/msg/{msg_id}": {
      "get": {
        "tags": [
          "Message Attempt"
        ],
        "summary": "List Attempts By Msg",
        "description": "List attempts by message ID.\n\nNote that by default this endpoint is limited to retrieving 90 days' worth of data\nrelative to now or, if an iterator is provided, 90 days before/after the time indicated\nby the iterator ID. If you require data beyond those time ranges, you will need to explicitly\nset the `before` or `after` parameter as appropriate.",
        "operationId": "v1.message-attempt.list-by-msg",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of returned items",
            "schema": {
              "description": "Limit the number of returned items",
              "type": "integer",
              "format": "uint64",
              "maximum": 250.0,
              "minimum": 1.0
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "iterator",
            "description": "The iterator returned from a prior invocation",
            "schema": {
              "description": "The iterator returned from a prior invocation",
              "type": "string",
              "maxLength": 33,
              "minLength": 33,
              "pattern": "^atmpt_[A-Za-z0-9]{27}$",
              "nullable": true,
              "example": "atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)",
            "schema": {
              "description": "Filter response based on the status of the attempt: Success (0), Pending (1), Failed (2), Sending (3), or Canceled (4)",
              "$ref": "#/components/schemas/MessageStatus",
              "nullable": true
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "status_code_class",
            "description": "Filter response based on the HTTP status code",
            "schema": {
              "description": "Filter response based on the HTTP status code",
              "$ref": "#/components/schemas/StatusCodeClass",
              "nullable": true
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "channel",
            "description": "Filter response based on the channel",
            "schema": {
              "description": "Filter response based on the channel",
              "type": "string",
              "maxLength": 128,
              "pattern": "^[a-zA-Z0-9\\-_.:]+$",
              "nullable": true,
              "example": "project_1337"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "tag",
            "description": "Filter response based on the tag",
            "schema": {
              "description": "Filter response based on the tag",
              "type": "string",
              "maxLength": 128,
              "pattern": "^[a-zA-Z0-9\\-_./\\\\#]+$",
              "nullable": true,
              "example": "project_1337"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "endpoint_id",
            "description": "Filter the attempts based on the attempted endpoint",
            "schema": {
              "description": "Filter the attempts based on the attempted endpoint",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "nullable": true,
              "example": "unique-identifier"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "before",
            "description": "Only include items created before a certain date",
            "schema": {
              "description": "Only include items created before a certain date",
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "after",
            "description": "Only include items created after a certain date",
            "schema": {
              "description": "Only include items created after a certain date",
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "with_content",
            "description": "When `true` attempt content is included in the response",
            "schema": {
              "description": "When `true` attempt content is included in the response",
              "default": true,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "expanded_statuses",
            "description": "When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)",
            "schema": {
              "description": "When `true`, return the Canceled (4) status in attempts. If `false`, canceled attempts are returned as Success (0)",
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          },
          {
            "in": "path",
            "name": "msg_id",
            "description": "The Message's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Message's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          },
          {
            "in": "query",
            "name": "event_types",
            "description": "Filter response based on the event type",
            "schema": {
              "description": "Filter response based on the event type",
              "type": "array",
              "items": {
                "description": "The event type's name",
                "type": "string",
                "maxLength": 256,
                "pattern": "^[a-zA-Z0-9\\-_.]+$",
                "example": "user.signup"
              },
              "uniqueItems": true,
              "nullable": true
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_MessageAttemptOut_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.messageAttempt.listByMsg(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.messageAttempt.listByMsg(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.message_attempt.list_by_msg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.message_attempt.list_by_msg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.MessageAttempt.ListByMsg(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n\tnil,\n)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response =\n    svix.messageAttempt.listByMsg(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\",\n    )"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getMessageAttempt()\n        .listByMsg(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\");"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix.message_attempt.list_by_msg(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\")"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .message_attempt()\n    .list_by_msg(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\".to_string(),\n        None,\n    )\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.MessageAttempt.ListByMsg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->messageAttempt->listByMsg(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\"\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix message-attempt list-by-msg \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" \"msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f\""
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/attempt/msg/msg_33ZHzkmDazsPr4mDUsdzXJrGQ1f' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
          }
        ]
      }
    },
    "/api/v1/app/{app_id}/endpoint": {
      "get": {
        "tags": [
          "Endpoint"
        ],
        "summary": "List Endpoints",
        "description": "List the application's endpoints.",
        "operationId": "v1.endpoint.list",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of returned items",
            "schema": {
              "description": "Limit the number of returned items",
              "type": "integer",
              "format": "uint64",
              "maximum": 250.0,
              "minimum": 1.0
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "iterator",
            "description": "The iterator returned from a prior invocation",
            "schema": {
              "description": "The iterator returned from a prior invocation",
              "type": "string",
              "maxLength": 30,
              "minLength": 30,
              "pattern": "^ep_[A-Za-z0-9]{27}$",
              "nullable": true,
              "example": "ep_1srOrx2ZWZBpBUvZwXKQmoEYga2"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "order",
            "description": "The sorting order of the returned items",
            "schema": {
              "description": "The sorting order of the returned items",
              "$ref": "#/components/schemas/Ordering",
              "nullable": true
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_EndpointOut_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.endpoint.list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.endpoint.list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.endpoint.list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.endpoint.list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Endpoint.List(ctx, \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", nil)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response = svix.endpoint.list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getEndpoint().list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix.endpoint.list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\")"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .endpoint()\n    .list(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(), None)\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Endpoint.List(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\");"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->endpoint->list(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\"\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix endpoint list \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\""
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json'"
          }
        ]
      },
      "post": {
        "tags": [
          "Endpoint"
        ],
        "summary": "Create Endpoint",
        "description": "Create a new endpoint for the application.\n\nWhen `secret` is `null` the secret is automatically generated (recommended).",
        "operationId": "v1.endpoint.create",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          },
          {
            "in": "header",
            "name": "idempotency-key",
            "description": "The request's idempotency key",
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "in": "header",
            "name": "idempotency-key",
            "description": "The request's idempotency key",
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndpointIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointOut"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.endpoint.create(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  channels: [\"project_123\", \"group_2\"],\n  description: \"An example endpoint name\",\n  disabled: true,\n  filterTypes: [\"user.signup\", \"user.deleted\"],\n  headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  metadata: {},\n  secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n  url: \"https://example.com/webhook/\",\n});"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.endpoint.create(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  channels: [\"project_123\", \"group_2\"],\n  description: \"An example endpoint name\",\n  disabled: true,\n  filterTypes: [\"user.signup\", \"user.deleted\"],\n  headers: { \"X-Example\": \"123\", \"X-Foobar\": \"Bar\" },\n  metadata: {},\n  secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n  throttleRate: 1,\n  uid: \"unique-identifier\",\n  url: \"https://example.com/webhook/\",\n});"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.endpoint.create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    EndpointIn(\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n        description=\"An example endpoint name\",\n        disabled=True,\n        filter_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n        metadata={},\n        secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        url=\"https://example.com/webhook/\",\n    ),\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.endpoint.create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    EndpointIn(\n        channels=[\n            \"project_123\",\n            \"group_2\",\n        ],\n        description=\"An example endpoint name\",\n        disabled=True,\n        filter_types=[\n            \"user.signup\",\n            \"user.deleted\",\n        ],\n        headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n        metadata={},\n        secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        throttle_rate=1,\n        uid=\"unique-identifier\",\n        url=\"https://example.com/webhook/\",\n    ),\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Endpoint.Create(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tEndpointIn{\n\t\tChannels:     []string{\"project_123\", \"group_2\"},\n\t\tDescription:  new(\"An example endpoint name\"),\n\t\tDisabled:     new(true),\n\t\tFilterTypes:  []string{\"user.signup\", \"user.deleted\"},\n\t\tHeaders:      &map[string]string{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n\t\tMetadata:     nil,\n\t\tSecret:       new(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"),\n\t\tThrottleRate: new(uint16(1)),\n\t\tUid:          new(\"unique-identifier\"),\n\t\tUrl:          \"https://example.com/webhook/\",\n\t},\n\tnil,\n)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response =\n    svix.endpoint.create(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        EndpointIn(\n            channels = setOf(\"project_123\", \"group_2\"),\n            description = \"An example endpoint name\",\n            disabled = true,\n            filterTypes = setOf(\"user.signup\", \"user.deleted\"),\n            headers = mapOf(\"X-Example\" to \"123\", \"X-Foobar\" to \"Bar\"),\n            metadata = mapOf(),\n            secret = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n            throttleRate = 1u,\n            uid = \"unique-identifier\",\n            url = \"https://example.com/webhook/\",\n        ),\n    )"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response = svix.getEndpoint()\n        .create(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new EndpointIn()\n                .channels(Set.of(\"project_123\", \"group_2\"))\n                .description(\"An example endpoint name\")\n                .disabled(true)\n                .filterTypes(Set.of(\"user.signup\", \"user.deleted\"))\n                .headers(Map.ofEntries(Map.entry(\"X-Example\", \"123\"), Map.entry(\"X-Foobar\", \"Bar\")))\n                .metadata(Map.of())\n                .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n                .throttleRate(1L)\n                .uid(\"unique-identifier\")\n                .url(URI.create(\"https://example.com/webhook/\")));"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix\n  .endpoint\n  .create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    {\n      channels: [\"project_123\", \"group_2\"],\n      description: \"An example endpoint name\",\n      disabled: true,\n      filterTypes: [\"user.signup\", \"user.deleted\"],\n      headers: {:\"X-Example\" => \"123\", :\"X-Foobar\" => \"Bar\"},\n      metadata: {},\n      secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      url: \"https://example.com/webhook/\"\n    }\n  )"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .endpoint()\n    .create(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        EndpointIn {\n            channels: Some(vec![\"project_123\".to_string(), \"group_2\".to_string()]),\n            description: Some(\"An example endpoint name\".to_string()),\n            disabled: Some(true),\n            filter_types: Some(\n                vec![\"user.signup\".to_string(), \"user.deleted\".to_string()],\n            ),\n            headers: Some(\n                HashMap::from([\n                    (\"X-Example\".to_string(), \"123\".to_string()),\n                    (\"X-Foobar\".to_string(), \"Bar\".to_string()),\n                ]),\n            ),\n            metadata: Some(HashMap::new()),\n            secret: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n            throttle_rate: Some(1),\n            uid: Some(\"unique-identifier\".to_string()),\n            url: \"https://example.com/webhook/\".to_string(),\n        },\n        None,\n    )\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Endpoint.Create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new EndpointIn\n    {\n        Channels = [\"project_123\", \"group_2\"],\n        Description = \"An example endpoint name\",\n        Disabled = true,\n        FilterTypes = [\"user.signup\", \"user.deleted\"],\n        Headers = new() { { \"X-Example\", \"123\" }, { \"X-Foobar\", \"Bar\" } },\n        Metadata = [],\n        Secret = \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n        ThrottleRate = 1,\n        Uid = \"unique-identifier\",\n        Url = \"https://example.com/webhook/\",\n    }\n);"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$response = $svix->endpoint->create(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    EndpointIn::create(\n        url: \"https://example.com/webhook/\"\n    )\n    ->withChannels([\"project_123\",\"group_2\"])\n    ->withDescription(\"An example endpoint name\")\n    ->withDisabled(true)\n    ->withFilterTypes([\"user.signup\",\"user.deleted\"])\n    ->withHeaders([\"X-Example\" => \"123\", \"X-Foobar\" => \"Bar\"])\n    ->withMetadata([])\n    ->withSecret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n);"
          },
          {
            "label": "CLI",
            "lang": "Shell",
            "source": "svix endpoint create \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ],\n    \"description\": \"An example endpoint name\",\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    },\n    \"metadata\": {},\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"https://example.com/webhook/\"\n  }'"
          },
          {
            "label": "cURL",
            "lang": "Shell",
            "source": "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"channels\": [\n      \"project_123\",\n      \"group_2\"\n    ],\n    \"description\": \"An example endpoint name\",\n    \"disabled\": true,\n    \"filterTypes\": [\n      \"user.signup\",\n      \"user.deleted\"\n    ],\n    \"headers\": {\n      \"X-Example\": \"123\",\n      \"X-Foobar\": \"Bar\"\n    },\n    \"metadata\": {},\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n    \"throttleRate\": 1,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"https://example.com/webhook/\"\n  }'"
          }
        ]
      }
    },
    "/api/v1/app/{app_id}/endpoint/{endpoint_id}": {
      "get": {
        "tags": [
          "Endpoint"
        ],
        "summary": "Get Endpoint",
        "description": "Get an endpoint.",
        "operationId": "v1.endpoint.get",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "description": "The Application's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Application's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          },
          {
            "in": "path",
            "name": "endpoint_id",
            "description": "The Endpoint's ID or UID.",
            "required": true,
            "schema": {
              "description": "The Endpoint's ID or UID.",
              "type": "string",
              "maxLength": 256,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_.]+$",
              "example": "unique-identifier"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointOut"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorOut"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "JavaScript",
            "lang": "TypeScript",
            "source": "const response = await svix.endpoint.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
          },
          {
            "label": "TypeScript",
            "lang": "TypeScript",
            "source": "const response = await svix.endpoint.get(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "response = svix.endpoint.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
          },
          {
            "label": "Python (Async)",
            "lang": "Python",
            "source": "response = await svix.endpoint.get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "response, err := svix.Endpoint.Get(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\t\"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\",\n)"
          },
          {
            "label": "Kotlin",
            "lang": "Kotlin",
            "source": "val response =\n    svix.endpoint.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
          },
          {
            "label": "Java",
            "lang": "Java",
            "source": "var response =\n        svix.getEndpoint().get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\");"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "response = svix.endpoint.get(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\")"
          },
          {
            "label": "Rust",
            "lang": "Rust",
            "source": "let response = svix\n    .endpoint()\n    .get(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\".to_string(),\n    )\n    .await?;"
          },
          {
            "label": "C#",
            "lang": "C#",
            "source": "var response = svix.Endpoint.Get(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    \"ep_33ZIBDmz66FcPG35FnsbM6Ie4X1\"\n);"
          },
          {
            "label": "PHP",
            "lang": "PHP",
[...]
